@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    /*
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
     */
    overflow-x: hidden;

}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    background-color: var(--gris);
}

/* -------------------------
Indicaciones
------------------------- */
.indicacion{
    color: green;
    font-weight: 400;
    text-transform: uppercase;
}

/* -------------------------
Colores
------------------------- */

:root {
    --primario: #CE112D;
    --primarioHover: #CE112DCC;
    --secundario: #53565A;
    --secundarioHover: #53565A30;
    --terciario: #C9C9C8;
    --terciarioHover: #C9C9C830;

    --link: #0777A8;
    --linkHover: #5FBFE0;

    --blanco: #FFFFFF;
    --gris: #FAFAFA;
    --grisDos: #EAEAEA;
    --negro: #050505;
    --transparente: #00000000;

    --textoPrincipal: 'Maven Pro', sans-serif;
    --textoSecundario: 'Source Serif Pro', serif;

    --transitions: all ease-in-out 300ms;
    --transitionsL: all ease-in-out 600ms;
    --transitionsXL: all ease-in-out 1200ms;

    --textShadow: #00000030 .2rem .2rem .1rem;
    --boxShadow: #00000030 .4rem .4rem .6rem;
}

/* --------------------
Titulos / Textos
-------------------- */
/* h1{
    font-size: 4.2rem;
    color: var(--blanco);
    font-family: var(--textoSecundario);
    text-transform: uppercase;
    color: var(--quinto);
} */

h2{
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    text-shadow: var(--textShadow);
    text-decoration: underline;
    padding: 1rem 1rem 1rem 0;
    color: var(--primario);
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    max-width: 40ch;
    padding-left: 4rem;
    text-indent: -4rem;
}

h2::before{
    content: "\00a0\00a0\00a0\00a0\00a0";
}

h3{
    color: var(--primero);
    font-size: 2.6rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: center;
    max-width: none;
    text-transform: uppercase;
}

h4{
    color: var(--negro);
    font-size: 2rem;
    font-weight: 400;
}

h5{
    color: var(--secundario);
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

h6{
    font-family: 'Roboto Slab', serif;
    font-size: 2.4rem;
    text-shadow: var(--textShadow);
    padding: 1rem 1rem 0 0;
    color: var(--primario);
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    max-width: 90ch;
    padding-left: 2rem;
    text-indent: -4rem;
}

h6::before{
    content: "\00a0\00a0\00a0\00a0\00a0";
}


p{
    color: var(--negro);
    font-size: 1.6rem;
    font-weight: 400;
    max-width: 90ch;
    padding: 0;
    text-align: justify;
}

/* --------------------
Botones
-------------------- */
.btn-primario{
    padding: 1rem 5rem;
    font-size: 1.4rem;
    color: var(--blanco);
    background-color: var(--primario);
    border: solid var(--primario) .2rem;
    border-radius: .5rem;
    text-transform: uppercase;
    transition: var(--transitions);
    cursor: pointer;
    margin: 1rem 2rem;
    box-shadow: var(--boxShadow);
    white-space: nowrap;
}

.btn-primario:hover{
    background-color: var(--primarioHover);
    border: solid var(--blanco) .2rem;
    font-weight: 500;
    transform: scale(1.05);
}

.btn-primario a{
    color: var(--blanco);
    text-decoration: none;
}

.boton{
    background-color: none;
    width: fit-content;
}

.btn-secundario{
    border: none;
    padding: 0;
    font-size: 1.4rem;
    transition: var(--transitions);
    cursor: pointer;
    margin: .2rem 1rem;
    white-space: nowrap;
    text-decoration: none;
    background-color: none;
    text-align: left;
    transform: translateX(-1rem);
    background-color: var(--transparente);
}

.btn-secundario::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f178";
    color: var(--link);
    text-decoration: none;
    padding-left: 1rem;
    transition: var(--transitions);
}

.btn-secundario:hover{
    transform: scale(1.1);
}

.btn-secundario:hover::after{
    padding-left: 2rem;
}

.btn-secundario a{
    color: var(--link);
}

.boton-flotante{
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    animation: whatsApp 3s linear infinite;

    z-index: 9999999999;
}

.boton-flotante .btn-flotante{
    background-color: #2BB741;
    border: solid var(--blanco);
    border-radius: 5rem;
}

.boton-flotante .btn-flotante:hover{
    background-color: #050505;
    transition: var(--transitionsL);
}

.boton-flotante .btn-flotante a{
    background-color: none;
    font-size: 2rem;
    text-decoration: none;
    color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
}

.boton-flotante .btn-flotante a{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.boton-flotante .btn-flotante a::after{
    content: "\f4ad";
    color: var(--blanco);
}

.boton-flotante .btn-flotante:hover a::after{
    content: "\f1d8";
    color: var(--blanco);
}

.boton-masInfo::after{
    content: "A";
}

/* --------------------
Clases universales
-------------------- */

section{
    padding: 10rem 0 8rem 0;
    box-shadow: var(--boxShadow);
    transform: translateY(4rem);
}

.contenedor-seccion{
    width: 100%;
    padding: 0;
    margin: 0 auto;
    max-width: 140rem;
}

/* --------------------
Menu Inicial
-------------------- */

header{
    width: 100vw;
    overflow: visible;
    background-color: none;
    position: fixed;

}

.headerInicio {
    transition: var(--transitionsL);
    z-index: 99999999;

}

.headerInicio .logoRod{
    width: 12rem;
    height: 100%;
    padding: 1rem 0;
}

.headerInicio .logoRod .logo{
    width: 100%;
    height: 7rem;
    background-image: url(../img/logoRod_completo_blanco.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.headerInicio .dropdown {
    display: inline-block;
    overflow: hidden;
}

.headerInicio .dropdown .down::after {
    font-family: "Font Awesome 5 Free";
    content: "\f107";
    padding-left: .5rem;
    font-size: 1rem;
    font-weight: 900;
    text-decoration: none;
}

.headerInicio .dropbtn {
    color: var(--blanco);
    font-size: 1.4rem;
    font-weight: 200;
    border: none;
    background-color: #00000000;
    margin: 0;
    padding: .5rem;
    cursor: pointer;
    text-transform: uppercase;
    transition: var(--transitions);
    font-family: 'Roboto Slab', serif;
    
    /* border: solid red 2px; */
}

.headerInicio .noDrop {
    margin: 0;
    padding: 1rem;
    transition: var(--transitions);
}

.headerInicio .dropdown-content {
    width: fit-content;
    color: var(--primario);
    background-color: var(--blanco);
    display: none;
    position: absolute;
    min-width: none;
    border-radius: 0;
}

.headerInicio .dropdown-content ul{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding-bottom: 1rem;
    text-align: left;
}

.headerInicio .dropdown-content ul li{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    text-align: left;
    margin: 0;
    padding: 1rem;
    font-weight: 600;
    font-size: 2rem;
}

.headerInicio .dropdown-content a {
    color: var(--secundario);
    padding: 1rem;
    text-decoration: none;
    display: block;
    font-family: 'Roboto Slab', serif;
    border-bottom: solid var(--secundario) .1rem;
    
    /* border: solid red 2px; */
}

.headerInicio .dropdown-content a:hover {
    color: var(--primario);
    background-color: var(--blanco);
    overflow: visible;
}

.headerInicio .dropdown:hover .dropdown-content {
    display: block;
}

.headerInicio .dropdown:hover .dropbtn {
    background-color: none;
    transform: scale(1.05);
}

.headerInicio .noDrop:hover {
    background-color: none;
    transform: scale(1.05);
    
}

.headerInicio .noDrop a:hover {
    text-decoration: underline;
}

.headerInicio #selected {
    color: var(--blanco);
    font-weight: 600;
    background-color: none;
    transition: var(--transitions);
}

.headerInicio #selected span{
    color: var(--blanco);
    font-size: 1.4rem;
    font-weight: 400;
    border: none;
    background-color: #00000000;
    margin: 0;
    padding: .5rem;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: underline;
    transition: var(--transitions);
    font-family: 'Roboto Slab', serif;
}

.headerInicio .containerMenu {
    color: var(--blanco);
    width: auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: uppercase;
}

.headerInicio .containerMenu .menuPags ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.headerInicio .containerMenu .vinculoMenu{
    color: var(--blanco);
    overflow: hidden;
}


.headerInicio .containerMenu .menuPags .dropdown-content ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.headerInicio .containerMenu ul li {
    margin: 0 .5rem;
    padding: 0;
    font-size: 1.4rem;
    list-style: none;
    
}

.headerInicio .containerMenu a {
    color: var(--secundario);
    text-decoration: none;
    font-weight: 200;
    font-family: 'Roboto Slab', serif;
}

.headerInicio .containerMenu a:hover {
    text-decoration: none;
}

.headerInicio .containerMenu .menuPags .dropdown ul{
    max-width: 40rem;
    background-color: var(--blanco);
    border-bottom: solid var(--primario) .1rem;
}

.headerInicio .containerMenu .menuPags .dropdown ul li a{
    text-transform: none;
    font-size: 1.4rem;
}

.headerInicio .containerMenu .menuPags .dropdown-content ul .titulo a{
    color: var(--primario);
    text-transform: none;
    font-weight: 600;
    font-size: 1.6rem;
    border-bottom: none;
    margin-top: 2rem;
    text-transform: uppercase;
}

.headerInicio .containerMenu .menuPags .dropdown .vacio{
    border-bottom: none;
}

.headerInicio .containerMenu .menuPags .dropdown .vacio:hover{
    border-bottom: none;
    cursor: default;
    background-color: #00000000;
}

.headerInicio .containerMenu .menuRedes .dropdown{
    overflow: hidden;
}

.headerInicio .containerMenu .menuRedes ul li{
    overflow: hidden;
}

.headerInicio .containerMenu .menuRedes a{
    color: var(--blanco);
}

.headerInicio .containerMenu .menuRedes .contacto{
    background-color: var(--blanco);
    color: var(--secundario);
    padding: .5rem 2rem;
    font-weight: 400;
    border-radius: 10rem;
}

.headerInicio .containerMenu .menuRedes .dropdown a{
    width: fit-content;
    color: var(--secundario);
    border-bottom: solid var(--secundario) .1rem;
    padding: 1rem;
}

.headerInicio .containerMenu .menuRedes .dropdown a:hover{
    color: var(--primario);
    background-color: #ffffffDD;
    font-weight: 400;

}

.headerInicio .containerMenu .menuRedes .dropdown-content ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
}

.headerInicio .containerMenu .menuRedes ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.headerInicio .dropdown button{
    display: flex;
    justify-content: center;
    align-items: center;

}

.headerInicio .dropdown button i{
    margin-right: 1rem;
    font-size: 2rem;

}

/* --------------------
Menu bajar
-------------------- */

.headerInicio.abajo {
    background-color: var(--primario);
    box-shadow: var(--boxShadow);
     
}

.headerInicio.abajo .dropdown-content {
    color: var(--primario);
    background-color: #FAFAFA;
    display: none;
    position: absolute;
    min-width: none;
    box-shadow: var(--boxShadow);
    border-radius: 0 0 .5rem .5rem;
    
}

.headerInicio.abajo .containerMenu a {
    text-decoration: none;
    color: var(--blanco);
    font-weight: 200;
    font-family: 'Roboto Slab', serif;
}

.headerInicio.abajo .containerMenu .menuPags .dropdown a{
    color: var(--blanco);
}

.headerInicio.abajo .containerMenu .menuPags .dropdown .dropdown-content a{
    color: var(--secundario);
    padding: 1.5rem 3rem 1.5rem 1.6rem;
    /* border: solid greenyellow 2px; */
}


.headerInicio.abajo .containerMenu .menuPags .dropdown .dropdown-content a:hover{
    color: var(--primario);
    font-weight: 400;
}

.headerInicio.abajo .containerMenu .menuRedes .dropdown a{
    color: var(--secundario);
    border-left: solid var(--blanco) .1rem;
    padding: 1.5rem 3rem 1.5rem 1.6rem;
}

.headerInicio.abajo .containerMenu .menuRedes .dropdown a:hover{
    color: var(--primario);
    font-weight: 400;
}

/* --------------------
Header Secciones
-------------------- */

.contenedor-top{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    min-height: 45rem;
    display: flex;
    justify-content: center;
}

.top{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-right: 0;
    padding-left: 3rem;
    max-width: 140rem;
}

.top .cont-serv{
    background-color: none;
    width: 60%;
    height: auto;
    min-width: 60rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.top .cont-serv h3,
.top .cont-serv p{
    padding: 0 2rem;
    color: var(--blanco);
    text-align: left;
}

.contenedor-top .cont-serv h3{
    font-weight: 800;
}

.contenedor-top .cont-serv p{
    margin-bottom: 2rem;
}

.contenedor-top .top .cont-serv .boton{
    text-align: left;
}

.top-right{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 3rem;
    max-width: 140rem;
}

.top-right .cont-serv{
    background-color: none;
    width: 60%;
    height: auto;
    min-width: 60rem;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.top-right .cont-serv h3,
.top-right .cont-serv p{
    padding: 0 2rem;
    color: var(--blanco);
    text-align: right;
}

/* --------------------
Footer
-------------------- */

footer{
    width: 100vw;
    height: auto;
    background-color: var(--gris-cuatro);
    position: relative;
    z-index: 99;
}

.contenedor-footer{
    width: 98%;
    margin: 10rem auto;
    display: flex;
}

.contenedor-footer .logos{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.caja-footer{
    width: 100%;
    padding: 0 3rem;
}

.caja-footer img{
    width: 100%;
    max-width: 20rem;
    margin: auto;
}

.caja-footer h6{
    width: 100%;
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--blanco);
    text-align: left;
    padding-bottom: 3rem;
    text-transform: uppercase;
}

.caja-footer .subtitulo{
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--blanco);
    text-align: left;
    margin-top: 2rem;
}

.caja-footer .newsletter{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--blanco);
    text-align: left;
    margin-top: 2rem;
}

.caja-footer .linea{
    border-bottom: solid var(--blanco) .1rem;
    margin-bottom: 4rem;
}

.caja-footer .lineaDos{
    border-bottom: solid var(--blanco) .1rem;
    margin-bottom: 4rem;
    display: none;
}

.caja-footer ul{
    margin-bottom: 3rem;
}

.caja-footer li{
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 2.2rem;
}

.caja-footer li i{
    width: 10%;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color: var(--cuarto);
}

.caja-footer a{
    width: 90%;
    font-size: 1.6rem;
    font-weight: 200;
    text-decoration: none;
    color: var(--blanco);
    transition: var(--transitions);
    margin-left: .5rem;
}

.caja-footer a:hover{
    transform: scale(1.02);
    color: var(--quinto);
}

.caja-footer .form-ul{
    width: 100%;
    margin: 0;
    padding: 1rem 0 0 0;
}

.caja-footer .form-ul li{
    width: 100%;
    margin: 0;
    padding: 0;
}

.caja-footer form{
    display: flex;
    width: 100%;
    margin-bottom: 3rem;
}

.caja-footer form input{
    width: 60%;
    height: 4rem;
    border-radius: .5rem 0 0 .5rem;
    border: solid var(--segundo) .1rem;
    padding: 0 0 0 1rem;
}

.caja-footer form .boton{
    width: 40%;
}

.caja-footer form .boton .btn-news{
    width: 100%;
    background-color: var(--segundo);
    border: solid var(--segundo) .2rem;
    padding: .5rem 0;
    border-radius: 0 .5rem .5rem 0;
    color: var(--blanco);
    text-transform: uppercase;
    font-size: 1.4rem;
    transition: var(--transitions);
    cursor: pointer;
    margin:0;
    box-shadow: var(--boxShadow);
    white-space: nowrap;
}

.caja-footer form .boton .btn-news:hover{
    border: solid var(--cuarto) .2rem;
    font-weight: 500;
    font-size: 1.42rem;

}

.caja-footer .foot-redes{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.caja-footer .foot-redes li{
    padding: 0 !important;
    margin: 0;
}

.caja-footer .foot-redes a{
    width: auto;
}


.caja-footer .foot-redes i{
    width: auto;
    margin: .5rem;
    font-size: 2.4rem;
    color: var(--blanco);
    cursor: pointer;
    transition: var(--transitions);
}

.caja-footer .foot-redes i:hover{
    color: var(--quinto);
    transform: scale(1.2);
}

/* --------------------
Footer
-------------------- */

footer{
    background-color: var(--secundario);
    height: 30rem;
    margin-top: 5rem;
}


/* --------------------
Animaciones
-------------------- */

@keyframes whatsApp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes fade {
    0% {
        transform: scale(1.01);
        opacity: 20%;
    }

    5% {
        transform: scale(1);
    }

    20% {
        opacity: 100%;
    }

    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

.fade {
    animation: fade 6s linear infinite;
}

/* --------------------
Footer
-------------------- */
@media only screen and (max-width: 1299px) {
    .contenedor-footer{
        width: 90%;
        margin: 5rem auto;
        display: flex;
        flex-wrap: wrap;
    }

    .contenedor-footer .caja-footer{
        width: 100%;
        padding: 0;
    }

    .contenedor-footer .logos{
        width: 100%;
        padding: 0;
        margin-bottom: 3rem;
        flex-direction: column;
    }

    .contenedor-footer .logos a{
        text-align: center;
    }

    .contenedor-footer .logos img{
        margin-top: 3rem;
    }

    .caja-footer h6{
        width: 50%;
        margin: auto;
        margin-top: 4rem;
        text-align: left;
    }

    .caja-footer .subtitulo{
        text-align: left;
    }

    .caja-footer .newsletter{
        text-align: center;
    }

    .caja-footer .linea{
        display: flex;
        width: 60%;
        margin: 0 auto 4rem auto;
    }

    .caja-footer .lineaDos{
        width: 60%;
        display: flex;
        margin: 0 auto 4rem auto;
    }

    .caja-footer ul{
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .caja-footer li{
        width: 50%;
        margin: auto;
        text-align: left;
    }

    .caja-footer li i{
        width: auto;
    }

    .caja-footer .form-ul{
        width: 50%;
        margin: auto;
        padding: 1rem 0 0 0;
    }

    .caja-footer .news{
        width: 50%;
        margin: 0 auto 2rem auto;
        text-align: center;
    }

    .caja-footer .foot-redes{
        width: 50%;
        margin: 4rem auto 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 0;
    }

    .caja-footer .foot-redes li{
        width: auto;
    }

    .caja-footer .foot-redes a{
        width: auto;
    }

}

/* --------------------
Tablet / Mobile
-------------------- */
@media only screen and (max-width: 1199px) {

    /* --------------------
    Clases universales
    -------------------- */
    section{
        margin: 0;
        padding: 0;
    }

    .contenedor-seccion{
        width: 100%;
        margin: auto;
        border-radius: 0;
        padding: 10rem 5% !important;
    }

    /* --------------------
    Menu
    -------------------- */

    .bars__menu {
        width: 34px;
        padding: 4px 7px;
        height: 30px;
        border-radius: 4px;
        cursor: pointer;
        position: fixed;
        top: 40px;
        right: -5px;
        transform: translate(-50%, -50%);
        overflow: visible;
        z-index: 99999;
        background-color: var(--primario);
    }

    .bars__menu span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--blanco);
        margin: 4px 0 0 0;
        border-radius: 1px;
        transform-origin: 0px 100%;
        transition: var(--transitions);
    }

    .activeline1__bars-menu {
        transform: rotate(47deg) translate(0px, -1px);
    }

    .activeline2__bars-menu {
        opacity: 0;
        margin-left: -30px;
    }

    .activeline3__bars-menu {
        transform: rotate(-47deg) translate(0px, 2.5px);
    }

    /* --------------------
    Menu hide
    -------------------- */

    .logoRod {
        display: none;
    }

    /* --------------------
    Header Menu
    -------------------- */

    header {
        width: 60vw;
        height: 100vh;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: var(--primario);
        transition: var(--transitionsL);
        transform: translateX(1100px);
        z-index: 9;
        position: fixed;
    }

    .headerInicio {
        width: 60vw;
    }

    .headerInicio .containerMenu ul li a{
        color: var(--blanco);
    }

    header #selected {
        font-weight: 600;
    }

    .containerMenu {
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .containerMenu ul {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .containerMenu ul li {
        padding: 20px 0;
    }

    .headerInicio .menuPags .dropdown .down::after {
        content: "";
    }
    
    .activecontainerMenu {
        transform: translateX(0);
    }
    
    .headerInicio .containerMenu .menuPags ul{
        display: flex;
        flex-direction: column;
        align-items: center;   
    }
    
    .headerInicio .containerMenu .menuPags .dropdown .dropdown-content {
        transform: translateX(5rem);
        display: none;
    }

    .headerInicio .containerMenu .menuPags .dropdown a{
        overflow: hidden;
    }
    
    .headerInicio .containerMenu .menuRedes ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .headerX .onlyMobile{
        display: none;
    }

    .headerInicio.abajo .containerMenu .menuPags .dropdown a{
        overflow: hidden;
    }
}

/* --------------------
Mobile
-------------------- */
@media only screen and (max-width: 640px){

    /* --------------------
    Header
    -------------------- */

    .headerMenu {
        width: 100vw;
    }

    /* --------------------
    Footer
    -------------------- */

    .caja-footer li{
        width: 70%;
        margin: auto;
    }

    .caja-footer .form-ul{
        width: 100%;
        margin: auto;
        padding: 1rem 0 0 0;
    }

    .caja-footer h6{
        width: 100%;
        margin: auto;
        text-align: center;
        padding: 2rem 0;
    }

    .caja-footer .linea{
        width: 80%;
    }

    .caja-footer .lineaDos{
        width: 80%;
    }

    .caja-footer .news{
        width: 80%;
        min-width: none;
    }

    .caja-footer .form-ul{
        width: 80%;
        min-width: none;
    }
}