/* --------------------
Banner
-------------------- */

.container-nosotros{
    background-image: url(../img/header_servicios.png);
    transform: translateY(0);
    position: relative;
    z-index: 1000;
}

/* --------------------
Secciones Titulos
-------------------- */

.titulo{
    margin: 0 0 2rem 0;
    padding: 0 0 .5rem 0;
    width: fit-content;
    background-color: none;
}

.titulo-dos{
    width: 100%;
    margin: auto;
    text-align: center;
    transform: translateY(-3rem);
}

.titulo-dos span{
    font-family: 'Roboto Slab', serif;
    color: var(--primario);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3.6rem;
    margin: 0;
}

.titulo-tres{
    width: 100%;
    margin: auto;
    text-align: left;
    transform: translateY(-4rem);
}

.titulo-tres span{
    font-family: 'Roboto Slab', serif;
    color: var(--primario);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3rem;
    margin: 0;

    -webkit-text-stroke-width: .05rem;
    -webkit-text-stroke-color: var(--primario);
}

/* --------------------
Perfil de la empresa
-------------------- */

.container-perfil{
    padding-top: 0;
    position: relative;
}

.perfil .texto{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
}

.perfil .texto .caja-uno{
    width: 70%;
    margin: 5rem auto 0 auto;
    padding: 0 4rem 5rem 4rem;
    overflow: visible;

    border-radius: 1rem;
    box-shadow: var(--boxShadow);
    background-color: var(--blanco);
}

.perfil .texto .caja-uno p{
    text-align: center;
    margin: auto;
}

.perfil .texto .caja-dos{
    width: 98%;
    height: auto;
    margin: 6rem 1% 0 1%;
    padding: 6rem 4rem 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0;
    overflow: visible;
    border-radius: 1rem;
}

.perfil .texto .caja-dos h5{
    text-align: center;
    word-break: keep-all;
    color: var(--secundario);
}

.perfil .texto .caja-dos p{
    width: 100%;
    padding: 4rem 0 0 0;
    text-align: center;
    margin: auto;
    color: var(--negro);
}

.perfil .texto .servicios{
    width: 90%;
    height: auto;
    margin: 3rem auto 0 auto;
    padding: 3rem 4rem 0 4rem;
    border-radius: 1rem;
    background-color: none;
}

.perfil .texto .servicios ul{
    height: 100%;
    max-width: 140rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.perfil .texto .servicios ul li{
    width: 30%;
    margin: 3rem 0;
    padding-bottom: 1rem;
    color: var(--negro);
    text-align: center;
    border-bottom: solid var(--primario) .2rem;
    transition: var(--transitions);
}

.perfil .texto .servicios ul li:hover{
    transform: scale(1.05);
    border-bottom: solid var(--primario) .3rem;
}

.perfil .texto .servicios ul li a{
    text-decoration: none;
    color: var(--negro);
}

.perfil .texto .servicios ul li .icono{
    height: 6rem;
    margin-bottom: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.perfil .texto .servicios ul li .icon-001{
    background-image: url(../img/servicios_gerencia.png);
}

.perfil .texto .servicios ul li .icon-002{
    background-image: url(../img/servicios_auditoria.png);
}

.perfil .texto .servicios ul li .icon-003{
    background-image: url(../img/servicios_revision.png);
}

.perfil .texto .servicios ul li .icon-004{
    background-image: url(../img/servicios_levantamiento.png);
}

.perfil .texto .servicios ul li .icon-005{
    background-image: url(../img/servicios_analisis.png);
}

.perfil .texto .servicios ul li .icon-006{
    background-image: url(../img/servicios_diligence.png);
}

.perfil .texto .servicios ul li .icon-007{
    background-image: url(../img/servicios_gestion.png);
}

/* --------------------
Mision Vision Valores
-------------------- */

.container-miviva{
    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--blanco);
    overflow: hidden;
}

.miviva{
    overflow: hidden;
}

.miviva .caja-tres{
    width: 70%;
    margin: 5rem 1rem 15rem auto;
    padding: 0 4rem 5rem 4rem;
    overflow: visible;

    border-radius: 1rem;
    box-shadow: var(--boxShadow);
    background-color: var(--blanco);
}

.miviva .caja-tres .titulo-dos{
    text-align: right;
}

.miviva .caja-tres .titulo-dos span{
    color: var(--primario);
}

.miviva .caja-tres p{
    color: var(--negro);
}

.miviva .caja-cuatro{
    width: 70%;
    margin: 10rem 1rem 15rem 0;
    padding: 0 4rem 5rem 4rem;
    overflow: visible;

    border-radius: 1rem;
    box-shadow: var(--boxShadow);
    background-color: var(--blanco);
}

.miviva .caja-cuatro .titulo-dos{
    text-align: left;
}

.miviva .caja-cuatro .titulo-dos span{
    color: var(--primario);
}

.miviva .caja-cinco{
    width: 100%;
    overflow: visible;
    margin: 5rem 0 2rem 0;
    padding: 0 0 5rem 0;
}

.miviva .caja-cinco .titulo-dos{
    text-align: center;
}

.miviva .caja-cinco h5{
    color: var(--negro);
}

.miviva .caja-cinco .cajas{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.miviva .caja-cinco .caja{
    width: 32%;
    padding: 4rem;
    margin-bottom: 2rem;
}

.miviva .caja-cinco .c-001{
    background-color: #a8d08c;
}

.miviva .caja-cinco .c-002{
    background-color: #aeab01;
}

.miviva .caja-cinco .c-003{
    background-color: #9fb665;
}

.miviva .caja-cinco .c-004{
    background-color: #d2d273;
}

.miviva .caja-cinco .c-005{
    background-color: #a8d08cff;
}

.miviva .caja-cinco .c-006{
    background-color: #a8d08cff;
}

/* --------------------
Equipo
-------------------- */

.container-equipo{
    padding-top: 0;
    position: relative;
    margin-bottom: 0;
}

.container-equipo .cajas {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.container-equipo .cajas .caja {
    width: 100%;
    max-width: 160rem;
    margin: 0 auto 0 0;

    display: flex;
    justify-content: center;
}

.container-equipo .cajas .caja-der {
    margin: 0 0 0 auto;

    flex-direction: row-reverse;
}


.container-equipo .cajas .caja .imagen{
    width: 50%;
    height: 60rem;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-equipo .cajas .caja .texto{
    width: 50%;
    padding: 0 4rem;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.container-equipo .cajas .caja-der .texto{
    text-align: right;
}

.container-equipo .cajas .caja .img-01{
    background-image: url(../img/inicio_equipo_001.png);
}

.container-equipo .cajas .caja .img-02{
    background-image: url(../img/inicio_equipo_002.png);
}

.container-equipo .cajas .caja .img-03{
    background-image: url(../img/inicio_equipo_003.png);
}






/* --------------------
Tablet
-------------------- */
@media only screen and (max-width: 1599px) and (min-width: 1000px) {

    /* body{
        border: solid red 3px;
    } */

    .contenedor-seccion{
        padding: 10rem 2rem 3rem 2rem !important;
    }

}


/* --------------------
Mobile
-------------------- */
@media only screen and (max-width: 999px) and (min-width: 1px) {

    /* body{
        border: solid blue 3px;
    } */

    .contenedor-seccion{
        padding: 5rem 0 !important;
    }

}