/* --------------------
Banner
-------------------- */

.container-nosotros{
    background-image: url(../img/header_servicios.png);
    transform: translateY(0);
    position: relative;
    z-index: 1000;
}

/* --------------------
Mapa/Redes
-------------------- */

.contenedorUno{
    width: 100vw;
    padding: 0 5%;
    display: flex;
    justify-content: space-evenly;
    margin: 8rem 0;
}

.contenedorUno .mapa{
    width: 55%;
    margin: 2rem 0;
}

.contenedorUno .mapa iframe{
    width: 100%;
    height: 100%;
}


.circulo{
    width: 35%;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.circulo a{
    padding: 1rem 0;
    margin: 0 1rem;
    display: flex;
    text-decoration: none;
    color: var(--negro);
}

.circuloIn{
    width: 20%;
    min-width: 6rem;
    max-width: 8rem;
}


.circulo .circuloIn .circuloIn_In{
    width: 4rem;
    height: 4rem;
    margin: 1rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    background-color: var(--primario);
    transition: var(--transitions);
    box-shadow: var(--boxShadow);
}

.circulo .circuloIn .circuloIn_In:hover{
    transform: scale(1.1);
    background-color: var(--primarioHover);
}

.circuloIn .iconoCirculo{
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    fill: var(--blanco);
}

.circulo .texto{
    width: 80%;
    padding: 0 .5rem;
}

.circulo .texto p{
    color: var(--gris-oscuro);
    font-size: 1.4rem;
    transition: var(--transitions);
}

.circulo .texto p:hover{
    transform: scale(1.02);
    color: var(--primario);
}

/* --------------------
Form
-------------------- */

.contenedorDos{
    background-color: var(--negro);
    padding: 5rem auto;
}

.contTitle {
    width: 60%;
    margin: auto;
    text-align: center;
}

.contTitle h3{
    margin-top: 5rem;
    color: var(--blanco);
}

.sectionForm form{
    width: 60%;
    margin: 0 auto 5rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px;
    border-radius: 5px;
}

.sectionForm label{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: auto;
}

.sectionForm span {
    color: var(--blanco);
    font-size: 1.4rem;
    padding: 0 0 2px 0;
}

.sectionForm input {
    height: 30px;
    border: solid var(--morado) 1px;
    border-radius: 3px;
    color: var(--gris-oscuro);
    padding: 2px 5px;
}

.sectionForm select {
    height: 30px;
    border: solid var(--morado) 1px;
    border-radius: 3px;
    color: var(--gris-oscuro);
    padding: 2px 5px;
    cursor: pointer;
}

.sectionForm .comentCont{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: auto;
}

.sectionForm .comentCont textarea {
    height: 60px;
    resize: none;
    border: solid var(--morado) 1px;
    border-radius: 3px;
    color: var(--gris-oscuro);
    padding: 2px 5px;
}

form .tycCont{
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
}

.tycCont input{
    width: 14px;
    cursor: pointer;
}

.tycCont span{
    padding: 0 .5rem;
}

.sectionForm button{
    margin: 2rem auto 0 auto;
    background-color: var(--negro);
    border: none;
}

.sectionForm form a{
    font-size: 1.4rem;
    color: var(--primario);
}

/*Tablet -------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 1099px) and (min-width: 640px) {

    .sectionForm form{
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 0;
    }

    .contTitle {
        width: 80%;
    }
    
    .contTitle h3 {
        padding: 20px 0;
    }

    .sectionForm form label{
        width: 90%;
    }

    .sectionForm form input{
        width: 100%;
    }
    
    .sectionForm .comentCont{
        width: 90%;
    }

    .sectionForm .tycCont{
        width: 90%;
        display: flex;
        margin: auto;
    }
    
    .sectionForm .tycCont input{
        width: 15px;
        height: 15px;
        display: flex;
        margin: 0;
        padding: 0;
    }
    
    .sectionForm form button{
        width: 90%;
        max-width: 400px;
        min-width: 200px;
    }

}

/*Mobile -------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 639px) and (min-width: 1px) {
    
    .sectionForm form{
        width: 90%;
        flex-direction: column;
        padding: 0;
    }

    .contTitle {
        width: 90%;
    }
    
    .contTitle h3 {
        padding: 20px 0;
    }

    .sectionForm form label{
        width: 90%;
    }

    .sectionForm form input{
        width: 100%;
    }
    
    .sectionForm .comentCont{
        width: 90%;
    }

    .sectionForm .tycCont{
        width: 90%;
    }
    
    .sectionForm .tycCont input{
        width: 15px;
        height: 15px;
        display: flex;
        margin: 0;
        padding: 0;
    }

    .sectionForm .tycCont span{
        font-size: 1.2rem;
    }
    
    .sectionForm .tycCont a{
        font-size: 1.2rem;
    }
    
    .sectionForm form button{
        width: 80%;
        max-width: none;
        min-width: 300px;
    }

}