/* --------------------
Banner
-------------------- */

.container-avisoTop{
    background-image: url(../img/tam_DesktopGD/servicios_header.png);
    background-position: center bottom;
    transform: translateY(0);
    max-width: 150rem;
    min-height: 50rem;
    margin: auto;
    background-color: var(--grisFondo);
}

.container-servicio{
    padding-top: 0;
    background-color: none;
}

/* --------------------
Experiencia
-------------------- */

.container-aviso{
    width: 100vw;
    position: relative;
    z-index: 18;
    padding-bottom: 0;
    padding-top: 0;
}

.container-aviso .aviso{
    width: fit-content;
    overflow: visible;
    margin: auto;
}

.container-aviso .aviso h5{
    max-width: 80ch;
    text-transform: none;
    margin-top: 4rem;
}

/*  Mobile y Tablet (Vertical) */
@media only screen and (min-width: 1px) and (max-width: 768px) {
    
    /* --------------------
    Banner
    -------------------- */

    .container-avisoTop{
        width: 100vw;
        height: 100vh;
        min-height: 1px;
        background-position: center;
    }

    .container-servicio{
        padding-top: 0;
        background-color: none;
    }

    /* --------------------
    Experiencia
    -------------------- */

    .container-aviso{
        width: 90vw;
        margin: auto;

    }

    .container-aviso .aviso{
        width: fit-content;
        overflow: visible;
        margin: auto;
    }

    .container-aviso .aviso h5{
        max-width: 80ch;
        text-transform: none;
        margin-top: 4rem;
    }

}

/*  DesktopSM  */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {

}

/*  Tablet (Tablet Horizontal) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

}

/*  Original (Tablet Vertical) */
@media only screen and (min-width: 426px) and (max-width: 768px) {

}


/*  Mobile  */
@media only screen and (min-width: 1px) and (max-width: 425px) {

}