/* --------------------
Banner
-------------------- */

.container-servicios{
    background-image: url(../img/header_servicios.png);
    transform: translateY(0);
}

/* --------------------
Resumen
-------------------- */

.container-resumen{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 12rem 0;
    box-shadow: none;
    background-color: var(--blanco);
    box-shadow: var(--boxShadow);
    /* 
    padding: 6rem 10%;
    position: relative; 
    z-index: 40;
    */
}

.container-resumen p{
    margin: auto;
    padding-top: 3rem;
    min-width: 60ch;
    max-width: 90ch;
}

/* --------------------
Secciones Experiencia
-------------------- */

.titulo{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 0 1rem;
    width: fit-content;
    border-bottom: solid var(--primario) .2rem;
}

.titulo h6{
    padding-left: 0;
    text-indent: 0;
}


.titulo h6::before{
    content: "";
}

/* .titulo .icono img{
    width: auto;
    height: 100%;
}

.titulo .icono{
    width: 9rem;
    height: 9rem;
} */

section{
    transform: translateY(0);
}

/* --------------------
Aeropuerto_001
-------------------- */

#aeropuerto-001{
    position: relative;
    z-index: 38;
}

.container-servicio .aeropuerto-001 .contenedor-imagenes{
    width: 94%;
    height: 30rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
}

.container-servicio .aeropuerto-001 .contenedor-texto{
    width: 94%;
    margin-top: 1rem;
    margin-left: 3%;
}

.container-servicio .aeropuerto-001 .contenedor-texto .texto-collapsed{
    width: 60%;
    min-width: 60ch;
    max-width: 90ch;
    margin: 1rem auto;
    text-align: center;
}

.container-servicio .aeropuerto-001 .contenedor-texto .texto-noCollapsed{
    width: 100%;
}

.container-servicio .aeropuerto-001 .contenedor-texto .texto-noCollapsed .texto{
    text-align: center;
    width: 60%;
    min-width: 60ch;
    max-width: 90ch;
    max-width: 90ch;
    margin: 1rem auto 2rem auto;
}

.container-servicio .aeropuerto-001 .contenedor-texto .texto-noCollapsed .cajas{
    width: 100%;
    margin: 0 auto 1rem 0;
}

.container-servicio .aeropuerto-001 .contenedor-texto .texto-noCollapsed .cajas h4{
    margin-bottom: 1rem;
}

.container-servicio .aeropuerto-001 .contenedor-texto .texto-noCollapsed .cajas .caja ul{
    list-style-position: inside;
    text-indent: -2rem;
    height: 100%;
}

.container-servicio .aeropuerto-001 .contenedor-texto .texto-noCollapsed .cajas .caja ul li{
    list-style-position: inside;
    text-indent: -2.1rem;
    padding: 1rem 3.2rem;
    font-weight: 300;
}

.container-servicio .aeropuerto-001 .contenedor-texto .texto-noCollapsed .cajas .caja ul li span{
    list-style-position: inside;
    font-weight: 500;
}

.container-servicio .aeropuerto-001 .contenedor-texto .texto-noCollapsed .cajas .caja ul li a{
    text-decoration: none;
    /* border: solid purple 2px; */
}

.container-servicio .aeropuerto-001 .contenedor-texto .texto-noCollapsed .cajas .caja ul li a i{
    font-size: 2rem;
    font-weight: 700;
    color: var(--negro);
    text-decoration: none;
    text-indent: 0;
    padding-left: .5rem;
    transform: translateY(.4rem);
    transition: var(--transitions);
}

.container-servicio .aeropuerto-001 .contenedor-texto .texto-noCollapsed .cajas .caja ul li a i:hover{
    transform: translateX(.5rem);
    font-weight: 700;
    color: var(--primario);
    /* border: solid red; */
}

.container-servicio .aeropuerto-001 .contenedor-texto .boton .boton-masInfo{
    transform: translateX(-2rem);
}

.container-servicio .aeropuerto-001 .contenedor-texto .boton .boton-masInfo::after{
    font-family: "Font Awesome 5 Free";
    content: "\f107";
    padding-left: .5rem;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
}

.container-servicio .aeropuerto-001 .contenedor-texto .boton .boton-masInfo::before{
    content: "Más información ";
}

.aeropuerto-001 .contenedor-texto .texto-noCollapsed{
    display: none;
    transition: var(--transitions);
}

.aeropuerto-001 .active-contenedor-texto .texto-noCollapsed{
    display: flex;
    transition: var(--transitions);
    flex-direction: column;
}

.aeropuerto-001 .active-contenedor-texto .texto-noCollapsed p{
    margin-top: 1rem;
}

.aeropuerto-001 .active-contenedor-texto .texto-noCollapsed .caja_cajas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.aeropuerto-001 .active-contenedor-texto .texto-noCollapsed .caja_cajas .caja{
    margin: 1rem;
    width: 30%;
    background-color: var(--grisDos);
}

.aeropuerto-001 .active-contenedor-texto .texto-noCollapsed .caja_cajas .caja-dos{
    margin: 1rem;
    width: 47%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--grisDos);
    /* border: solid green 2px; */
}

.aeropuerto-001 .active-contenedor-texto .texto-noCollapsed .caja_cajas .caja-dos img{
    width: 20%;
    max-width: 10rem;
    max-height: 10rem;
    margin: auto;
    /* border: solid blue 2px; */
}

.aeropuerto-001 .active-contenedor-texto .texto-noCollapsed .caja_cajas .caja-dos ul{
    margin: 0;
    width: 100%;
    margin-left: 1rem;
    background-color: var(--grisDos);
}

.aeropuerto-001 .active-contenedor-texto .texto-noCollapsed .caja_cajas .caja-dos ul .li-titulo{
    margin: 0;
    list-style: none;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500 !important;
}

.aeropuerto-001 .active-contenedor-texto .texto-noCollapsed .caja_cajas .vacio{
    background-color: var(--gris);
}

.container-servicio .aeropuerto-001 .active-contenedor-texto .boton .boton-masInfo::after{
    font-family: "Font Awesome 5 Free";
    content: "\f106";
    padding-left: .5rem;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
}

.container-servicio .aeropuerto-001 .active-contenedor-texto .boton .boton-masInfo::before{
    content: "Menos información ";
}

.container-servicio .aeropuerto-001 .active-contenedor-texto {
    content: "Menos información ";
}

.container-servicio .aeropuerto-001 .active-contenedor-texto .contenedor-imagenes{
    height: 15rem;
}

.container-servicio .aeropuerto-001 .contenedor-imagenes .cont-imagen-fija .imagen-fija{
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.container-servicio .aeropuerto-001 .contenedor-imagenes .cont-imagen-fija{
    width: 100%;
    margin-right: 2rem;
}

.aeropuerto-001 .contenedor-imagenes .cont-imagen-fija .imagen-fija{
    background-image: url(../img/inicio_001.png);
}

/* --------------------
Aeropuerto_002
-------------------- */

#aeropuerto-002{
    position: relative;
    z-index: 38;
}

.container-servicio .aeropuerto-002 .contenedor-imagenes{
    width: 94%;
    height: 30rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
}

.container-servicio .aeropuerto-002 .contenedor-texto-002{
    width: 94%;
    margin-top: 1rem;
    margin-left: 3%;
}

.container-servicio .aeropuerto-002 .contenedor-texto-002 .texto-collapsed{
    width: 60%;
    min-width: 60ch;
    max-width: 90ch;
    margin: 1rem auto;
    text-align: center;
}

.container-servicio .aeropuerto-002 .contenedor-texto-002 .texto-noCollapsed{
    width: 100%;
}

.container-servicio .aeropuerto-002 .contenedor-texto-002 .texto-noCollapsed .texto{
    text-align: center;
    width: 60%;
    min-width: 60ch;
    max-width: 90ch;
    max-width: 90ch;
    margin: 1rem auto 2rem auto;
}

.container-servicio .aeropuerto-002 .contenedor-texto-002 .texto-noCollapsed .cajas{
    width: 100%;
    margin: 0 auto 1rem 0;
}

.container-servicio .aeropuerto-002 .contenedor-texto-002 .texto-noCollapsed .cajas h4{
    margin-bottom: 1rem;
}

.container-servicio .aeropuerto-002 .contenedor-texto-002 .texto-noCollapsed .cajas .caja ul{
    list-style-position: inside;
    text-indent: -2rem;
    height: 100%;
}

.container-servicio .aeropuerto-002 .contenedor-texto-002 .texto-noCollapsed .cajas .caja ul li{
    list-style-position: inside;
    text-indent: -2.1rem;
    padding: 1rem 3.2rem;
    font-weight: 300;
}

.container-servicio .aeropuerto-002 .contenedor-texto-002 .texto-noCollapsed .cajas .caja ul li span{
    list-style-position: inside;
    font-weight: 500;
}

.container-servicio .aeropuerto-002 .contenedor-texto-002 .texto-noCollapsed .cajas .caja ul li a{
    text-decoration: none;
    /* border: solid purple 2px; */
}

.container-servicio .aeropuerto-002 .contenedor-texto-002 .texto-noCollapsed .cajas .caja ul li a i{
    font-size: 2rem;
    font-weight: 700;
    color: var(--negro);
    text-decoration: none;
    text-indent: 0;
    padding-left: .5rem;
    transform: translateY(.4rem);
    transition: var(--transitions);
}

.container-servicio .aeropuerto-002 .contenedor-texto-002 .texto-noCollapsed .cajas .caja ul li a i:hover{
    transform: translateX(.5rem);
    font-weight: 700;
    color: var(--primario);
    /* border: solid red; */
}

.container-servicio .aeropuerto-002 .contenedor-texto-002 .boton .boton-masInfo{
    transform: translateX(-2rem);
}

.container-servicio .aeropuerto-002 .contenedor-texto-002 .boton .boton-masInfo::after{
    font-family: "Font Awesome 5 Free";
    content: "\f107";
    padding-left: .5rem;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
}

.container-servicio .aeropuerto-002 .contenedor-texto-002 .boton .boton-masInfo::before{
    content: "Más información ";
}

.aeropuerto-002 .contenedor-texto-002 .texto-noCollapsed{
    display: none;
    transition: var(--transitions);
}

.aeropuerto-002 .active-contenedor-texto-002 .texto-noCollapsed{
    display: flex;
    transition: var(--transitions);
    flex-direction: column;
}

.aeropuerto-002 .active-contenedor-texto-002 .texto-noCollapsed p{
    margin-top: 1rem;
}

.aeropuerto-002 .active-contenedor-texto-002 .texto-noCollapsed .caja_cajas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.aeropuerto-002 .active-contenedor-texto-002 .texto-noCollapsed .caja_cajas .caja{
    margin: 1rem;
    width: 30%;
    background-color: var(--grisDos);
}

.aeropuerto-002 .active-contenedor-texto-002 .texto-noCollapsed .caja_cajas .caja-dos{
    margin: 1rem;
    width: 47%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--grisDos);
    /* border: solid green 2px; */
}

.aeropuerto-002 .active-contenedor-texto-002 .texto-noCollapsed .caja_cajas .caja-dos img{
    width: 20%;
    max-width: 10rem;
    max-height: 10rem;
    margin: auto;
    /* border: solid blue 2px; */
}

.aeropuerto-002 .active-contenedor-texto-002 .texto-noCollapsed .caja_cajas .caja-dos ul{
    margin: 0;
    width: 100%;
    margin-left: 1rem;
    background-color: var(--grisDos);
}

.aeropuerto-002 .active-contenedor-texto-002 .texto-noCollapsed .caja_cajas .caja-dos ul .li-titulo{
    margin: 0;
    list-style: none;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500 !important;
}

.aeropuerto-002 .active-contenedor-texto-002 .texto-noCollapsed .caja_cajas .vacio{
    background-color: var(--gris);
}

.container-servicio .aeropuerto-002 .active-contenedor-texto-002 .boton .boton-masInfo::after{
    font-family: "Font Awesome 5 Free";
    content: "\f106";
    padding-left: .5rem;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
}

.container-servicio .aeropuerto-002 .active-contenedor-texto-002 .boton .boton-masInfo::before{
    content: "Menos información ";
}

.container-servicio .aeropuerto-002 .active-contenedor-texto-002 {
    content: "Menos información ";
}

.container-servicio .aeropuerto-002 .active-contenedor-texto-002 .contenedor-imagenes{
    height: 15rem;
}

.container-servicio .aeropuerto-002 .contenedor-imagenes .cont-imagen-fija .imagen-fija{
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.container-servicio .aeropuerto-002 .contenedor-imagenes .cont-imagen-fija{
    width: 100%;
    margin-right: 2rem;
}

.aeropuerto-002 .contenedor-imagenes .cont-imagen-fija .imagen-fija{
    background-image: url(../img/inicio_001.png);
}