/* --------------------
Banner
-------------------- */

.container-banner{
    padding: 0;
    box-shadow: var(--boxShadow);
    position: relative;
    z-index: 21;
}

.banner{
    width: 100%;
    height: 60vh;
    min-height: 40rem;
    background-image: url(../img/inicio_001.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.banner .cont-info{
    background-color: none;
    width: 50%;
    min-width: 60rem;
    text-align: right;
    padding: 0 2rem;
    margin-bottom: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.banner .cont-info h3,
.banner .cont-info p{
    text-align: right;
    padding: 0 2rem;
    color: var(--blanco);
}

.banner .cont-info p{
    margin-bottom: 2rem;
    text-align: right;
}

.banner .cont-info .boton{
    text-align: right;
}

/* --------------------
Titulos
-------------------- */

.titulo{
    background-color: none;
    margin: 0 2rem 2rem 0;
    padding: 0 4rem .5rem 0;
    width: fit-content;
}

/* --------------------
Main Servicios
-------------------- */
main{
    width: 100%;
    box-shadow: var(--boxShadow);
    z-index: 10;
    position: relative;
    z-index: 20;
    background-color: var(--blanco) !important;
}

main .container-servicios .servicios{
    padding-top: 0;
    width: 100%;
}

main .container-servicios .servicios .cont-imagen{
    width: 100%;
    height: 40vh;
    min-height: 30rem;
    background-image: url(../img/inicio_servicios_001.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main .container-servicios .servicios .cont-texto{
    padding: 2rem;
    width: 60%;
    min-width: 75rem;
    max-width: 120rem;
    margin: 0 0 0 3rem;
    overflow: hidden;
}

main .container-servicios .servicios .cont-texto h4{
    text-align: left;
}

main .container-servicios .servicios .cont-texto p{
    text-align: left;
    padding: 2rem 0;
}

/* Slider */

.servicios .slideshow-container {
    position: relative;
    max-width: none;
    margin: 0 auto;
    height: auto;
    background-color: var(--blanco);
}

.servicios .slide {
    display: none;
    height: 22rem;
}

.servicios .slide-content {
    background-color: none;
    margin: auto;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    overflow: hidden;
}

.servicios .slide-content p{
    overflow: hidden;
}

.servicios .prev,
.servicios .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -2.2rem;
    padding: 1.6rem;
    font-weight: bold;
    font-size: 1.8rem;
    transition: var(--transitions);
    border-radius: .3rem;
    color: var(--secundario);
}

.servicios .next {
    right: 0;
}

.servicios .prev:hover,
.servicios .next:hover {
    color: var(--blanco);
    background-color: var(--primario);
}

.servicios .fade {
    animation: fade 6s linear infinite;
}

.servicios .slidesLineas{
    width: 100%;
    height: 1rem;
    margin: 2rem 0 0 0;
    display: flex;
}

.servicios .slidesLineas .linea{
    width: 3rem;
    background-color: var(--terciario);
    height: .1rem;
    margin: 0 .5rem;
    border-radius: 2rem;
}

.servicios .slidesLineas .active{
    width: 3rem;
    background-color: var(--primario);
    height: .2rem;
}

/* --------------------
Experiencia
-------------------- */

.container-experiencia{
    width: 100vw;
    background-color: var(--gris);
    box-shadow: var(--boxShadow);
    position: relative;
    z-index: 18;
    padding-bottom: 0;
}

.cont-slider-exp{
    margin: 0;
    padding: 0;
}

.cont-slider-exp .slideshow-container-exp{
    width: 100%;
}

.cont-slider-exp .slideshow-container-exp .slide-exp{
    width: 100%;

    transform: translateY(-5rem);
    /* border: solid aqua 2px; */
}

.cont-slider-exp .slideshow-container-exp .controllers{
    width: 10%;
    margin-left: 30%;
    display: flex;
    justify-content: space-around;

    transform: translateY(-5rem);

    /* border: solid red 2px; */
}

.cont-slider-exp .slideshow-container-exp .controllers .next,
.cont-slider-exp .slideshow-container-exp .controllers .prev{
    color: var(--secundario);
    padding: 1.6rem;

    font-size: 1.8rem;
    transition: var(--transitions);
    border-radius: .3rem;
    cursor: pointer;

    /* border: solid peru 2px; */
}

.cont-slider-exp .slideshow-container-exp .controllers .next:hover,
.cont-slider-exp .slideshow-container-exp .controllers .prev:hover{
        color: var(--blanco);
        background-color: var(--primario);
    }


.cont-slider-exp .slideshow-container-exp .slide-exp .cont-titulo{
    width: 20%;
    height: 10rem;
    margin-left: 15%;
    transform: translateY(10rem);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    /* border: solid greenyellow 2px; */
}

.cont-slider-exp .slideshow-container-exp .slide-exp .cont-titulo .boton{
    margin: 1rem 0 0 0;
}

.cont-slider-exp .slideshow-container-exp .slide-exp .cont-titulo .slidesLineas{
    width: fit-content;
    height: 1rem;
    margin: 2rem 0 0 0;
    display: flex;
}

.cont-slider-exp .slideshow-container-exp .slide-exp .cont-titulo .slidesLineas .linea{
    width: 3rem;
    background-color: var(--terciario);
    height: .1rem;
    margin: 0 .5rem;
    border-radius: 2rem;
}

.cont-slider-exp .slideshow-container-exp .slide-exp .cont-titulo .slidesLineas .active{
    width: 3rem;
    background-color: var(--primario);
    height: .2rem;
}

.cont-slider-exp .slideshow-container-exp .slide-exp .cont-img{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    /* border: solid grey 2px; */
}

.cont-slider-exp .slideshow-container-exp .slide-exp .cont-img .imagen{
    max-height: 60vh;
    overflow: hidden;
    
    /* border: solid gold 2px; */
}

.cont-slider-exp .slideshow-container-exp .slide-exp .cont-img .imagen-01{
    width: 30%;
    height: 100%;
    
    /* border: solid purple 2px; */
}

.cont-slider-exp .slideshow-container-exp .slide-exp .cont-img .imagen-02{
    width: 60%;
    height: 100%;
    
    /* border: solid olivedrab 2px; */
}

/* --------------------
Nuestro equipo
-------------------- */

.container-equipo{
    width: 100vw;
    background-color: var(--blanco);
    box-shadow: var(--boxShadow);
    position: relative;
    z-index: 16;
    padding-bottom: 5rem;

    /* border: solid red 2px; */
}

.cont-slider-equipo{
    width: 98%;
    margin: auto;
    padding: 0;

    /* border: solid blue 2px; */
}

.cont-slider-equipo .slideshow-container-equipo{
    width: 100%;
    display: flex;

    /* border: solid green 2px; */
}

.cont-slider-equipo .slideshow-container-equipo .slide-equipo{
    width: 100%;

    /* border: solid aqua 2px; */
}

.cont-slider-equipo .slideshow-container-equipo .slide-equipo .slide-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    transition: var(--transitionsXL);
    
    /* border: solid purple 2px; */
}

.cont-slider-equipo .slideshow-container-equipo .slide-equipo .slide-content .contenedor-equipo-all{
    display: flex;
    flex-direction: column;
    
    /* border: solid red 2px; */
}

.cont-slider-equipo .slideshow-container-equipo .slide-equipo .slide-content .contenedor-equipo-all .contenedor-integrantes{
    display: flex;
    flex-direction: row;
    
    width: 99%;
    margin: auto;
    padding: 1rem 0;

    /* border: solid pink 8px; */
}

.cont-slider-equipo .slideshow-container-equipo .slide-equipo .slide-content .contenedor-equipo-all .contenedor-equipo{
    width: 33%;
    padding: 1rem 0;

    /* border: solid blue 2px; */
}

.cont-slider-equipo .slideshow-container-equipo .controllers{
    width: fit-content;
    margin: auto;
    display: flex;
    justify-content: space-between;

    /* border: solid greenyellow 2px; */
}

.cont-slider-equipo .slideshow-container-equipo .controllers .next,
.cont-slider-equipo .slideshow-container-equipo .controllers .prev{
    color: var(--secundario);
    padding: 1.6rem;

    font-size: 1.8rem;
    transition: var(--transitions);
    border-radius: .3rem;
    cursor: pointer;

    /* border: solid peru 2px; */
}

.cont-slider-equipo .slideshow-container-equipo .controllers .next:hover,
.cont-slider-equipo .slideshow-container-equipo .controllers .prev:hover{
        color: var(--blanco);
        background-color: var(--primario);
}

.cont-slider-equipo .slidesLineas{
    width: fit-content;
    height: 1rem;
    margin: 2rem 0 0 0;
    display: flex;

    /* border: solid greenyellow 2px; */
}

.cont-slider-equipo .slidesLineas .linea{
    width: 3rem;
    background-color: var(--terciario);
    height: .1rem;
    margin: 0 .5rem;
    border-radius: 2rem;

    /* border: solid red 2px; */
}

.cont-slider-equipo .slidesLineas .active{
    width: 3rem;
    background-color: var(--primario);
    height: .2rem;
}

.cont-slider-equipo .slideshow-container-equipo .slide-equipo .imagen{
    height: auto;
    max-height: 40vh;
    width: 100%;
    overflow: hidden;

    /* border: solid gold 2px; */
}

.cont-slider-equipo .slideshow-container-equipo .slide-equipo .imagen img{
    height: auto;
    width: 100%;
    
    /* border: solid pink 2px; */
}

.cont-slider-equipo .slideshow-container-equipo .slide-equipo .texto{
    margin: 2rem auto;
    
    width: 96%;
    padding: 1rem 0;

    /* border: solid gold 2px; */
}

.cont-slider-equipo .slideshow-container-equipo .slide-equipo .texto p{
    width: 100%;
    margin: 2rem 0;
    

    width: 100%;
    padding: 0;

    /* border: solid green 2px; */
}