/* --------------------
Banner
-------------------- */

.container-banner{
    padding: 0;
    box-shadow: var(--boxShadow);
    position: relative;
    z-index: 21;
}

.banner{
    width: 100%;
    height: 60vh;
    min-height: 40rem;
    background-image: url(../img/inicio_001.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.banner .cont-info{
    background-color: none;
    width: 50%;
    min-width: 60rem;
    text-align: right;
    padding: 0 2rem;
    margin-bottom: 3rem;
}

.banner .cont-info h3,
.banner .cont-info p{
    text-align: right;
    padding: 0 2rem;
    color: var(--blanco);
}

.banner .cont-info p{
    margin-bottom: 2rem;
    text-align: right;
}

.banner .cont-info .boton{
    text-align: right;
}

/* --------------------
Titulos
-------------------- */

/* .titulo{
    background-color: var(--primario);
    margin: 0 2rem 2rem 0;
    padding: .5rem 4rem .5rem 2rem;
    width: fit-content;
    border-radius: 0 0 1rem 0;
    box-shadow: var(--boxShadow);
} */

.titulo{
    background-color: none;
    margin: 0 2rem 2rem 0;
    padding: .5rem 4rem .5rem 0;
    width: fit-content;
}

.titulo{
    background-color: none;
    margin: 0 2rem 2rem 0;
    padding: .5rem 4rem .5rem 0;
    width: fit-content;
}

/* --------------------
Main
-------------------- */
main{
    width: 100%;
    box-shadow: var(--boxShadow);
    z-index: 10;
    padding-top: 2rem;
    position: relative;
    z-index: 20;
}

main .container-servicios{
    background-color: none;
}

main .container-servicios .servicios{
    width: 100%;
}

main .container-servicios .servicios .cont-imagen{
    width: 100%;
    height: 40vh;
    min-height: 30rem;
    background-image: url(../img/inicio_servicios_001.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main .container-servicios .servicios .cont-texto{
    padding: 2rem;
    width: 60%;
    min-width: 75rem;
    max-width: 120rem;
    margin: 0 0 0 3rem;
    overflow: hidden;
}

main .container-servicios .servicios .cont-texto h4{
    text-align: left;
}

main .container-servicios .servicios .cont-texto p{
    text-align: left;
    padding: 2rem 0;
}

/* Slider */

.servicios .slideshow-container {
    position: relative;
    max-width: none;
    margin: 0 auto;
    height: auto;
    background-color: var(--gris);
}

.servicios .slide {
    display: none;
    height: 22rem;
}

.servicios .slide-content {
    background-color: none;
    margin: auto;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    overflow: hidden;
}

.servicios .slide-content p{
    overflow: hidden;
}

.servicios .prev,
.servicios .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -2.2rem;
    padding: 1.6rem;
    font-weight: bold;
    font-size: 1.8rem;
    transition: 0.6s ease;
    border-radius: .3rem;
    user-select: none;
    color: var(--secundario);
}

.servicios .next {
    right: 0;
}

.servicios .prev:hover,
.servicios .next:hover {
    color: var(--blanco);
    background-color: var(--primario);
}

.servicios .fade {
    animation: fade 6s linear infinite;
}

.servicios .slidesLineas{
    width: 100%;
    height: 1rem;
    margin: 2rem 0 0 0;
    display: flex;
}

.servicios .slidesLineas .linea{
    width: 3rem;
    background-color: var(--terciario);
    height: .1rem;
    margin: 0 .5rem;
    border-radius: 2rem;
}

.servicios .slidesLineas .active{
    width: 3rem;
    background-color: var(--primario);
    height: .2rem;
}

/* --------------------
Experiencia
-------------------- */

.container-experiencia{
    background-color: var(--blanco);
    box-shadow: var(--boxShadow);
    position: relative;
    z-index: 18;
}

  
  