
/* --------------------
Titulos
-------------------- */

.titulo{
    background-color: none;
    margin: 0 2rem 2rem 0;
    padding: 0 4rem .5rem 0;
    width: fit-content;
}

/* --------------------
Menu
-------------------- */

header{
    background-color: var(--primario);
    box-shadow: var(--sectionShadow);
}

/* --------------------
Banner
-------------------- */

.cont-slider-head .slideshow-container-head {
    width: 100%;
    height: 70vh;
    min-height: 40vh;
    margin: 0;
    margin-top: 8rem;
    padding: 0;
    background-color: none;
    position: relative;
    z-index: 30;
    overflow: visible;
}

.cont-slider-head .slide-head {
    width: 100%;
    height: 100%;
    max-width: 200rem;
    margin: auto;
    overflow: visible;
}

.cont-slider-head .slide-content {
    background-color: none;
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: var(--boxShadow);

    /* border: solid black 2px; */
    
}

.cont-slider-head .slide-content .cont-imagen{
    width: 100%;
    height: 100%;
    margin-bottom: 0;

    /* border: solid gold 2px; */
}

.cont-slider-head .slide-content .cont-imagen .imagen{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* border: solid purple 2px; */
}

.cont-slider-head .slide-content .cont-imagen .img-001{
    background-image: url(../img/inicio_header_001.jpg);
    /* background-size: contain; */
}

.cont-slider-head .slide-content .cont-imagen .img-002{
    background-image: url(../img/inicio_header_002.jpg);
}

.cont-slider-head .slide-content .cont-imagen .img-003{
    background-image: url(../img/inicio_header_003.jpg);
    background-position: center top;
}

.cont-slider-head .slide-content .cont-imagen .img-004{
    background-image: url(../img/tam_DesktopGD/inicio_header_004.png);
}

.cont-slider-head .slide-content .cont-imagen .img-005{
    background-image: url(../img/tam_DesktopGD/inicio_header_005.png);
    background-position: center;
}

.cont-slider-head .slide-content .cont-imagen .img-006{
    background-image: url(../img/tam_DesktopGD/inicio_header_006.png);
    background-position: center top;
}

.cont-slider-head .slide-content .cont-imagen .img-007{
    background-image: url(../img/tam_DesktopGD/inicio_header_007.png);
    background-position: center bottom;
}

.cont-slider-head .slide-content .cont-imagen .img-008{
    background-image: url(../img/inicio_header_008.jpg);
}

.cont-slider-head .slide-content .cont-imagen .img-009{
    background-image: url(../img/tam_DesktopGD/inicio_header_009.png);
    background-position: center top;
}

.cont-slider-head .slide-content .cont-imagen .img-010{
    background-image: url(../img/tam_DesktopGD/inicio_header_010.png);
    background-position: center bottom;
}

.cont-slider-head .slideshow-container-head .slidesLineas{
    width: 100%;
    height: 4rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    position: absolute;
    bottom: 0;
}

.cont-slider-head .slidesLineas .linea{
    width: 1.2rem;
    height: .2rem;
    background-color: var(--terciario);
    margin: 0 .5rem;
    border-radius: 2rem;
}

.cont-slider-head .slidesLineas .active{
    background-color: var(--primario);
    width: 3rem;
    height: .3rem;
}


/* --------------------
Main Servicios
-------------------- */
main{
    width: 100vw;
    z-index: 10;
    position: relative;
    z-index: 20;
    background-color: var(--grisFondo);
    box-shadow: var(--sectionShadow);
}

main .container-servicios .servicios{
    padding-top: 0;
    width: 100%;
    overflow: visible;
}

main .container-servicios .servicios .cont-texto{
    padding: 2rem 0;
    width: 100%;
    min-width: none;
    margin: auto;
    overflow: visible;
}

main .container-servicios .servicios .cont-texto h4{
    text-align: left;
}

main .container-servicios .servicios .cont-texto p{
    text-align: left;
    padding: 2rem 0; 
}

/* Slider */

.servicios .slideshow-container {
    position: relative;
    max-width: none;
    margin: 0 auto;
    height: auto;
    background-color: none;
    overflow: visible;
}

.servicios .slide {
    display: none;
    height: auto;
    overflow: hidden;
    overflow: visible;
}

.servicios .slide-content {
    background-color: none;
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    overflow: hidden;

    overflow: visible;
    box-shadow: none;
}

.servicios .slide-content .cont-imagen{
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    box-shadow: var(--boxShadow);
}

.servicios .slide-content .cont-imagen .imagen{
    width: 100%;
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.servicios .slide-content .cont-imagen .img-001{
    background-image: url(../img/tam_DesktopGD/servicios_gerencia.png);
}

.servicios .slide-content .cont-imagen .img-002{
    background-image: url(../img/tam_DesktopGD/servicios_modelado.png);
}

.servicios .slide-content .cont-imagen .img-003{
    background-image: url(../img/tam_DesktopGD/servicios_revision.png);
}

.servicios .slide-content .cont-imagen .img-004{
    background-image: url(../img/tam_DesktopGD/servicios_levantamiento.png);
}

.servicios .slide-content .cont-imagen .img-005{
    background-image: url(../img/tam_DesktopGD/servicios_analisis.png);
    background-position: center bottom;
}

.servicios .slide-content .cont-imagen .img-006{
    background-image: url(../img/servicios_diligence_001.png);
}

.servicios .slide-content .cont-imagen .img-007{
    background-image: url(../img/servicios_gestion_001.png);
}

.servicios .slide-content .texto{
    width: 60%;
    height: 22rem;
    margin-left: 10%;
}

.servicios .slide-content p{
    overflow: hidden;
    text-overflow: ellipsis;
}

.servicios .slideshow-container .controllers{
    width: 80%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-6rem);
    position: absolute;
    top: 85%;

}

.servicios .prev,
.servicios .next {
    cursor: pointer;
    width: 5rem;
    height: auto;
    padding: 1.6rem;
    font-weight: bold;
    font-size: 1.8rem;
    transition: var(--transitions);
    border-radius: .3rem;
    color: var(--secundario);

    display: flex;
    justify-content: center;
    align-items: center;
}

.servicios .prev:hover,
.servicios .next:hover {
    color: var(--blanco);
    background-color: var(--primario);
}

.servicios .fade {
    animation: fade 6s linear infinite;
}

.servicios .slidesLineas{
    width: 100%;
    height: 1rem;
    margin: 2rem 0 0 0;
    display: flex;
}

.servicios .slidesLineas .linea{
    background-color: var(--terciario);
    margin: 0 .5rem;
    border-radius: 2rem;
    height: .2rem;
    width: 1.2rem;
}

.servicios .slidesLineas .active{
    width: 3rem;
    height: .3rem;
    background-color: var(--primario);
}

/* --------------------
Experiencia
-------------------- */

.container-experiencia{
    width: 100vw;
    background-color: #FFFFFF00;
    background-color: var(--blanco);
    position: relative;
    z-index: 18;
    padding-bottom: 0;
    padding-top: 0;
    box-shadow: var(--sectionShadow);
}

.container-experiencia .contenedor-seccion{
    margin-bottom: 0;
    padding-bottom: 0;
}

.container-experiencia .experiencia{
    overflow: visible;
}

.cont-slider-exp{
    margin: 0;
    padding: 0;
    overflow: visible;
}

.cont-slider-exp .slideshow-container-exp{
    width: 100%;
    overflow: visible;
}

.cont-slider-exp .slideshow-container-exp .slide-exp{
    width: 100%;
    transform: translateY(-10rem);
    overflow: visible;

}

.cont-slider-exp .slideshow-container-exp .slide-exp .slide-content{
    box-shadow: none;
    overflow: visible;
}

.cont-slider-exp .slideshow-container-exp .controllers{
    width: 10%;
    margin-left: 30%;
    display: flex;
    justify-content: space-around;
    transform: translateY(-12rem);
}

.cont-slider-exp .slideshow-container-exp .controllers .next,
.cont-slider-exp .slideshow-container-exp .controllers .prev{
    color: var(--secundario);
    padding: 1.6rem;
    font-size: 1.8rem;
    transition: var(--transitions);
    border-radius: .3rem;
    cursor: pointer;
    
    /* border: solid peru 2px; */
}

.cont-slider-exp .slideshow-container-exp .controllers .next:hover,
.cont-slider-exp .slideshow-container-exp .controllers .prev:hover{
    color: var(--blanco);
    background-color: var(--primario);
}


.cont-slider-exp .slideshow-container-exp .slide-exp .cont-titulo{
    width: 25%;
    height: 20rem;
    margin-left: 10%;
    transform: translateY(10rem);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}


.cont-slider-exp .slideshow-container-exp .slide-exp .cont-titulo h4{
    text-align: right;
}

.cont-slider-exp .slideshow-container-exp .slide-exp .cont-titulo .boton{
    margin: 1rem 0 0 0;
}

.cont-slider-exp .slideshow-container-exp .slide-exp .cont-titulo .slidesLineas{
    width: fit-content;
    height: 1rem;
    margin: 2rem 0 0 0;
    display: flex;
}

.cont-slider-exp .slideshow-container-exp .slide-exp .cont-titulo .slidesLineas .linea{
    width: 3rem;
    background-color: var(--terciario);
    height: .1rem;
    margin: 0 .5rem;
    border-radius: 2rem;
}

.cont-slider-exp .slideshow-container-exp .slide-exp .cont-titulo .slidesLineas .active{
    width: 3rem;
    background-color: var(--primario);
    height: .2rem;
}

.cont-slider-exp .slideshow-container-exp .slide-exp .cont-img{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    overflow: visible;
}

.cont-slider-exp .slideshow-container-exp .slide-exp .cont-img .imagen{
    max-height: 60vh;
    overflow: visible;
    box-shadow: var(--boxShadow);
}

.cont-slider-exp .slideshow-container-exp .slide-exp .cont-img .imagen-01{
    width: 30%;
    height: 100%;
}

.cont-slider-exp .slideshow-container-exp .slide-exp .cont-img .imagen-02{
    width: 60%;
    height: 100%;
}

/* --------------------
Nosotros
-------------------- */

.container-nosotros{
    width: 100vw;
    background-color: none;
    position: relative;
    z-index: 16;
    padding-bottom: 10rem;
    padding-top: 0;
    margin-bottom: 0rem;
    box-shadow: none;
    overflow: visible;
    background-color: var(--grisFondo);
}

.container-nosotros .nosotros{
    overflow: visible;
}

.nosotros .contenedor-info{
    width: 100%;
    height: auto;
    display: flex;
    overflow: visible;
}

.nosotros .contenedor-info .imagen{
    width: 80%;
    height: 60vh;
    min-height: 4rem;
    margin: 0 2rem 0 1rem;
    overflow: visible;
}

.nosotros .contenedor-info .texto{
    width: 20%;
    min-width: 32rem;
    margin: auto 2rem auto 0;
    overflow: visible;
}

.nosotros .contenedor-info .texto p{
    text-align: justify;
}

.nosotros .contenedor-info .texto .lineaDec{
    width: 80%;
    margin: auto;
    margin-bottom: 4rem;
    border-bottom: solid var(--primario) .3rem;
}

/* -- Slider -- */

.nosotros .cont-imagen-slide{
    overflow: visible;
}

.nosotros .slideshow-container{
    height: 60vh;
    min-height: 45rem;
    position: relative;
    max-width: none;
    margin: 0 auto;
    overflow: hidden;
    overflow: visible;
}

.nosotros .slideNos{
    display: none;
    height: 60vh;
    min-height: 45rem;
    overflow: hidden;
    overflow: visible;
}

.nosotros .slide-content{
    background-color: none;
    margin: auto;
    width: 88%;
    height: 60vh;
    min-height: 45rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    overflow: visible;
}

.nosotros .slide-content .imagen{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: visible;
    box-shadow: var(--boxShadow) !important;
}

.nosotros .slide-content .img-uno{
    background-image: url(../img/inicio_nosotros_001.png);
}

.nosotros .slide-content .img-dos{
    background-image: url(../img/inicio_nosotros_002.png);
}

.nosotros .slide-content .img-tres{
    background-image: url(../img/inicio_nosotros_003.png);
}

.nosotros .prev,
.nosotros .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -2.2rem;
    padding: 1.6rem;
    font-weight: bold;
    font-size: 1.8rem;
    transition: var(--transitions);
    border-radius: .3rem;
    color: var(--secundario);
}

.nosotros .next {
    right: 0;
}

.nosotros .prev:hover,
.nosotros .next:hover {
    color: var(--blanco);
    background-color: var(--primario);
}

.nosotros .fade {
    animation: fade 6s linear infinite;
}

.nosotros .texto .boton{
    margin: auto;
}

/*  Mobile, Tablet (Vertical) */
@media only screen and (min-width: 1px) and (max-width: 768px) {

    .slideshow-container-head{
        padding: 0 !important;
        margin: 0 !important;
    }

    /* --------------------
    Main Servicios
    -------------------- */
    
    main{
        box-shadow: none;
        background-color: var(--gris);
        padding: 0;
    }

    main .container-servicios .servicios .cont-texto{
        padding: 0;
        width: 100%;
        overflow: visible;
    }
    
    .servicios .slide-content .texto{
        width: 75%;
        height: fit-content;
        margin: auto;
        text-align: center;
    }
    
    main .container-servicios .servicios .cont-texto h4 {
        text-align: center;
    }
    
    main .container-servicios .servicios .cont-texto p {
        margin: 0;
        padding: .5rem 0;
        text-align: center;
    }
    
    main .container-servicios .servicios .cont-texto .btn-secundario {
        padding: 0;
        transform: translate(0);
    }

    .servicios .slide-content .cont-imagen .imagen{
        width: 100%;
        height: 80vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }
    
    .servicios .slideshow-container .controllers{
        width: 100%;
        display: flex;
        justify-content: space-between;
        transform: translateY(0);
        position: absolute;
        top: 85%;
    }

    .servicios .prev,
    .servicios .next {
        width: 2rem;
        height: auto;
    }

    .servicios .slidesLineas{
        display: flex;
        justify-content: center;
    }

    /* --------------------
    Experiencia
    -------------------- */

    .container-experiencia{
        background-color: var(--blanco);
        box-shadow: none;
        margin-bottom: 0;
        transform: translate(0);
    }
    
    .container-experiencia .experiencia{
        padding: 5rem 0 !important;
    }
    
    .container-experiencia .cont-slider-exp{
        margin: 0;
        padding: 0;
    }
    .container-experiencia .cont-slider-exp .slideshow-container-exp{
        margin: 0;
        padding: 0;
    }
    .container-experiencia .cont-slider-exp .slideshow-container-exp .slide-exp{
        transform: translate(0);
        margin: 0;
        padding: 0;
    }
    
    .container-experiencia .cont-slider-exp .slideshow-container-exp .slide-exp .slide-content .cont-titulo{
        width: 90%;
        height: fit-content;
        transform: none;
        align-items: center;
        position: relative;
        margin: auto;
    }
    
    .container-experiencia .cont-slider-exp .slideshow-container-exp .controllers{
        width: 80%;
        transform: translate(0);
        margin: 1rem auto;
        position: relative;
    }
    
    .container-experiencia .cont-slider-exp .slideshow-container-exp .controllers .prev,
    .container-experiencia .cont-slider-exp .slideshow-container-exp .controllers .next{
        color: var(--blanco);
        background-color: var(--primario);
        padding: 1rem;
    }
    
    .cont-slider-exp .slideshow-container-exp .slide-exp .slide-content{
        width: 100vw;
        display: flex;
        flex-direction: column;
        transform: translate(0);
    }
    
    .cont-slider-exp .slideshow-container-exp .slide-exp .cont-titulo h4{
        text-align: center;
    }
    
    .cont-slider-exp .slideshow-container-exp .slide-exp .cont-titulo .boton{
        margin: .5rem 0 0 0;
    }
    
    .cont-slider-exp .slideshow-container-exp .slide-exp .cont-titulo .slidesLineas{
        margin: 1rem 0 0 0;
    }
    
    .cont-slider-exp .slideshow-container-exp .slide-exp .cont-img{
        height: fit-content; 
        width: 100%;
        min-width: 30rem;
        margin: auto;     
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    
    .cont-slider-exp .slideshow-container-exp .slide-exp .cont-img .imagen{
        max-height: none;
        overflow: hidden;
        box-shadow: none;
    }
    
    .cont-slider-exp .slideshow-container-exp .slide-exp .cont-img .imagen-01{
        width: 100%;
        height: 100%;
    }
    
    .cont-slider-exp .slideshow-container-exp .slide-exp .cont-img .imagen-02{
        display: none;
    }
    
    /* --------------------
    Nosotros
    -------------------- */
    
    .container-nosotros{
        width: 100%;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    
    .nosotros .contenedor-info{
        width: 100%;
        flex-direction: column;
    }
    
    .nosotros .contenedor-info .imagen{
        width: 100%;
        height: 50vh;
        min-height: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        
    }
    
    .nosotros .contenedor-info .texto{
        width: 80%;
        min-width: none;
        margin: auto;
    }
    
    .nosotros .contenedor-info .texto p{
        text-align: center;
        margin: auto;
    }
    
    /*  */

    .nosotros .slideshow-container{
        position: relative;
        margin: 0 auto;
        height: 10px;
        max-width: none;
        min-height: none;
        overflow: hidden;
    }
    
    .nosotros .slideNos{
        height: 10px;
        min-height: none;
    }
    
    .nosotros .slide-content{
        margin: auto;
        width: 100%;
        height: 10px;
        min-height: none;
    }
    
    .nosotros .slide-content .imagen{
        width: 100%;
        height: 100%;
    }
    
    /*  */
    .nosotros .prev,
    .nosotros .next {
        position: relative;
        
        width: 100%;
        height: fit-content;
        margin: 0 auto;
        
        padding: 1.6rem;
        color: var(--secundario);
        overflow: hidden;
    }
}

/*  DesktopSM  */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {

    .cont-slider-head .slide-content .cont-imagen .img-004{
        background-image: url(../img/tam_DesktopSM/inicio_header_004.png);
    }
    
    .cont-slider-head .slide-content .cont-imagen .img-005{
        background-image: url(../img/tam_DesktopSM/inicio_header_005.png);
    }
    
    .cont-slider-head .slide-content .cont-imagen .img-006{
        background-image: url(../img/tam_DesktopSM/inicio_header_006.png);
    }
    
    .cont-slider-head .slide-content .cont-imagen .img-007{
        background-image: url(../img/tam_DesktopSM/inicio_header_007.png);
    }
    
    .cont-slider-head .slide-content .cont-imagen .img-009{
        background-image: url(../img/tam_DesktopSM/inicio_header_006.png);
    }
    
    .cont-slider-head .slide-content .cont-imagen .img-010{
        background-image: url(../img/tam_DesktopSM/inicio_header_007.png);
    }

    /* Servicios */


    .servicios .slide-content .cont-imagen .img-001{
        background-image: url(../img/tam_DesktopSM/servicios_gerencia.png);
    }
    
    .servicios .slide-content .cont-imagen .img-002{
        background-image: url(../img/tam_DesktopSM/servicios_modelado.png);
    }
    
    .servicios .slide-content .cont-imagen .img-003{
        background-image: url(../img/tam_DesktopSM/servicios_revision.png);
    }
    
    .servicios .slide-content .cont-imagen .img-004{
        background-image: url(../img/tam_DesktopSM/servicios_levantamiento.png);
    }
    
    .servicios .slide-content .cont-imagen .img-005{
        background-image: url(../img/tam_DesktopSM/servicios_analisis.png);
    }
    
}

/*  Tablet (Horizontal) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    
    /* --------------------
    Titulos
    -------------------- */
    
    .titulo{
        margin: 0 auto;
        padding: 1rem;
        padding-top: 0;
        z-index: 8000;
        border-radius: 0 0 .5rem 0;
    }

    /* --------------------
    Header
    -------------------- */
    
    .cont-slider-head .slideshow-container-head {
        height: 90vh;
        margin-top: 0;
        padding: 0;
        margin-bottom: 0;
    }
    
    .cont-slider-head .slide-content .cont-imagen .img-004{
        background-image: url(../img/tam_Tablet/inicio_header_004.png);
    }
    
    .cont-slider-head .slide-content .cont-imagen .img-005{
        background-image: url(../img/tam_Tablet/inicio_header_005.png);
    }
    
    .cont-slider-head .slide-content .cont-imagen .img-006{
        background-image: url(../img/tam_Tablet/inicio_header_006.png);
    }
    
    .cont-slider-head .slide-content .cont-imagen .img-007{
        background-image: url(../img/tam_Tablet/inicio_header_007.png);
    }
    
    .cont-slider-head .slide-content .cont-imagen .img-009{
        background-image: url(../img/tam_Tablet/inicio_header_009.png);
    }
    
    .cont-slider-head .slide-content .cont-imagen .img-010{
        background-image: url(../img/tam_Tablet/inicio_header_010.png);
    }

    /* Servicios */
    .servicios .slide-content .cont-imagen .img-001{
        background-image: url(../img/tam_Tablet/servicios_gerencia.png);
    }
    
    .servicios .slide-content .cont-imagen .img-002{
        background-image: url(../img/tam_Tablet/servicios_modelado.png);
    }
    
    .servicios .slide-content .cont-imagen .img-003{
        background-image: url(../img/tam_Tablet/servicios_revision.png);
    }
    
    .servicios .slide-content .cont-imagen .img-004{
        background-image: url(../img/tam_Tablet/servicios_levantamiento.png);
    }
    
    .servicios .slide-content .cont-imagen .img-005{
        background-image: url(../img/tam_Tablet/servicios_analisis.png);
    }

    /* --------------------
    Main Servicios
    -------------------- */
    
    main{
        box-shadow: none;
        background-color: var(--gris);
    }

    main .container-servicios .servicios .cont-texto{
        padding: 0;
        width: 100%;
        overflow: visible;
    }
    
    .servicios .slide-content .texto{
        width: 86%;
        height: fit-content;
        margin: auto;
    }
    
    main .container-servicios .servicios .cont-texto p {
        margin: 0;
        padding: .5rem 0;
    }
    
    main .container-servicios .servicios .cont-texto .btn-secundario {
        padding: 0;
    }
    
    .servicios .slideshow-container .controllers{
        width: 100%;
        display: flex;
        justify-content: space-between;
        transform: translateY(-6rem);
        position: absolute;
        top: 85%;
        
    }

    /* --------------------
    Experiencia
    -------------------- */

    .container-experiencia{
        background-color: var(--blanco);
        box-shadow: none;
        margin-bottom: 0;
        transform: translate(0);
    }
    
    .container-experiencia .experiencia{
        padding: 5rem 0 !important;
    }
    
    .container-experiencia .cont-slider-exp .slideshow-container-exp .slide-exp .slide-content .cont-titulo{
        width: 90%;
        height: auto;
        transform: none;
        align-items: center;
        position: relative;
    }
    
    .container-experiencia .cont-slider-exp .slideshow-container-exp .controllers{
        width: 80%;
        transform: translate(0);
        margin: 1rem auto;
        position: relative;
    }
    
    .container-experiencia .cont-slider-exp .slideshow-container-exp .controllers .prev,
    .container-experiencia .cont-slider-exp .slideshow-container-exp .controllers .next{
        color: var(--blanco);
        background-color: var(--primario);
    }
    
    .cont-slider-exp .slideshow-container-exp .slide-exp .slide-content{
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .cont-slider-exp .slideshow-container-exp .slide-exp{
        transform: translateY(0rem);
    }
    
    .cont-slider-exp .slideshow-container-exp .slide-exp .cont-titulo{
        width: 30%;
        height: fit-content;
        margin-left: 5%;
        transform: translateY(0rem);
        position: absolute;
    }
    
    .cont-slider-exp .slideshow-container-exp .slide-exp .cont-titulo h4{
        text-align: center;
    }
    
    .cont-slider-exp .slideshow-container-exp .slide-exp .cont-titulo .boton{
        margin: .5rem 0 0 0;
    }
    
    .cont-slider-exp .slideshow-container-exp .slide-exp .cont-titulo .slidesLineas{
        margin: 1rem 0 0 0;
    }
    
    .cont-slider-exp .slideshow-container-exp .slide-exp .cont-img{
        height: fit-content;   
        width: 60%;
        min-width: 55rem;
        margin: auto;     
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    
    .cont-slider-exp .slideshow-container-exp .slide-exp .cont-img .imagen{
        max-height: none;
        overflow: hidden;
        box-shadow: none;
    }
    
    .cont-slider-exp .slideshow-container-exp .slide-exp .cont-img .imagen-01{
        width: 100%;
        height: 100%;
    }
    
    .cont-slider-exp .slideshow-container-exp .slide-exp .cont-img .imagen-02{
        display: none;
    }
    
    /* --------------------
    Nosotros
    -------------------- */

    .container-nosotros{
        padding-bottom: 0rem;
    }

    .nosotros .contenedor-info{
        width: 100%;
        flex-direction: column;
    }

    .nosotros .contenedor-info .imagen{
        width: 100%;
        height: 60vh;
        min-height: none;
        margin: 0;
        padding: 0;
        overflow: visible;
    }
    
    .nosotros .contenedor-info .texto{
        width: 86%;
        min-width: 80rem;
        margin: auto;
    }
    
    .nosotros .contenedor-info .texto p{
        text-align: center;
        margin: auto;
        margin-top: 2rem;
    }
    
    .nosotros .prev,
    .nosotros .next {
        cursor: pointer;
        position: absolute;
        top: 93%;
        width: auto;
        margin-top: -2.2rem;
        padding: 1.6rem;
        font-weight: bold;
        font-size: 1.8rem;
        transition: var(--transitions);
        border-radius: .3rem;
        color: var(--secundario);
    }
    
    .nosotros .contenedor-info .texto .lineaDec{
        width: 80%;
        margin: auto;
        margin-bottom: 1rem;
        border-bottom: solid var(--primario) .2rem;
    }
    
    .nosotros .slide-content{
        width: 100%;
        height: 30vh;
    }

    .nosotros .slideshow-container{
        height: 30vh;
    }
    
    .nosotros .slideNos{
        height: 30vh;
    }
    

}

/*  Tablet (Vertical) */
@media only screen and (min-width: 426px) and (max-width: 768px) {
    
    .titulo{
        margin: 0 auto;
        padding: 1rem;
        padding-top: 0;
        z-index: 8000;
        border-radius: 0 0 .5rem 0;
    }

    /* --------------------
    Header
    -------------------- */
    
    .cont-slider-head .slideshow-container-head {
        height: 100vh;
        margin-top: 0;
        padding: 0;
        margin-bottom: 5rem;
    }
    
    .cont-slider-head .slide-content .cont-imagen .img-004{
        background-image: url(../img/tam_Original/inicio_header_004.png);
    }
    
    .cont-slider-head .slide-content .cont-imagen .img-005{
        background-image: url(../img/tam_Original/inicio_header_005.png);
    }
    
    .cont-slider-head .slide-content .cont-imagen .img-006{
        background-image: url(../img/tam_Original/inicio_header_006.png);
    }
    
    .cont-slider-head .slide-content .cont-imagen .img-007{
        background-image: url(../img/tam_Original/inicio_header_007.png);
    }
    
    .cont-slider-head .slide-content .cont-imagen .img-009{
        background-image: url(../img/tam_Original/inicio_header_009.png);
    }
    
    .cont-slider-head .slide-content .cont-imagen .img-010{
        background-image: url(../img/tam_Original/inicio_header_010.png);
    }

    /* Servicios */

    /* 
    .servicios .slide-content .cont-imagen{
        border: solid green 2px;
    }
    */

    .servicios .slide-content .cont-imagen .img-001{
        background-image: url(../img/tam_Original/servicios_gerencia.png);
    }
    
    .servicios .slide-content .cont-imagen .img-002{
        background-image: url(../img/tam_Original/servicios_modelado.png);
    }
    
    .servicios .slide-content .cont-imagen .img-003{
        background-image: url(../img/tam_Original/servicios_revision.png);
    }
    
    .servicios .slide-content .cont-imagen .img-004{
        background-image: url(../img/tam_Original/servicios_levantamiento.png);
    }
    
    .servicios .slide-content .cont-imagen .img-005{
        background-image: url(../img/tam_Original/servicios_analisis.png);
    }

    
}


/*  Mobile  */
@media only screen and (min-width: 1px) and (max-width: 425px) {
    
    .cont-slider-head .slide-content .cont-imagen .img-004{
        background-image: url(../img/tam_Mobile/inicio_header_004.png);
    }
    
    .cont-slider-head .slide-content .cont-imagen .img-005{
        background-image: url(../img/tam_Mobile/inicio_header_005.png);
    }
    
    .cont-slider-head .slide-content .cont-imagen .img-006{
        background-image: url(../img/tam_Mobile/inicio_header_006.png);
    }
    
    .cont-slider-head .slide-content .cont-imagen .img-007{
        background-image: url(../img/tam_Mobile/inicio_header_007.png);
    }
    
    .cont-slider-head .slide-content .cont-imagen .img-009{
        background-image: url(../img/tam_Mobile/inicio_header_009.png);
    }
    
    .cont-slider-head .slide-content .cont-imagen .img-010{
        background-image: url(../img/tam_Mobile/inicio_header_010.png);
    }

    /* Servicios */
    
    /* 
    .servicios .slide-content .cont-imagen{
        border: solid pink 2px;
    }
    */

    .servicios .slide-content .cont-imagen .img-001{
        background-image: url(../img/tam_Mobile/servicios_gerencia.png);
    }
    
    .servicios .slide-content .cont-imagen .img-002{
        background-image: url(../img/tam_Mobile/servicios_modelado.png);
    }
    
    .servicios .slide-content .cont-imagen .img-003{
        background-image: url(../img/tam_Mobile/servicios_revision.png);
    }
    
    .servicios .slide-content .cont-imagen .img-004{
        background-image: url(../img/tam_Mobile/servicios_levantamiento.png);
    }
    
    .servicios .slide-content .cont-imagen .img-005{
        background-image: url(../img/tam_Mobile/servicios_analisis.png);
    }

}



