/* --------------------
Banner
-------------------- */

.container-nosotros{
    background-image: url(../img/header_servicios.png);
    transform: translateY(0);
    position: relative;
    z-index: 1000;
}

/* --------------------
Secciones Titulos
-------------------- */

.titulo{
    margin: 0 0 2rem 0;
    padding: 0 0 .5rem 0;
    width: fit-content;
    background-color: none;
}

.titulo-dos{
    width: 100%;
    margin: auto;
    text-align: center;
    transform: translateY(-3rem);
}

.titulo-dos span{
    font-family: 'Roboto Slab', serif;
    color: var(--secundario);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 4rem;
    margin: 0;
}

.titulo-tres{
    width: 100%;
    margin: auto;
    text-align: left;
    transform: translateY(-4rem);
}

.titulo-tres span{
    font-family: 'Roboto Slab', serif;
    color: var(--primarioHover);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3rem;
    margin: 0;

    -webkit-text-stroke-width: .05rem;
    -webkit-text-stroke-color: var(--primario);
}

/* --------------------
Perfil de la empresa
-------------------- */

.container-perfil{
    padding-top: 0;
}

.perfil .texto{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
}

.perfil .texto .caja-uno{
    width: 70%;
    margin: 5rem auto 0 auto;
    padding: 0;
    padding: 0 4rem 6rem 4rem;
    overflow: visible;

    border-radius: 1rem;
    box-shadow: var(--boxShadow);
    background-color: var(--blanco);
}

.perfil .texto .caja-uno p{
    text-align: center;
    margin: auto;
}

.perfil .texto .caja-dos{
    width: 98%;
    height: auto;
    margin: 6rem 1% 0 1%;
    padding: 6rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0;
    overflow: visible;
    border-radius: 1rem;
    
    box-shadow: var(--boxShadow);
    background-color: var(--blanco);
}

.perfil .texto .caja-dos h5{
    text-align: center;
    word-break: keep-all;
    color: var(--secundario);
}

.perfil .texto .caja-dos p{
    width: 100%;
    padding: 4rem 0 0 0;
    text-align: center;
    margin: auto;
    color: var(--negro);
}

.perfil .texto .servicios{
    width: 90%;
    height: auto;
    margin: 3rem auto;
    padding: 3rem 4rem;
    border-radius: 1rem;
    background-color: none;
}

.perfil .texto .servicios ul{
    height: 100%;
    max-width: 140rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.perfil .texto .servicios ul li{
    width: 30%;
    margin: 3rem 0;
    padding-bottom: 1rem;
    color: var(--negro);
    text-align: center;
    border-bottom: solid var(--primario) .2rem;
    transition: var(--transitions);
}

.perfil .texto .servicios ul li:hover{
    transform: scale(1.05);
    border-bottom: solid var(--primario) .3rem;
}

.perfil .texto .servicios ul li a{
    text-decoration: none;
    color: var(--negro);
}

.perfil .texto .servicios ul li .icono{
    height: 6rem;
    margin-bottom: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.perfil .texto .servicios ul li .icon-001{
    background-image: url(../img/servicios_gerencia.png);
}

.perfil .texto .servicios ul li .icon-002{
    background-image: url(../img/servicios_auditoria.png);
}

.perfil .texto .servicios ul li .icon-003{
    background-image: url(../img/servicios_revision.png);
}

.perfil .texto .servicios ul li .icon-004{
    background-image: url(../img/servicios_levantamiento.png);
}

.perfil .texto .servicios ul li .icon-005{
    background-image: url(../img/servicios_analisis.png);
}

.perfil .texto .servicios ul li .icon-006{
    background-image: url(../img/servicios_diligence.png);
}

.perfil .texto .servicios ul li .icon-007{
    background-image: url(../img/servicios_gestion.png);
}

.perfil .texto .caja-tres{
    width: 39%;
    height: auto;
    margin: 6rem 1% 0 0;
    padding: 0;
    border-radius: 1rem;
    box-shadow: var(--boxShadow);

    opacity: 0;
}

.perfil .texto .caja-tres .imagen{
    background-image: url(../img/experiencia_aeropuertos_01_001.png);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.perfil .texto .caja-cuatro{
    width: 39%;
    height: auto;
    margin: 6rem 1% 2rem 0;
    padding: 0;
    border-radius: 1rem;
    box-shadow: var(--boxShadow);
    
    opacity: 0;
}

.perfil .texto .caja-cuatro .imagen{
    background-image: url(../img/experiencia_aeropuertos_01_001.png);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* --------------------
Mision, Visión, Valores
-------------------- */

/* .container-miviva{
    padding-top: 0;
} */

.perfil .texto .mision{
    width: 49%;
}









/* --------------------
Tablet
-------------------- */
@media only screen and (max-width: 1599px) and (min-width: 1000px) {

    /* body{
        border: solid red 3px;
    } */

    .contenedor-seccion{
        padding: 10rem 2rem 3rem 2rem !important;
    }

}


/* --------------------
Mobile
-------------------- */
@media only screen and (max-width: 999px) and (min-width: 1px) {

    /* body{
        border: solid blue 3px;
    } */

    .contenedor-seccion{
        padding: 5rem 0 !important;
    }

}