

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Maven Pro', sans-serif;
    overflow-x: hidden;

}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

// Colores

$blanco: #FFFFFF;
$negro: #000000;
$cafe: #8A7F58;
$cafe-op: #8A7F58EA;
$amarillo: #D5AB00;
$amarilloDos: #E3C174;
$amarilloDos-op: #E3C174;
$morado: #62038E;
$moradoDos: #8C45AD;
$moradoTres: #A964CA;

$border: solid $morado .3rem;
$borderDos: solid $amarillo .3rem;
$radius: .5rem;
$radiusDos: 1.5rem;
$radiusTres: 30rem;

$degradadoUno: linear-gradient($moradoDos, 20%, $moradoTres);
$degradadoDos: linear-gradient($amarilloDos-op, 80%, $cafe-op);


// Personalizar

.primary {
    color: $morado;
}

.secondary {
    color: $blanco;
}

.terciary {
    color: $negro;
}

.bg-primary{
    background-color: $degradadoDos !important;
    background: $degradadoDos !important;
}

.bg-secondary{
    background-color: $amarilloDos !important;
}

// Body

.diap-uno{
    background-image: url(../img/fondo.png);
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
}

.warning {
    position: relative;
    padding: 1rem;
    background-color: $amarillo;
    color: $blanco !important;
    transform: translate(2rem, -1rem);
    border-radius: 0 1rem 0 1rem;
    display: flex;
}

.warning-icon{
    height: auto;
    font-size: 4rem;
    
}
.warning-icon-text{
    font-size: 1.4rem;
}

.warning-text{
    font-size: 1.8rem;
    padding-left: 4rem;
    border: $borderDos;
    border-radius: $radiusDos;
}

.riesgos .riesgo-cuadro{
    width: 70%;
    margin: auto;
}

.riesgos .riesgo-cuadro img{
    width: 100%;
    height: auto;
    border: $border;
    border-radius: $radius;
    z-index: 9;
    position: relative;
}

.riesgo-texto{
    width: 80%;
    margin: auto;
    font-size: 1.8rem;
    color: $blanco;
    border: $border;
    border-radius: $radius;
    background: $degradadoUno;
    transform: translateY(-1rem);
}

// Diap Dos

.diap-dos {
    background-image: url(../img/fondoDos.png);
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
}

.diap-dos .dos {
    padding: 2rem;
}

.diap-dos .plecas .pleca-imagen{
    width: 20%;
    z-index: 999;
    transform: translateX(3rem);
}

.diap-dos .plecas .pleca-imagen img{
    width: 100%;
    border-radius: $radiusTres;
    border: solid $negro .3rem;
}

.diap-dos .plecas .pleca-texto{
    width: 80%;
    font-size: 1.8rem;
    padding-left: 8rem !important;
    border-radius: $radiusTres;
    border: solid $blanco .4rem;
    transform: translateX(-3rem);
}

.bg-uno{
    background: linear-gradient($moradoTres, 80%, $morado);
}

.bg-dos{
    background: linear-gradient(#AFBFEA, 50%, #2C4BA5);
}

.bg-tres{
    background: linear-gradient(#AFDBEA, 50%, #2E88A6);
}

// Diap Tres

.diap-tres {
    background-image: url(../img/fondoTres.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.diap-tres .cont-circulo{
    margin: .2rem 8vw .2rem 8vw;
}

.diap-tres .circulo {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 12vw;
    height: calc(12vw);
    border-radius: $radiusTres;
}

.diap-tres .cont-circulo p {
    font-weight: 700;
    font-size: 1.6rem;
    padding: .2rem auto 0 auto;
    margin: .5rem 0 1rem 0;
    width: 12vw;
}

.diap-tres .circulo-uno {
    background-image: url(../img/corazon.png);
}

.diap-tres .circulo-dos {
    background-image: url(../img/cerebro.png);
}

.diap-tres .circulo-tres {
    background-image: url(../img/embarazadaG.png);
    width: 18vw;
    height: calc(18vw);
    border: $borderDos;
}

.diap-tres .circulo-cuatro {
    background-image: url(../img/higado.png);
}

.diap-tres .circulo-cinco {
    background-image: url(../img/globulos.png);
}

.diap-tres .circulo-seis {
    background-image: url(../img/riñon.png);
}

@media only screen and (max-width: 1000px) and (min-width: 800px) {
    
    .diap-tres .cont-circulo{
        margin: .2rem 3vw .2rem 3vw;
    }
    
    .diap-tres .circulo {
        width: 16vw;
        height: calc(16vw);
    }
    
    .diap-tres .cont-circulo p {
        font-size: 1.6rem;
        width: 16vw;
        margin: .5rem 0 1rem 0;
    }

    .diap-tres .circulo-tres {
        width: 23vw;
        height: calc(23vw);
    }
}
@media only screen and (max-width: 799px) and (min-width: 10px) {
    
    .diap-tres .cont-circulo{
        margin: .1rem 2vw .1rem 2vw;
    }
    
    .diap-tres .circulo {
        width: 25vw;
        height: calc(25vw);
    }
    
    .diap-tres .cont-circulo p {
        font-size: 1.2rem;
        width: 25vw;
        margin: .5rem 0 1rem 0;
    }
    
    .diap-tres .circulo-tres {
        width: 32vw;
        height: calc(32vw);
    }
}