/* ---------------
Info
--------------- */

.seccionInfo {
    width: 90vw;
    margin: 18rem auto 10rem auto;
    padding: var(--spaceSection);
    background-color: var(--blanco);
    border-radius: 1rem;
}

.seccionInfo .contenedorInfo .titulo{
    margin: 3rem auto;
}

.seccionInfo .contenedorInfo .titulo h2{
    text-align: center;
}

.seccionInfo .contenedorInfo .tabla{
    width: 100%;
    margin: auto;
    margin-bottom: 3rem;
}

.seccionInfo .contenedorInfo .busqueda table{
    width: 100%;
    margin: auto;
    border-spacing: 1rem 0;
    
}

.seccionInfo .contenedorInfo .busqueda table{
    color: var(--negro);
    width: 100%;
}


.seccionInfo .contenedorInfo .busqueda table th{
    font-size: 1.8rem;
    color: var(--blanco);
    font-weight: 500;
    text-align: center;
    padding: 1rem 0;
    text-transform: uppercase;
    border-radius: 1rem 1rem 0 0;
    background-color: var(--principal);
}

.seccionInfo .contenedorInfo .busqueda table td{
    text-align: center;
    font-size: 1.4rem;
    padding: 1rem 0 .5rem 0;
    border: solid var(--principal) .12em;
}

/* ---------------
ResultadosHead
--------------- */

.seccionInfo .contenedorInfo  .resultadosHead{
    width: 100%;
    margin: 5rem auto;
}

.resultadosHead .cajas{
    display: flex;
    justify-content: space-around;
}

.resultadosHead .cajas .caja{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}

.resultadosHead .cajas .caja p{
    color: var(--gris);
}

.resultadosHead .cajas .caja .resultadosCantidad{
    font-size: 1.4rem;
    padding: .5rem 2rem ;
    margin-top: 1rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    background-color: var(--gris);
}

.resultadosHead .cajas .active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: solid var(--principal) .2rem;
}

.resultadosHead .cajas .active p{
    color: var(--principal);
}

.resultadosHead .cajas .active .resultadosCantidad{
    font-size: 1.4rem;
    padding: .5rem 2rem ;
    margin-top: 1rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    background-color: var(--secundario);
}


/* ---------------
Resultados
--------------- */

.seccionInfo .contenedorInfo .resultados{
    width: 100%;
    margin: 5rem auto;
}

.seccionInfo .contenedorInfo .resultados table{
    color: var(--negro);
    width: 100%;
}

/* Resultados */

.seccionInfo .contenedorInfo .resultados table th{
    border-right: solid var(--principal) .1rem;
}

.seccionInfo .contenedorInfo .resultados table td{
    border-right: solid var(--principal) .1rem;
    border-top: solid var(--principal) .1rem;
}

.seccionInfo .contenedorInfo .resultados table th:last-child{
    border-right: none;
}

.seccionInfo .contenedorInfo .resultados table td:last-child{
    border-right: none;
}

.seccionInfo .contenedorInfo .resultados table tr th{ 
    width: 20%;
    color: var(--principal);
    border-bottom: solid var(--principal) .1rem;
    border-top: solid var(--principal) .1rem;
}

.seccionInfo .contenedorInfo .resultados table tr .snbr{ 
    border-right: none;
}
    
.seccionInfo .contenedorInfo .tabla table .listadoResultados td{
    border: none;
    text-align: left;
    padding: 1rem 3rem;
}

.seccionInfo .contenedorInfo .tabla table .impar{
    background-color: var(--secundario-op-tres);
}


/*  Tablet Vertical / Mobile  */
@media only screen and (min-width: 1px) and (max-width: 768px) {

    /* ---------------
    Info
    --------------- */

    .seccionInfo {
        border-radius: 0;
        width: 100vw;
        margin: 0rem auto 0 auto;
        padding: 6rem 0 4rem 0;
        min-width: 1px;
        background-color: #00000000;
    }
    .seccionInfo .contenedorInfo {
        min-width: 1px;
    }
    
    .seccionInfo .contenedorInfo .busqueda table{
        border-spacing: .3rem 0;

        border: solid red 2px;
    }


    .seccionInfo .contenedorInfo .busqueda table th{
        font-size: 1.4rem;
    }

}

/* ------------------------------------------------------------------------------------------------------------------ */

/*  DesktopSM  */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {

}

/*  Tablet (Tablet Horizontal) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

    /* ---------------
    Info
    --------------- */

    .seccionInfo {
        
        border-radius: 0;
        width: 100vw;
        margin: 0rem auto 0 auto;
        padding: 4rem 0;
        min-width: 1px;
        background-color: #00000000;
    }
    .seccionInfo .contenedorInfo {
        min-width: 1px;
    }

    .seccionInfo .contenedorInfo .busqueda table{
        border-spacing: .3rem 0;
    }


    .seccionInfo .contenedorInfo .busqueda table th{
        font-size: 1.4rem;
    }

}

/*  Original (Tablet Vertical) */
@media only screen and (min-width: 426px) and (max-width: 768px) {

}


/*  Mobile  */
@media only screen and (min-width: 1px) and (max-width: 425px) {

}