/* ---------------
Seccion Form
--------------- */

.seccionForm{
    width: 90vw;
    margin: auto;
    margin-top: 18rem;
}

.seccionForm .circulo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 10rem;
}

.circulo .circulos{
    width: 40%;
    margin-right: 5%;
}

.circulo .imagen{
    width: 55%;
}

.circulo .imagen .img{
    width: 100%;
    height: 100%;
    margin: auto;
    background-image: url(../img/contacto_enlaces.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 2rem 2rem 0;
}

.linea_circulo{
    display: flex;
    align-items: center;
}

.linea_circulo a{
    color: var(--negro);
    text-decoration: none;
    transition: var(--transitions);
}

.linea_circulo a:hover{
    transform: scale(1.02);
}

.circuloIn{
    height: auto;
    width: auto;
    padding: 2rem;
    margin: 1rem;
    margin-right: 2rem;
    max-width: 10rem;
    max-height: 10rem;
    min-width: 6rem;
    max-width: 7rem;
    background-color: var(--principal);
    border-radius: 5rem;
    transition: var(--transitions);
    box-shadow: var(--boxShadow);
}

.circuloIn:hover{
    transform: scale(1.1);
    background-color: var(--principal-op);
}

.circuloIn .iconoCirculo{
    width: 30px;
    height: 30px;
    display: flex;
    fill: var(--blanco);
}

/* ---------------
Seccion Form
--------------- */
.contTitle{
    text-align: center;
    margin-top: 5rem;
}

.containerForm {
    width: 90vw;
    margin: 4rem auto 10rem auto;
    padding: 0;
}

.containerForm form {
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 1rem;
    background-color: var(--blanco);
}

.containerForm label {
    width: 23%;
    margin: .5rem 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.containerForm span {
    width: fit-content;
    font-size: 1.3rem;
    color: var(--azul);
    margin-left: 1rem;
    padding: 0 .5rem;
    background-color: var(--blanco);
    
    transform: translateY(.5rem);
    z-index: 99;
}

.containerForm input {
    width: 100%;
    height: 4rem;
    border-radius: 3px;
    padding: 0 1.5rem;
    color: var(--negro);
    border: solid var(--principal) .15rem;
    
    transform: translateY(-.5rem);
    z-index: 9;
    background-color: var(--grisTres);
    background-color: var(--blanco);
  }
  
.containerForm .contenedor-boton {
    width: auto;
    overflow: visible;
    margin: 0 2rem;
  }

/* ---------------
Agendar
--------------- */

.seccionAgendar {
    margin: 2rem 0 7rem 0;
    padding: var(--spaceSection);
}

.seccionAgendar .agendar{
    width: 90vw;
    margin: auto;
}


.seccionAgendar .agendar .cajas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccionAgendar .agendar .cajas .caja{
    width: 50%;
}

.seccionAgendar .agendar .cajas .texto{
    overflow: hidden;
}


.seccionAgendar .agendar .cajas .caja h3{
    margin: 2rem 0;
}

.seccionAgendar .agendar .cajas .caja p a{
    color: var(--secundario);
    text-decoration: none;
    font-weight: 500;
    transition: var(--transitions);
    box-sizing: border-box;
}

.seccionAgendar .agendar .cajas .caja p a:hover{
    color: var(--vinculo);
}

.seccionAgendar .agendar .cajas .calendario{
    width: 50%;
    margin-right: 5rem;
    display: flex;
    justify-content: flex-end;
}

.seccionAgendar .agendar .cajas .caja .boton{
    margin-top: 3rem;
    margin-left: .5rem;
}

.seccionAgendar .agendar .cajas .calendario img{
    width: 50%;
    margin-left: 40%;
}



/*  Tablet (Tablet Horizontal) */
@media only screen and (min-width: 1px) and (max-width: 1024px) {

    /* ---------------
    Seccion Form
    --------------- */

    .seccionForm{
        width: 100vw;
        margin-top: 5rem;
    }

    .seccionForm .circulo{
        width: 90%;
        margin: auto;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5rem;
    }

    .circulo .circulos{
        width: 95%;
    }

    .circulo .imagen{
        width: 100%;
        height: 30rem;
        display: none;
    }

    .circulo .imagen .img{
        border-radius: 2rem;
    }

    /* ---------------
    Seccion Form
    --------------- */
    .contTitle{
        width: 100vw;
    }
    
    .containerForm {
        width: 90%;
        min-width: 1px;
        margin-bottom: 3rem;
    }

    .containerForm form {
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1rem 0;
    }

    .containerForm label {
        width: 80%;
        margin: 1rem 0;
    }

    .containerForm span {
        color: var(--primario);
    }

    .containerForm .contenedor-boton {
        margin-bottom: 2rem;
    }

    /* ---------------
    Agendar
    --------------- */

    .seccionAgendar {
        width: 100vw;
        margin: 0 0 5rem 0;
    }

    .seccionAgendar .agendar{
        width: 90%;
        min-width: 1px;
    }
    
    
    .seccionAgendar .agendar .cajas{
        flex-direction: column;
        text-align: center;
    }
    
    .seccionAgendar .agendar .cajas .caja{
        width: 90%;
    }
    
    .seccionAgendar .agendar .cajas .caja .boton{
        margin-top: 3rem;
        margin-left: .5rem;
        margin: 3rem auto 0 auto;
    }
    
    .seccionAgendar .agendar .cajas .calendario{
        margin: auto;
        margin-bottom: 2rem;
    }
    
    .seccionAgendar .agendar .cajas .calendario img{
        width: 40%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }


}