.seccionNosotros{
    margin-top: 14rem;
}

.seccionNosotros .contenedorNosotros{
    width: 90vw;
}

.nosotros{
    margin: auto;
}

.seccionNosotros .nosotros .cajas{
    display: flex;
    align-items: center;
}

.seccionNosotros .nosotros .cajas .texto{
    width: 60%;
    padding-left: 5rem;
}

.seccionNosotros .nosotros .cajas .texto ul{
    overflow: visible;
    margin-top: 1rem;
}

.seccionNosotros .nosotros .cajas .texto ul li{
    overflow: visible;
}


.seccionNosotros .nosotros .cajas .containerVideo{
    width: 40vw;
    margin-right: 0;
    margin: 0;
    padding: 2rem 0;
    display: flex;
    transition: var(--transitionsLarge);
}
  
.seccionNosotros .nosotros .cajas .containerVideo video{
    width: 100%;
    height: 100%;
    box-shadow: var(--boxShadow);
    border-radius: 2rem;
  }

/* ---------------
Marcas
--------------- */

.seccionMarcas {
    margin-top: 8rem;
    padding: var(--spaceSection);
  }

.seccionMarcas .marcas{
    width: 90vw;
    max-width: 180rem;
    margin: auto;
    overflow: visible;
}

.seccionMarcas .marcas .cajas .annio{
    color: var(--secundario);
    font-size: 3.2rem;
    font-weight: 600;
    font-family: var(--font-secundaria);
    overflow: visible;
}

.seccionMarcas .marcas .cajas .titulo{
    color: var(--principal);
    font-size: 2.2rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1rem 0;
    overflow: visible;
}

.seccionMarcas .marcas .cajas .texto{
    color: var(--negro);
    font-size: 1.5rem;
    font-weight: 300;
    overflow: visible;
}

.seccionMarcas .marcas .cajas_01{
    display: flex;
    justify-content: space-between;
    overflow: visible;
}

.seccionMarcas .marcas .cajas_01 .caja{
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccionMarcas .marcas .cajas_01 .caja .circulo_01{
    width: 23rem;
    height: 23rem;
    border-radius: 200rem;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    overflow: visible;
    background-color: #E6F4F6;
    transform: translateY(2rem);
    z-index: 9;

    box-shadow: var(--boxShadow);
}

.seccionMarcas .marcas .cajas_01 .caja .circulo_02{
    width: 14rem;
    height: 14rem;
    border-radius: 10rem;
    background-color: var(--blanco);
    z-index: 99;
    box-shadow: var(--boxShadow);
}

.seccionMarcas .marcas .cajas_01 .caja .circulo_02 .logo{
    width: 90%;
    height: 90%;
    margin: 5%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.seccionMarcas .marcas .cajas_01 .caja .circulo_02 .logoAS{
    background-image: url(../img/logoAS_Color.png);
}

.seccionMarcas .marcas .cajas_01 .caja .circulo_02 .logoAC{
    background-image: url(../img/logoAC_Color.png);
}

.seccionMarcas .marcas .cajas_01 .caja .circulo_02 .logoMC{
    background-image: url(../img/logoMC_Color.png);
}

.seccionMarcas .marcas .lineas{
    display: flex;
    justify-content: space-between;
}

.seccionMarcas .marcas .lineas .caja{
    width: 22rem;
    height: 6rem;
    display: flex;
    justify-content: center;
}

.seccionMarcas .marcas .lineas .caja .linea{
    width: .2rem;
    height: 6rem;
    border-radius: 2rem;
    background-color: var(--principal-op);
}

.seccionMarcas .marcas .lineaMedia{
    height: .2rem;
    width: auto;
    margin: 0 10.9rem;
    border-radius: 2rem;
    background-color: var(--principal-op);
}

.seccionMarcas .marcas .lin_dos{
    display: flex;
    justify-content: space-evenly;
}

.seccionMarcas .marcas .cajas_02{
    display: flex;
    justify-content: space-evenly;
    overflow: visible;
}

.seccionMarcas .marcas .cajas_02 .caja{
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccionMarcas .marcas .cajas_02 .caja .circulo_01{
    width: 22rem;
    height: 22rem;
    border-radius: 200rem;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    overflow: visible;
    background-color: #E6F4F6;
    transform: translateY(-2rem);
    z-index: 9;
    box-shadow: var(--boxShadow);
}

.seccionMarcas .marcas .cajas_02 .caja .circulo_02{
    width: 14rem;
    height: 14rem;
    border-radius: 10rem;
    background-color: var(--blanco);
    z-index: 99;
    box-shadow: var(--boxShadow);
}

.seccionMarcas .marcas .cajas_02 .caja .circulo_02 .logo{
    width: 90%;
    height: 90%;
    margin: 5%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.seccionMarcas .marcas .cajas_02 .caja .circulo_02 .logoB{
    background-image: url(../img/logoB_Color.png);
}

.seccionMarcas .marcas .cajas_02 .caja .circulo_02 .logoASUSA{
    background-image: url(../img/logoASUSA_Color.png);
}

/* ---------------
Identidad de Marca
--------------- */

.seccionIdentidad {
    margin-top: 8rem;
    padding: var(--spaceSection);
}

.seccionIdentidad .contenedorIdentidad {
    width: 90vw;
}
.seccionIdentidad .contenedorIdentidad .identidad{
    margin: auto;
}

.seccionIdentidad .contenedorIdentidad .identidad .contenedor_cajas{
    width: 100%;
    display: flex;
}

.seccionIdentidad .contenedorIdentidad .identidad .contenedor_cajas .cajas{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.seccionIdentidad .contenedorIdentidad .identidad .contenedor_cajas .cajas .caja{
    width: 98%;
    padding: 3rem 5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--blanco);
}

.seccionIdentidad .contenedorIdentidad .identidad .contenedor_cajas .cajas .caja{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: var(--transitionsLarge);
}

.seccionIdentidad .contenedorIdentidad .identidad .contenedor_cajas .cajas .caja .texto{
    display: none;
}

.seccionIdentidad .contenedorIdentidad .identidad .contenedor_cajas .cajas .caja ul li{
    color: var(--blanco);
    transition: var(--transitionsLarge);
}

.seccionIdentidad .contenedorIdentidad .identidad .contenedor_cajas .cajas .caja .titulo{
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    font-weight: 600;
    color: var(--principal);
}

.seccionIdentidad .contenedorIdentidad .identidad .contenedor_cajas .cajas .caja:hover{
    cursor: default;
}

.seccionIdentidad .contenedorIdentidad .identidad .contenedor_cajas .cajas .caja:hover .texto{
    display: flex;
}

.seccionIdentidad .contenedorIdentidad .identidad .contenedor_cajas .cajas .caja:hover .titulo{
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--blanco);
}

.seccionIdentidad .contenedorIdentidad .identidad .contenedor_cajas .cajas .caja_01{
    background-image: url(../img/nosotros_mision.png);
}

.seccionIdentidad .contenedorIdentidad .identidad .contenedor_cajas .cajas .caja_01:hover{
    background-image: url(../img/nosotros_mision_dos.png);
}

.seccionIdentidad .contenedorIdentidad .identidad .contenedor_cajas .cajas .caja_02{
    background-image: url(../img/nosotros_vision.png);
}

.seccionIdentidad .contenedorIdentidad .identidad .contenedor_cajas .cajas .caja_02:hover{
    background-image: url(../img/nosotros_vision_dos.png);
}

.seccionIdentidad .contenedorIdentidad .identidad .contenedor_cajas .cajas .caja_03{
    background-image: url(../img/nosotros_valores.png);
}

.seccionIdentidad .contenedorIdentidad .identidad .contenedor_cajas .cajas .caja_03:hover{
    background-image: url(../img/nosotros_valores_dos.png);
}

.seccionIdentidad .contenedorIdentidad .identidad .contenedor_cajas .cajas .caja_04{
    background-image: url(../img/nosotros_objetivos.png);
}

.seccionIdentidad .contenedorIdentidad .identidad .contenedor_cajas .cajas .caja_04:hover{
    background-image: url(../img/nosotros_objetivos_dos.png);
}

.seccionIdentidad .contenedorIdentidad .identidad .contenedor_cajas .cajas .caja_01,
.seccionIdentidad .contenedorIdentidad .identidad .contenedor_cajas .cajas .caja_04{
    margin: 1rem 1%;
    height: 25rem;
}

.seccionIdentidad .contenedorIdentidad .identidad .contenedor_cajas .cajas .caja_03,
.seccionIdentidad .contenedorIdentidad .identidad .contenedor_cajas .cajas .caja_02{
    margin: 1rem 1%;
    height: 35rem;
}

/* ---------------
Nuestro Equipo
--------------- */

.seccionEquipo {
    margin-top: 8rem;
    padding: var(--spaceSection);
}

.seccionEquipo .equipo{
    width: 90vw;
    margin: auto;
}

.seccionEquipo .equipo .texto{
    text-align: center;
    margin-bottom: 5rem;
}

.seccionEquipo .equipo .cajas{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.seccionEquipo .equipo .cajas .caja{
    display: flex;
    margin: 2rem 0;
    width: 50%;
    height: auto;
    opacity: 60%;
}

.seccionEquipo .equipo .cajas .caja:hover{
    opacity: 100%;
}

.seccionEquipo .equipo .cajas .caja_ultima{
    opacity: 100%;
}

.seccionEquipo .equipo .cajas .caja_ultima .caja_in{
    width: 100% !important;
    padding: 0 5rem;

    margin-bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seccionEquipo .equipo .cajas .caja_ultima .caja_in h4{
    margin: 0;
    padding: 0;
}

.seccionEquipo .equipo .cajas .caja_ultima .caja_in .boton{
    margin: 0;
    margin-top: 3rem;
    padding: 0;
}

.seccionEquipo .equipo .cajas .caja .caja_in{
    display: flex;
    width: 40rem;
    height: 40rem;
    margin: auto;
    border-radius: 1rem;
}

.seccionEquipo .equipo .cajas .caja .imagen{
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;

}

.seccionEquipo .equipo .cajas .caja .caja_inDos{
    display: flex;
    width: 40rem;
    height: 40rem;
    margin: auto;
    border-radius: 1rem;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--principal);
}

.seccionEquipo .equipo .cajas .caja .caja_inDos h4{
    color: var(--blanco);
}

.seccionEquipo .equipo .cajas .caja .imagen{
    background-image: url(../img/retrato.jpg);
}

/* ---------------
Nuestro Clientes
--------------- */

.seccionClientes {
    margin-top: 8rem;
    padding: var(--spaceSection);
}

.seccionClientes .clientes{
    width: 100vw;
    margin: auto;
}

.seccionClientes .clientes h2{
    text-align: center;
    margin-bottom: 5rem;
}

.seccionClientes .clientes .cajas{
    text-align: center;
    justify-content: space-around;
    display: flex;
}

.seccionClientes .clientes .cajas .caja{
    width: 40rem;
    height: 20rem;
    background-color: var(--gris);
}
