/*Header RUAL --------------------*/

.sectionRual{
    background-image: url(../img/rual.png);
    background-size: cover;
    background-position: center top;
}

/*Ventajas --------------------------------------------------*/

.sectionRVentajas{
    width: 100vw;
    padding: var(--spaceSection);
    background-color: var(--morado-claro-op);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cajaRVentajas{
    background-color: var(--blanco);
    margin: 50px 40% 50px 0;
    padding: 50px;
    width: 60%;
    border-radius: 0 5px 5px 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.cajaRVentajas h3 {
    text-align: left;
}

.cajaRVentajas ul {
    text-align: justify;
    margin: 20px 0 0 0;
}

.cajaRVentajas ul li::before{

    content: url(../img/listB.png) " ";
}

.cajaRVentajas .ventajasText{
    width: 60%;
    max-width: 700px;
}

.cajaRVentajas .ventajasIcono{
    width: 20%;
    max-width: 150px;
    min-width: 100px;
}

.ventajasRDerecha{
    margin: 0 0 50px 40%;
    border-radius: 5px 0 0 5px;
    flex-direction: row;
}

.sectionRVentajas button{
    width: 220px;
}

/*Verifica --------------------------------------------------------------------------*/

.sectionVerifica{
    background-color: var(--azul-fondos);
    padding: var(--spaceSection);
}

.verificaTexto{
    width: 60vw;
    margin: auto;
}

.verificaTexto h2{
    color: var(--blanco);
}

.verificaTexto p{
    color: var(--blanco);
    margin: 50px 0;
}

.verificaCuadro{
    background-color: var(--blanco);
    width: 60%;
    padding: 10px 0;
    max-width: 800px;
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.verificaCuadro span{
    color: var(--azul);
    margin: 0 10px 0 0;
}

.verificaCuadro input{
    height: 30px;
    border-radius: 5px;
    border: solid var(--azul) 2px;
    margin: 0 10px 0 0;
    padding: 0 5px;
}

.btnVerifica{
    text-align: center;
    width: auto;
    min-width: 80px;
    max-width: 200px;
    text-decoration: none;
    font-size: 1.6rem;
    margin: 0 10px 0 0;
    padding: 7px 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--azul);
    color: var(--blanco);
    transition: all 200ms ease-in-out;
}

.btnVerifica:hover {
    transform: scale(1.02);
}

.verificaCuadro .verificaCasillas{
    display: flex;
}

.verificaCuadro .verificaValido{
    width: 30px;
    height: 30px;
    margin: 0 10px 0 0;
    border: solid var(--gris-medio) 1px;
    border-radius: 5px;
}

.verificaCuadro .verificaInvalido{
    width: 30px;
    height: 30px;
    margin: 0 10px 0 0;
    border: solid var(--gris-medio) 1px;
    border-radius: 5px;
}

/*Consulta -------------------------------------------------------------------------------------*/

.sectionConsultaRual{
    width: 100vw;
    padding: var(--spaceSection);
}

.consultaCuadro{
    width: 50%;
    max-width: 800px;
    padding: 0;
    margin: auto;
    border-radius: 5px;
    background-color: var(--morado);
    display: flex;
    justify-content: space-around;
}

.cuadroContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.activecuadroContainer{
    background-color: var(--blanco);
    border: solid var(--morado) 2px;
    border-radius: 5px;
}

.cuadroDentro:hover{
    transform: scale(1.02);
}

.cuadroDentroi{
    width: 12px;
    height: 18px;
    margin: 0 0 0 14px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/noCollapsed.png);
}

.activecuadroDentroi{
    width: 18px;
    height: 12px;
    margin: 0 0 0 14px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/collapsed.png);
}

.cuadroDentro{
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 20px auto;
    cursor: pointer;
}

.cuadroDentroDos{
    display: none;
}

.cuadroDentroCollapse{
    display: none;
    text-align: justify;
    margin: 20px 30px;
}

.activecuadroDentro h5{
    color: var(--morado);
}

.activecuadroDentroCollapse{
    width: 100%;
    display: flex;
    color: var(--blanco);
    background-color: var(--blanco);
}

.activecuadroDentroCollapse form{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.activecuadroDentroCollapse label{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: auto;
}

.activecuadroDentroCollapse span {
    color: var(--gris-oscuro);
    font-size: 1.4rem;
    padding: 0 0 2px 0;
}

.activecuadroDentroCollapse input {
    height: 30px;
    border: solid var(--morado) 1px;
    border-radius: 3px;
    color: var(--gris-oscuro);
    padding: 2px 5px;
}

.activecuadroDentroCollapse .tycRual{
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
}

.activecuadroDentroCollapse .tycRual input{
    width: 14px;
    cursor: pointer;
}

.activecuadroDentroCollapse .tycRual span{
    padding: 0 5px;
}

.activecuadroDentroCollapse button{
    margin: 20px auto;
}

.activecuadroDentroCollapse a{
    font-size: 1.4rem;
    color: var(--verde-link);
}

@media only screen and (max-width: 1099px) and (min-width: 640px){

    /*Section Ventajas ----------------------------------------------------------------*/
    
    .sectionRVentajas{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .cajaRVentajas{
        display: flex;
        width: 80%;
        margin: 0 auto 50px auto;
        flex-direction: column;
    }
    
    .cajaRVentajas .ventajasIcono{
        width: 12%;
        margin: 0 0 20px 0;
    }
    
    .cajaRVentajas .ventajasText{
        width: 90%;
        max-width: 700px;
    }
    
    .cajaRVentajas h3,
    .cajaRVentajas p{
        text-align: center;
    }

    /*Verifica --------------------------------------------------------------------------*/

    .verificaTexto{
        width: 80vw;
    }

    .verificaCuadro{
        margin: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .verificaCuadro span{
        margin: auto;
        width: 100%;
        min-width: none;
        max-width: none;
    }
    
    .verificaCuadro form{
        width: 100%;
        min-width: none;
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px 0;
    }
    
    .verificaCuadro label{
        width: 100%;
        min-width: none;
        max-width: none;
        padding: 5px 0;
    }
    
    .verificaCuadro input{
        width: 100%;
        min-width: none;
        max-width: none;
        height: 30px;
        border-radius: 5px;
    }
    
    .verificaCuadro button{
        width: 100%;
        min-width: none;
        max-width: none;
        margin: 0;
    }
    
    .verificaCasillas{
        width: 100%;
        margin: 10px 0 0 0;
        min-width: none;
        max-width: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .verificaCasillas .verificaValido,
    .verificaCasillas .verificaInvalido{
        padding: 0;
        margin: 0 5px;
    }

    
    /*Section Consulta ----------------------------------------------------------------*/

    .consultaCuadro {
        width: 80%;
        max-width: 700px;
        background-color: var(--morado-claro-op);
    }

    .consultaCuadro h5 {
        color: var(--morado);
    }

    .cuadroDentro:hover {
        transform: none;
        cursor: auto;
    }

    .cuadroDentro{
        display: none;
    }
    
    .cuentaDentroDos{
        display: flex;
        margin: auto;
        text-align: center;
        display: flex;
        align-items: center;
        margin: 20px auto;
        cursor: default;
    }

    .cuadroDentroCollapse {
        width: 90%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .cuadroDentroCollapse form{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .cuadroDentroCollapse label{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 8px 0;
    }

    .cuadroDentroCollapse span {
        color: var(--negro);
        font-size: 1.4rem;
        padding: 0 0 2px 0;
        text-align: left;
    }
    
    .cuadroDentroCollapse input {
        height: 30px;
        border: solid var(--morado) 1px;
        border-radius: 3px;
        color: var(--gris-oscuro);
        padding: 2px 5px;
    }

    .cuadroDentroCollapse .tycRual {
        width: 100%;
        flex-direction: row;
        align-items: center;
        min-width: 350px;
    }
    
    .cuadroDentroCollapse .tycRual input {
        width: 14px;
        cursor: pointer;
    }
    
    .cuadroDentroCollapse .tycRual span {
        padding: 0 5px;
    }
    
    .cuadroDentroCollapse a {
        font-size: 1.4rem;
        color: var(--verde-link);
    }
    
    .cuadroDentroCollapse button {
        width: 94%;
        margin: 10px 3%;
        max-width: none;
    }
}

/* Mobile--------------------------------------------------------------*/
@media only screen and (max-width: 640px){
    /*Ventajas --------------------------------------------------*/

    .cajaRVentajas{
        margin: 0 0 50px 0;
        padding: 50px 0;
        width: 90%;
        border-radius: 5px;
        flex-direction: column;
    }

    .cajaRVentajas h3 {
        text-align: center;
    }

    .cajaRVentajas ul {
        text-align: left;
        margin: 20px 0 0 0;
    }
    
    .ventajasText li{
        text-indent: -17px;
        padding: 0 15px;
    }

    .cajaRVentajas .ventajasText{
        width: 80%;
        padding: 20px 0;
        max-width: 700px;
    }

    .cajaRVentajas .ventajasIcono{
        width: 40%;
        max-width: 110px;
        min-width: 90px;
    }

    .ventajasRDerecha{
        margin: 0 0 50px 0;
        padding: 50px 0;
        width: 90%;
        border-radius: 5px;
        flex-direction: column;
    }

    /*Verifica --------------------------------------------------------------------------*/

    .verificaTexto{
        width: 80vw;
    }

    .verificaTexto p{
        margin: 40px 0;
    }

    .verificaCuadro{
        background-color: var(--blanco);
        width: 80%;
        max-width: none;
        flex-direction: column;text-align: center;
    }

    .verificaCuadro input{
        width: 80%;
        margin: 10px 10px 10px 0;
    }
    
    .btnVerifica{
        width: 80%;
        text-align: center;
        min-width: 100px;
        max-width: none;
        margin: 0 10px 10px 0;
    }

    .btnVerifica:hover {
        transform: scale(1.02);
    }

    .verificaCuadro .verificaCasillas{
        display: flex;
    }

    .verificaCuadro .verificaValido{
        width: 30px;
        height: 30px;
        margin: 0 10px 0 0;
        border: solid var(--gris-medio) 1px;
        border-radius: 5px;
    }

    .verificaCuadro .verificaInvalido{
        width: 30px;
        height: 30px;
        margin: 0 10px 0 0;
        border: solid var(--gris-medio) 1px;
        border-radius: 5px;
    }

    /*Cuenta ----------------------------------------------------------------------*/

    .consultaCuadro {
        width: 80%;
        max-width: 700px;
        background-color: var(--morado-claro-op);
    }

    .consultaCuadro h5 {
        color: var(--morado);
    }

    .cuadroDentro:hover {
        transform: none;
        cursor: auto;
    }

    .cuadroDentro{
        display: none;
    }
    
    .cuadroDentroDos{
        display: flex;
        margin: auto;
        text-align: center;
        display: flex;
        align-items: center;
        margin: 20px auto;
        cursor: default;
    }

    .cuadroDentroCollapse {
        width: 90%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .cuadroDentroCollapse form{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .cuadroDentroCollapse label{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 8px 0;
    }

    .cuadroDentroCollapse span {
        color: var(--negro);
        font-size: 1.4rem;
        padding: 0 0 2px 0;
        text-align: left;
    }
    
    .cuadroDentroCollapse input {
        height: 30px;
        border: solid var(--morado) 1px;
        border-radius: 3px;
        color: var(--gris-oscuro);
        padding: 2px 5px;
    }

    .cuadroDentroCollapse .tycRual {
        width: 100%;
        flex-direction: row;
        align-items: center;
        min-width: 350px;
    }
    
    .cuadroDentroCollapse .tycRual input {
        width: 14px;
        cursor: pointer;
    }
    
    .cuadroDentroCollapse .tycRual span {
        padding: 0 5px;
    }
    
    .cuadroDentroCollapse a {
        font-size: 1.4rem;
        color: var(--verde-link);
    }
    
    .cuadroDentroCollapse button {
        width: 94%;
        margin: 10px 3%;
        max-width: none;
    }

}