/* --------------------
Cover
-------------------- */
.container-cover{
    background-image: url(../img/bgHeader.png);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: var(--boxShadow);
    position: relative;
    z-index: 9;
}

.cover{
    width: 40%;
    margin-left: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cover h3,
.cover p{
    color: var(--blanco);
    text-align: left;
}

.cover h1,
.cover h3,
.cover p{
    margin: 0 0 5rem 0;
}

.container-cover .boton{
    transform: translateX(-2rem);
}

/* --------------------
Bg-page
-------------------- */

.bg-page{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    opacity: 0;
    background-image: url(../src/graficaVelasJapo_03.3.png);
}

/* --------------------
Soluciones
-------------------- */

.container-soluciones{
    position: relative;
    z-index: 10;
}

.soluciones{
    background-color: var(--gris-tres);
    width: 80%;
    margin: auto;
    border-radius: 2rem;
    padding: 5rem 5%;
    box-shadow: var(--boxShadow);
}

.soluciones .cajas{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.soluciones .cajas .caja{
    width: 45%;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 50rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    border: solid var(--primero) .1rem;
    border-radius: 1rem;
    background-color: var(--blanco);
    box-shadow: var(--boxShadow);
}

.soluciones .cajas .caja .icono{
    width: 100%;
    margin: 3rem auto 2rem auto;
    max-width: none;
}

.soluciones .cajas .caja .icono .iconoUno{
    background-image: url(../img/iconoV_001.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 10rem;
}

.soluciones .cajas .caja .icono .iconoDos{
    background-image: url(../img/iconoV_005.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 10rem;
}

.soluciones .cajas .caja h4{
    text-align: center;
}

.soluciones .cajas .caja p{
    text-align: center;
    margin: 3rem 0;
}

.soluciones .cajas .caja .boton{
    padding-bottom: 3rem;
    margin: auto;
}

.soluciones .cajas .caja .icono .contorno{
    fill: var(--primero);
    stroke: var(--primero);
}

/* --------------------
Inversores
-------------------- */

.container-inversores{
    position: relative;
    z-index: 99;
}

.inversores{
    background-color: var(--blanco);
    width: 80%;
    margin: auto;
    border-radius: 2rem;
    padding: 5rem 5%;
    box-shadow: var(--boxShadow);
}

.inversores p{
    text-align: center;
    margin: auto;
}

.inversores .cajas{
    width: 100%;
    height: calc(30vh);
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inversores .cajas .cajaTres{
    display: none;
}

.inversores .cajas .caja{
    width: 50%;
    height: 100%;
}

.inversores .cajas .caja .imagen01{
    width: 100%;
    height: 100%;
    margin: auto;
    background-image: url(../img/inversion.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
}

.inversores .cajas .caja .imagen02{
    width: 100%;
    height: 100%;

    margin: auto;
    background-image: url(../img/inversionBullets.png);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: contain;
}

.inversores .boton{
    text-align: center;
}

.inversores .boton .btn-primario{
    margin: .5rem 2rem 1.5rem 2rem;
    text-align: center;
}

/* --------------------
Patrimonio
-------------------- */

.container-patrimonio{
    margin: 10rem 0;
    padding: 0;
    position: relative;
    z-index: 99;
    border-radius: 0 !important;
}

.patrimonio {
    margin-top: 0;
    padding-top: 0;
    
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    border-radius: 0 !important;
    box-shadow: var(--boxShadow) !important;
}

.patrimonio .slideshow-container {
    position: relative;
    max-width: none;
    margin: 0 auto;

    height: 60rem;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
}

.patrimonio .slide {
    display: none;
    
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    height: 100%;
}

.patrimonio .imagen{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.patrimonio .img_01{
    background-image: url(../img/patrimonioUno.png);
}

.patrimonio .img_02{
    background-image: url(../img/patrimonioDos.png);
}

.patrimonio .img_03{
    background-image: url(../img/patrimonioTres.png);
}

.patrimonio .img_04{
    background-image: url(../img/patrimonioCuatro.png);
}

.patrimonio .slide-content {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: none;
    
    margin: 0;
    padding-left: 10%;
    width: 100% !important;
    height: 50%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.patrimonio h2,
.patrimonio h3 {
    text-align: left;
    padding: 0;
    margin: 0;
    color: var(--blanco);
}

.patrimonio h2{
    font-size: 4.2rem;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: var(--quinto);
    padding-right: 2rem;
}

.patrimonio h3 {
    margin-bottom: 5rem;
}

.patrimonio p{
    font-size: 2.4rem;
    max-width: 50ch;
    font-weight: 600;
    color: var(--cuarto);
}
  
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 70%;
    width: auto;
    margin-top: -2.2rem;
    padding: 1.6rem;
    color: var(--blanco);
    font-weight: bold;
    font-size: 1.8rem;
    transition: 0.6s ease;
    border-radius: 0 .3rem .3rem 0;
    user-select: none;
}
  
.next {
    right: 0;
    border-radius: .3rem 0 0 .3rem;
}
  
  .prev:hover,
  .next:hover {
    background-color: #F28700BB;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 2s;
  }

/* --------------------
Oficinas
-------------------- */

.container-oficinas{
    position: relative;
    z-index: 99;
    padding-top: 0;
    padding-bottom: 10rem;
}

.oficinas{
    background-color: var(--gris-tres);
    width: 80%;
    margin: auto;
    border-radius: 2rem;
    padding: 5rem 5%;
    box-shadow: var(--boxShadow);
}

.oficinas .cajas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.oficinas .cajas .caja{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.oficinas .cajas .caja .textoUno{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.oficinas .cajas .caja .textoUno .titulo{
    width: 100%;
    max-width: 50rem;
    color: var(--segundo);
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.oficinas .cajas .caja .textoUno .descripcion{
    width: 100%;
    max-width: 50rem;
    font-size: 1.6rem;
    font-weight: 200;
    padding-right: 2.5rem;
}

.oficinas .cajas .caja .imagenUno{
    width: 50%;
}

.oficinas .cajas .caja .imagenUno .titulo{
    position: absolute;
    padding: 1rem 3rem 3rem 2rem;
    color: var(--blanco);
    font-weight: 500;
    font-size: 3rem;
    text-shadow: var(--textShadow);
}

.oficinas .cajas .caja .imagenUno img{
    width: 100%;
    max-width: 50rem;
    border-radius: 0 2rem 2rem 0;
}

.oficinas .cajas .caja .textoDos{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.oficinas .cajas .caja .textoDos .titulo{
    width: 100%;
    max-width: 50rem;
    color: var(--segundo);
    font-size: 2rem;
    font-weight: 500;
    text-align: right;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.oficinas .cajas .caja .textoDos .descripcion{
    width: 100%;
    text-align: right;
    max-width: 50rem;
    font-size: 1.6rem;
    font-weight: 200;
    padding-left: 2.5rem;
}

.oficinas .cajas .caja .imagenDos{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.oficinas .cajas .caja .imagenDos .titulo{
    position: absolute;
    text-align: end;
    width: 40%;
    max-width: 50rem;
    padding: 1rem 3rem 3rem 2rem;
    color: var(--blanco);
    font-weight: 500;
    font-size: 3rem;
    text-shadow: var(--textShadow);
}

.oficinas .cajas .caja .imagenDos img{
    width: 100%;
    max-width: 50rem;
    border-radius: 2rem 0 0 2rem;
}

.oficinas .boton{
    text-align: center;
    margin-top: 5rem;
}

/* --------------------
Elegirnos
-------------------- */

.container-elegirnos{
    padding-top: 2rem;
    background-color: var(--gris-cuatro);
    height: auto;
    box-shadow: var(--boxShadow);
    position: relative;
    z-index: 99;
}

.elegirnos .mySwiper{
    height: auto;
}

.elegirnos swiper-container {
    width: 100%;
    height: 100%;
}

.elegirnos swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--gris-cuatro);
    display: flex;
    justify-content: start;
    align-items: center;
}

.elegirnos .titulo {
    color: var(--blanco);
    font-weight: 600;
    font-size: 2.4rem;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 5rem;
}

.elegirnos .content {
    width: 90%;
    color: var(--cuarto);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.elegirnos img {
    width: auto;
    height: 12rem;
    min-width: 15rem;
}

.autoplay-progress {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--cuarto);
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 2px;
    stroke: var(--cuarto);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

/* --------------------
Prensa
-------------------- */

.container-prensa{
    position: relative;
    z-index: 99;
}

.prensa{
    background-color: var(--fondo-azul);
    width: 80%;
    margin: auto;
    border-radius: 2rem;
    padding: 5rem 5% 0 5%;
    box-shadow: var(--boxShadow);
}

.prensa h2{
    margin-bottom: 1rem;
}

.prensa h3{
    margin-bottom: 5rem;
}

.prensa swiper-container {
    width: 100%;
    height: 100%;
}

.prensa swiper-slide {
    text-align: center;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prensa swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
    margin-bottom: 6rem;
}

.prensa p{
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 3rem;
    text-align:  center;
    padding: 0;
}

.prensa .boton{
    margin: auto;
    text-align: center;
}

/* --------------------
Certificaciones
-------------------- */

.container-certificaciones{
    position: relative;
    z-index: 99;
}

.certificaciones{
    background-color: var(--blanco);
    width: 80%;
    margin: auto;
    border-radius: 2rem;
    padding: 5rem 5%;
    box-shadow: var(--boxShadow); 
}

.certificaciones h2{
    margin-bottom: 10rem;
}

.certificaciones-caja {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem;
}

.certificaciones .certificaciones-titulo{ 
    width: 80%;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.certificaciones .certificaciones-titulo h5{
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    max-width: 70ch;
}

.certificaciones .certificaciones-titulo p{
    margin-bottom: 1rem;
    max-width: 70ch;
}

.certificaciones .certificaciones-imagen{
    width: 20%;
}

.certificaciones .certificaciones-imagen img{
    width: 100%;
}

.certificaciones .certificaciones-imagen .c-img-dos{
    padding-right: 2rem;
}

.certificaciones .certificaciones-imagen .c-img-tres{
    padding-left: 2rem;
}

[data-animation="fade"]{
    opacity: 0;
    transition: var(--transitionsXL);
    --opacity: 1;
}

.unset{
    opacity: var(--opacity);
}

/* --------------------
Cuenta
-------------------- */

.container-cuenta{
    margin-bottom: 10rem;
    position: relative;
    z-index: 99;
}

.cuenta{
    background-color: var(--fondo-azul);
    width: 80%;
    margin: auto;
    border-radius: 2rem;
    padding: 5rem 5%;
    box-shadow: var(--boxShadow);
}  

.cuenta form{
    width: 80%;
    max-width: 50rem;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.cuenta select,
.cuenta .form-input {
    width: 100%;
    height: auto;
    border: solid var(--primero) .1rem !important;
    background-color: var(--blanco);
    border-radius: .5rem;
    padding: 1rem;
}

.cuenta label {
    font-size: 1.4rem;
    font-weight: 300;
}

.cuenta .check{
    display: flex;
}

.cuenta .check-input{
    margin-right: 1rem;
}

.check[type="checkbox" i]{
    background-color: #050505 !important;
}

.cuenta .check label{
    font-size: 1.2rem;
}

.cuenta .boton{
    text-align: center;
    margin-top: 5rem;
}

/* --------------------
Keyframes
-------------------- */

@keyframes fade {
    0% {
      opacity: 0%;
    }
    90% {
      opacity: 100%;
    }
}

/* --------------------
Dolariza
-------------------- */
@media only screen and (max-width: 999px) {

    .container-cover{
        box-shadow: var(--boxShadowTab);
        z-index: 11;
    }

    /* --------------------
    Patrimonio
    -------------------- */

    .container-patrimonio{
        width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    
    .container-patrimonio .contenedor-seccion{
        padding: 0 !important;
        margin: 0 !important;

    }
    
    .patrimonio .slideshow-container {
        padding: 0 !important;
        margin: 0 !important;
    }
    
    .patrimonio .slide {
        padding: 0 !important;
        margin: 0 !important;
    }

    .patrimonio .slide-content {
        padding: 10% 0;
        width: 90% !important;
        margin: 0 0 0 5%;
        height: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .patrimonio h2,
    .patrimonio h3, 
    .patrimonio p {
        text-align: center;
        padding: 0;
        margin: 0;
        max-width: 60ch;
    }
    
    .patrimonio h2{
        font-size: 3.2rem;
        width: 100%;
    }
    
    .patrimonio h3{
        margin-top: 5rem;
        font-size: 1.8rem;
        width: 70%;
    }
    
    .patrimonio p{
        margin-top: 5rem;
        width: 70%;
    }

    .prev,
    .next {
        top: 50%;
    }

}

/* --------------------
Tablet / Mobile
-------------------- */
@media only screen and (max-width: 1199px) {


    /* --------------------
    Soluciones
    -------------------- */

    .container-soluciones{
        margin-top: 0;
        box-shadow: var(--boxShadowTab);
        z-index: 10;
    }
    
    .soluciones .cajas .caja{
        width: 35%;
        min-width: 35rem;
        box-shadow: var(--boxShadowTab);
    }
    
    /* --------------------
    Inversores
    -------------------- */
    
    .container-inversores{
        margin-top: 0;
        box-shadow: var(--boxShadowTab);
        z-index: 9;
    }
    
    .inversores .cajas{
        width: 100%;
        height: calc(30vh);
        margin: 5rem auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    /* --------------------
    Patrimonio
    -------------------- */
    
    .container-patrimonio{
        width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
        box-shadow: var(--boxShadowTab);
        z-index: 8;
    }
    
    .container-patrimonio .contenedor-seccion{
        padding: 0 !important;
        margin: 0 !important;

    }
    
    .patrimonio .slideshow-container {
        padding: 0 !important;
        margin: 0 !important;
    }
    
    .patrimonio .slide {
        padding: 0 !important;
        margin: 0 !important;
    }

    /* --------------------
    Oficinas
    -------------------- */

    .container-oficinas{
        padding-bottom: 0;
        box-shadow: var(--boxShadowTab);
        z-index: 7;
    }
    
    .oficinas{
        margin-bottom: 0 !important;
    }

    /* --------------------
    Elegirnos
    -------------------- */

    .container-elegirnos{
        box-shadow: var(--boxShadowTab);
        z-index: 6;
    }

    .elegirnos{
        width: 80% !important;
    }
    
    /* --------------------
    Prensa
    -------------------- */

    .container-prensa{
        box-shadow: var(--boxShadowTab);
        z-index: 5;
    }

    /* --------------------
    Certificaciones
    -------------------- */

    .container-certificaciones{
        margin-top: 0;
        box-shadow: var(--boxShadowTab);
        z-index: 4;
    }

    .certificaciones .ultimo{
        margin-bottom: 0;
    }

    .certificaciones-caja {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .certificaciones .certificaciones-titulo{ 
        width: 60%;
    }

    .certificaciones .certificaciones-titulo h5{
        margin-bottom: 1rem !important;
        text-align: center;
        margin: auto;
    }

    .certificaciones .certificaciones-titulo p{
        margin-bottom: 5rem !important;
        text-align: center;
        margin: auto;
    }

    .certificaciones .certificaciones-imagen .c-img-dos{
        padding-right: 0;
        padding-bottom: 2rem;
    }
    
    .certificaciones .certificaciones-imagen .c-img-tres{
        padding-left: 0;
        padding-top: 2rem;
    }

    .container-cuenta{
        margin-top: 0;
        box-shadow: var(--boxShadowTab);
        z-index: 3;
    }

}

/* --------------------
Mobile L
-------------------- */
@media only screen and (max-width: 840px){

    /* --------------------
    Cover
    -------------------- */
    .cover{
        width: 60%;
        margin-left: 10%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    /* --------------------
    Soluciones
    -------------------- */

    .container-soluciones{
        margin-top: 0;
    }

    .soluciones .cajas{
        flex-direction: column;
        align-items: center;
    }
    
    .soluciones .cajas .caja{
        width: 80%;
        max-width: 45rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
    }

    /* --------------------
    Elegirnos
    -------------------- */

    .elegirnos{
        width: 100% !important;
    }

}

/* --------------------
Mobile
-------------------- */
@media only screen and (max-width: 640px){

    /* --------------------
    Cover
    -------------------- */
    .cover{
        width: 80%;
        margin: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cover h1,
    .cover h3,
    .cover p{
        text-align: center;
    }
    
    .cover .boton{
        margin: 0 2rem;
        text-align: center;
    }

    .container-cover .boton{
        transform: translateX(0);
    }

    /* --------------------
    Inversores
    -------------------- */
    .inversores .cajas{
        width: 100%;
        height: 70vh;
        margin: 5rem auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .inversores .cajas .caja{
        width: 100%;
        height: 70%;
    }
    
    .inversores .cajas .caja .imagen01{
        background-position: center;
        width: 100%;
        max-width: 35rem;
    }
    
    .inversores .cajas .cajaDos{
        display: none;
    }
    
    .inversores .cajas .cajaTres{
        height: 30%;
        display: flex;
    }
    
    .inversores .cajas .cajaTres ul{
        margin: auto;
    }

    .inversores .cajas .cajaTres ul li{
        list-style-position: inside;
        color: var(--tercero);
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    /* --------------------
    Elegirnos
    -------------------- */
    
    .elegirnos .titulo {
        margin-bottom: 6rem;
        text-align: center;
    }
    
    .elegirnos .content {
        margin: auto;
    }

    .elegirnos .autoplay-progress{
        display: none;
    }

    /* --------------------
    Oficinas
    -------------------- */

    .oficinas{
        background-color: var(--gris-tres);
        width: 80%;
        margin: auto;
        border-radius: 2rem;
        padding: 5rem 5%;
    }

    .oficinas .cajas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
    }
    
    .oficinas .cajas .caja{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    
    .oficinas .cajas .cajaDos{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .oficinas .cajas .caja .textoUno{
        width: 80%;
        margin: auto;
        text-align: center;
    }

    .oficinas .cajas .caja .textoUno .titulo{
        margin-top: 2rem;
        padding: 0;
    }
    
    .oficinas .cajas .caja .textoUno .descripcion{
        padding: 0;
    }

    .oficinas .cajas .caja .imagenUno .titulo{
        padding: 1rem 3rem 3rem 2rem;
    }
    
    .oficinas .cajas .caja .imagenUno{
        width: 80%;
        margin: auto;
    }
    
    .oficinas .cajas .caja .imagenUno img{
        border-radius: 2rem 2rem 0 0;
    }
    
    .oficinas .cajas .caja .textoDos{
        width: 80%;
        margin: auto;
        text-align: center;
    }
    
    .oficinas .cajas .caja .textoDos .titulo{
        margin-top: 2rem;
        text-align: center;
        padding: 0;
    }
    
    .oficinas .cajas .caja .textoDos .descripcion{
        padding: 0;
        text-align: center;
    }
    
    .oficinas .cajas .caja .imagenDos{
        width: 80%;
        margin: 3rem auto 0 auto;
        align-items: start;
    }
    
    .oficinas .cajas .caja .imagenDos .titulo{
        text-align: left;
        padding: 1rem 3rem 3rem 2rem;
    }

    .oficinas .cajas .caja .imagenDos img{
        width: 100%;
        max-width: 50rem;
        border-radius: 2rem 2rem 0 0;
    }

    /* --------------------
    Certificaciones
    -------------------- */

    .certificaciones .certificaciones-caja{
        margin-bottom: 8rem;
        height: auto;
        border-bottom: solid var(--primero) .1rem;
    }
    
    .certificaciones .ultimo{
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .certificaciones h2{
        margin-bottom: 5rem;
    }

    .certificaciones .certificaciones-titulo{ 
        width: 80%;
        margin: 0;
        padding: 0;
    }
    
    .certificaciones .certificaciones-titulo h5{
        margin-bottom: 1rem;
        max-width: none;
    }
    
    .certificaciones .certificaciones-titulo p{
        margin-bottom: 1rem;
        max-width: none;
        margin-bottom: 0 !important;
    }
    
    .certificaciones .certificaciones-titulo .txt{
        margin: 0;
        padding: 0;
    }
    
    .certificaciones .certificaciones-imagen{
        width: 40%;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .certificaciones .img-dos{
        padding-right: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    
    .certificaciones .img-tres{
        padding-left: 0;
        padding-top: 0;
        margin-top: 0;
    }

}