/* --------------------
Header
-------------------- */
.contenedor-header{
    background-image: url(../img/headerPartners.png);
    background-position: right top !important;
    box-shadow: var(--boxShadow);
}

/* --------------------
Buscamos
-------------------- */

.buscamos{
    background-color: var(--blanco);
    width: 80%;
    margin: auto;
    border-radius: 2rem;
    padding: 5rem 5%;
    box-shadow: var(--boxShadow);
}

.container-buscamos .buscamos p{
    max-width: 80ch;
    text-align: center;
    margin: auto;
}

/* --------------------
Destacados
-------------------- */

.destacados{
    background-color: var(--gris-cuatro);
    width: 80%;
    margin: auto;
    border-radius: 2rem;
    padding: 5rem 5%;
    box-shadow: var(--boxShadow);
}

.destacados swiper-container {
    width: 80%;
    height: 35rem;
    max-width: 60rem;
  }

.destacados swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    font-weight: bold;
    border: solid var(--blanco) .2rem;
  }
  
  .destacados swiper-slide h3{
    font-size: 22px;
    width: 100%;
    height: 8rem;
    background-color: var(--blanco);
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
}

.destacados swiper-slide:nth-child(1n) {
    background-image: url(../img/destacados01.png);
    background-size: cover;
    background-position: bottom center;
}

.destacados swiper-slide:nth-child(2n) {
    background-image: url(../img/destacados02.png);
}

.destacados swiper-slide:nth-child(3n) {
    background-image: url(../img/destacados03.png);
}

.destacados swiper-slide:nth-child(4n) {
    background-image: url(../img/destacados04.png);
}

.destacados swiper-slide:nth-child(5n) {
    background-image: url(../img/destacados05.png);
}

/* --------------------
Bullets
-------------------- */

.bullets{
    background-color: var(--gris-tres);
    width: 80%;
    margin: auto;
    border-radius: 2rem;
    padding: 5rem 5%;
    box-shadow: var(--boxShadow);
}

.container-bullets .bullets p{
    text-align: center;
    margin: auto;
    margin-top: 3rem;
}

.container-bullets .bullets .cajas{
    display: flex;
    justify-content: space-around;
}

.container-bullets .bullets .caja{
    text-align: center;
}

.container-bullets .bullets .caja h4{
    text-align: center;
}

.container-bullets .bullets .caja img{
    width: auto;
    height: 13rem;
    margin: 2rem 0;
}

.bullets .boton{
    text-align: center;
    margin-top: 5rem;
}


/* --------------------
Ventajas
-------------------- */

.container-ventajas{
    margin-top: 0;
}

.ventajas{
    background-color: var(--fondo-azul);
    width: 80%;
    margin: auto;
    border-radius: 2rem;
    padding: 5rem 5%;
    box-shadow: var(--boxShadow);
}

.ventajas .contenedor{
    display: flex;
}

.ventajas .imagen{
    width: 50%;
    height: auto;
    background-image: url(../img/ventajas.png);
    background-position: center;
    background-size: cover;
    border-radius: 2rem 0 0 2rem;

}

.ventajas #image-list{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ventajas .lista{
    width: auto;
    margin: 0 0 0 3rem;
}

#image-list span{
    color: var(--quinto);
    font-size: 1.6rem;
    font-weight: 400;
    transition: var(--transitions);
    margin: 1.5rem 2rem;
}

.ventajas #image-list li .contLi{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.active span{
    transform: scale(1.1);
    color: #f28603 !important;
    font-weight: 500 !important;
    text-indent: 0;
}

.active span::before{
    content: "- ";
}

.ventajas .boton {
    text-align: center;
    margin-top: 5rem;
}

/* --------------------
Talentos
-------------------- */

.container-talentos{
    margin-bottom: 0;
}

.talentos{
    background-color: var(--gris-tres);
    width: 80%;
    margin: auto;
    border-radius: 2rem;
    padding: 5rem 5%;
    box-shadow: var(--boxShadow);
}

.talentos .contenedor-cajas{
    display: flex;
    justify-content: space-evenly;
}

.talentos .contenedor-cajas .caja-01{
    width: 34%;
    background-color: var(--blanco);
    border-radius: 2rem 0 0 2rem;
}

.talentos .contenedor-cajas .caja-01 h3{
    margin: 2rem 0;
    padding: 0 2rem;
}

.talentos .contenedor-cajas .caja-01 .imagen{
    width: 100%;
    height: 22rem;
    background-image: url(../img/talentos.png);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.talentos .contenedor-cajas .caja-01 h4{
    margin: 2rem 0;
    text-align: center;
    font-weight: 300;
    padding: 0 2rem;
}

.talentos .contenedor-cajas .caja-01 .texto-01{
    margin: 1rem 0;
    text-align: center;
    color: var(--segundo);
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    padding: 0 2rem;
}

.talentos .contenedor-cajas .caja-02{
    width: 64%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.talentos .contenedor-cajas .caja-02 .cajita-01{
    height: 38%;
    margin-bottom: .5rem;
    border-radius: 0 2rem 0 0;
}

.talentos .contenedor-cajas .caja-02 .cajita-02{
    height: 58%;
    border-radius: 0 0 2rem 0;
}

.talentos .contenedor-cajas .caja-02 .cajita-01,
.talentos .contenedor-cajas .caja-02 .cajita-02{
    width: 99%;
    margin-left: 1%;
    background-color: var(--blanco);
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.talentos .contenedor-cajas .caja-02 .texto-02{
    margin: 1rem 0;
    text-align: left;
    color: var(--tercero);
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    max-width: 50ch;
}

.talentos .contenedor-cajas .caja-02 ul li{
    font-size: 1.6rem;
    font-weight: 200;
    list-style: '- ';
    list-style-position: inside;
}

.talentos .boton {
    text-align: center;
    margin-top: 5rem;
}

/* --------------------
Registro
-------------------- */

.container-registro{
    margin-bottom: 15rem;
}

.registro{
    background-color: var(--blanco);
    width: 80%;
    margin: auto;
    border-radius: 2rem;
    padding: 5rem 5%;
    box-shadow: var(--boxShadow);
}  

.registro form{
    width: 80%;
    max-width: 50rem;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.registro select,
.registro .form-input {
    width: 100%;
    height: auto;
    border: solid var(--primero) .1rem !important;
    background-color: var(--blanco);
    border-radius: .5rem;
    padding: 1rem;
}

.registro label {
    font-size: 1.4rem;
    font-weight: 300;
}

.registro .check{
    display: flex;
}

.registro .check-input{
    margin-right: 1rem;
}

.check[type="checkbox" i]{
    background-color: #050505 !important;
}

.registro .check label{
    font-size: 1.2rem;
}

.registro .boton{
    text-align: center;
    margin-top: 5rem;
}

.registro .archivo{
    margin-top: .5rem;
}

.registro a{
    color: var(--segundo);
    text-decoration: none;
}

.file{
    width: 10rem;
    height: 4rem;
    border-radius: .5rem;
    background-color: var(--blanco);
    border: solid var(--primero) .1rem !important;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file input[type="file"] {
    opacity: 0;
    position: absolute;
    width: 10rem;
    height: 4rem;
    margin: 0;
    padding: 0;
    display: inline-block;
    border: solid red 1px;
    cursor: pointer;
}

.file i{
    margin: auto;
    text-align: center;
    font-size: 2rem;
    color: var(--primero);
}

/* --------------------
Tablet
-------------------- */
@media only screen and (max-width: 1199px) and (min-width: 1px){

    /* --------------------
    Header
    -------------------- */

    .contenedor-header{
        box-shadow: var(--boxShadowTab);
        z-index: 12;
    }

    /* --------------------
    Buscamos
    -------------------- */

    .container-buscamos{
        margin-top: 0;
        box-shadow: var(--boxShadowTab);
        z-index: 11;
    }

    .container-buscamos .buscamos{
        width: 100%;
        border-radius: 0;
    }

    /* --------------------
    Destacados
    -------------------- */

    .container-destacados{
        margin-top: 0;
        box-shadow: var(--boxShadowTab);
        z-index: 10;
    }

    .container-destacados .destacados{
        width: 100%;
        border-radius: 0;
        padding: 7rem 5%;
    }

    .destacados swiper-container {
        width: 80%;
    }

    /* --------------------
    Bullets
    -------------------- */

    .container-bullets{
        margin-top: 0;
        box-shadow: var(--boxShadowTab);
        z-index: 9;
    }

    .container-bullets .bullets{
        background-color: var(--blanco);
        width: 100%;
        border-radius: 0;
    }

    /* --------------------
    Ventajas
    -------------------- */

    .container-ventajas{
        margin-top: 0;
        box-shadow: var(--boxShadowTab);
        z-index: 8;
    }

    .container-ventajas .ventajas{
        width: 100%;
        border-radius: 0;
    }

    /* --------------------
    Talentos
    -------------------- */
    
    .container-talentos{
        margin-top: 0;
        box-shadow: var(--boxShadowTab);
        z-index: 7;
    }
    
    .container-talentos .talentos{
        width: 100%;
        border-radius: 0;
    }

    /* --------------------
    Registro
    -------------------- */
    .container-registro{
        margin-bottom: 0;
        box-shadow: var(--boxShadowTab);
        z-index: 6;
    }
    

}

/* --------------------
Mobile
-------------------- */
@media only screen and (max-width: 640px){

    /* --------------------
    Buscamos
    -------------------- */

    .container-buscamos{
        margin-top: 0;
    }

    .container-buscamos .buscamos{
        width: 100%;
        border-radius: 0;
    }

    /* --------------------
    Destacados
    -------------------- */

    .container-destacados{
        margin-top: 0;
    }

    .container-destacados .destacados{
        width: 100%;
        border-radius: 0;
        padding: 7rem 5%;
    }

    .destacados swiper-container {
        width: 80%;
    }

    .destacados swiper-slide h3{
        font-size: 2rem;
        height: 10rem;
    }

    /* --------------------
    Bullets
    -------------------- */

    .container-bullets{
        margin-top: 0;
    }

    .container-bullets .bullets{
        background-color: var(--blanco);
        width: 100%;
        border-radius: 0;
    }

    .container-bullets .bullets .cajas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-bullets .bullets .caja{
        margin: 3rem 0 1rem 0;
        padding: 0;
    }

    .bullets .linea{
        display: flex;
        width: .15rem;
        height: 6rem;
        border-radius: 50rem;
        background-color: var(--primero);
    }

    /* --------------------
    Ventajas
    -------------------- */

    .container-ventajas{
        margin-top: 0;
    }

    .container-ventajas .ventajas{
        width: 100%;
        border-radius: 0;
    }

    .ventajas .contenedor{
        display: flex;
        flex-direction: column;
    }

    .ventajas .lista{
        margin: 0;
    }

    .ventajas .imagen{
        width: 100%;
        height: 30rem;
        border-radius: 2rem 2rem 0 0;
    }

    .ventajas #image-list{
        width: 100%;
        margin-top: 4rem;
    }

    #image-list span{
        margin: 1.5rem auto;
        padding: 0;
    }

    .active span::before{
        content: "";
    }

    /* --------------------
    Talentos
    -------------------- */

    .container-talentos{
        margin-top: 0;

    }

    .contenedor-cajas{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-talentos .talentos{
        width: 100%;
        border-radius: 0;
    }

    .talentos .contenedor-cajas .caja-01{
        width: 100%;
        border-radius: 2rem 2rem 0 0;
        margin-bottom: 1rem;
    }

    .talentos .contenedor-cajas .caja-02{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .talentos .contenedor-cajas .caja-02 .cajita-01{
        height: auto;
        border-radius: 0;
    }

    .talentos .contenedor-cajas .caja-02 .cajita-02{
        height: auto;
        border-radius: 0 0 2rem 2rem;
        margin-top: .5rem;
    }

    .talentos .contenedor-cajas .caja-02 .cajita-01,
    .talentos .contenedor-cajas .caja-02 .cajita-02{
        width: 100%;
        margin-left: 0;
        padding: 2rem;
        text-align: center;
    }

    .talentos .contenedor-cajas .caja-02 .texto-02{
        text-align: center;
    }

}