/* --------------------
Header
-------------------- */

.contenedor-header{
    background-image: url(../img/headerPrensa.png);
    background-position: left top !important;
}

/* --------------------
Prensa
-------------------- */

.container-prensa{
    margin-top: 0;
}

.prensa{
    background-color: var(--blanco);
    width: 80%;
    margin: auto;
    border-radius: 2rem;
    padding: 5rem 5%;
}

.prensa .reconocen{
    font-weight: 700;
    color: var(--segundo);
}

.prensa .contenedor-cajas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;
}

.prensa .caja{
    width: 20rem;
    margin: 4rem 3rem;
    padding: 0;
    transition: var(--transitions);
}

.prensa .caja:hover{
    transform: scale(1.02);
}

.prensa .caja img{
    width: 100%;
    border-radius: 2rem;
    transition: var(--transitions);
    border: solid var(--blanco) .2rem;
    padding: 1rem;
}

.prensa .caja img:hover{
    border: solid var(--segundo) .2rem;
}

/* --------------------
Tablet / Mobile
-------------------- */
@media only screen and (max-width: 640px) and (min-width: 1px) {

    .prensa .caja{
        margin: 1rem 0;
    }

}