/* --------------------
Cover
-------------------- */
.container-cover{
    background-image: url(../img/bgHeader.png);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: var(--boxShadow);
}

.cover{
    width: 40%;
    margin-left: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cover h3,
.cover p{
    color: var(--blanco);
    text-align: left;
}

.cover h1,
.cover h3,
.cover p{
    margin: 0 0 5rem 0;
}

/* --------------------
Soluciones
-------------------- */

.soluciones{
    background-color: var(--gris-tres);
    width: 80%;
    margin: auto;
    border-radius: 2rem;
    padding: 5rem 5%;
    box-shadow: var(--boxShadow);
}

.soluciones .cajas{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.soluciones .cajas .caja{
    width: 45%;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 50rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    border: solid var(--primero) .1rem;
    border-radius: 1rem;
    background-color: var(--blanco);
    box-shadow: var(--boxShadow);
}

.soluciones .cajas .caja .icono{
    width: 40%;
    margin: 3rem auto 2rem auto;
    max-width: 15rem;
}

.soluciones .cajas .caja h4{
    text-align: center;
}

.soluciones .cajas .caja p{
    text-align: center;
    margin: 3rem 0;
}

.soluciones .cajas .caja .boton{
    padding-bottom: 3rem;
    margin: auto;
}

.soluciones .cajas .caja .icono .contorno{
    fill: var(--primero);
    stroke: var(--primero);
}

/* --------------------
Inversores
-------------------- */

.inversores{
    background-color: var(--blanco);
    width: 80%;
    margin: auto;
    border-radius: 2rem;
    padding: 5rem 5%;
    box-shadow: var(--boxShadow);
}

.inversores p{
    text-align: center;
    margin: auto;
}

.inversores .cajas{
    width: 100%;
    height: calc(30vh);
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inversores .cajas .cajaTres{
    display: none;
}

.inversores .cajas .caja{
    width: 50%;
    height: 100%;
}

.inversores .cajas .caja .imagen01{
    width: 100%;
    height: 100%;
    margin: auto;
    background-image: url(../img/inversionEquipo.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
}

.inversores .cajas .caja .imagen02{
    width: 100%;
    height: 100%;

    margin: auto;
    background-image: url(../img/inversionBullets.png);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: contain;
}

.inversores .boton{
    text-align: center;
}

.inversores .boton .btn-primario{
    margin: .5rem 2rem 1.5rem 2rem;
    text-align: center;
}

/* --------------------
Patrimonio
-------------------- */

.patrimonio swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.patrimonio swiper-slide {
    text-align: center;
    font-size: 18px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.patrimonio .cajaDos{
    display: none;
}

.patrimonio .content{
    width: 60%;
    margin: 5rem auto;
    padding: 2rem 0;
    border: solid var(--primero) .1rem;
    border-radius: 2rem;
    background-color: var(--blanco);
    box-shadow: var(--boxShadow);
}

.patrimonio img {
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.patrimonio p {
    padding: 1rem 5rem;
    text-align: center;

}

.patrimonio .boton{
    text-align: center;
    margin-top: 2rem;
}

/* --------------------
Elegirnos
-------------------- */

.container-elegirnos{
    background-color: var(--gris-cuatro);
    height: auto;
    box-shadow: var(--boxShadow);
}

.elegirnos .mySwiper{
    height: auto;
}

.elegirnos swiper-container {
    width: 100%;
    height: 100%;
}

.elegirnos swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--gris-cuatro);
    display: flex;
    justify-content: start;
    align-items: center;
}

.elegirnos .titulo {
    color: var(--blanco);
    font-weight: 600;
    font-size: 2.4rem;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 5rem;
}

.elegirnos .content {
    width: 90%;
    color: var(--cuarto);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.elegirnos img {
    width: auto;
    height: 12rem;
    min-width: 15rem;
}

.autoplay-progress {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--cuarto);
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 2px;
    stroke: var(--cuarto);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

/* --------------------
Oficinas
-------------------- */

.oficinas{
    background-color: var(--gris-tres);
    width: 80%;
    margin: auto;
    border-radius: 2rem;
    padding: 5rem 5%;
    box-shadow: var(--boxShadow);
}

.oficinas .cajas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.oficinas .cajas .caja{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.oficinas .cajas .caja .textoUno{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.oficinas .cajas .caja .textoUno .titulo{
    width: 100%;
    max-width: 50rem;
    color: var(--segundo);
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.oficinas .cajas .caja .textoUno .descripcion{
    width: 100%;
    max-width: 50rem;
    font-size: 1.6rem;
    font-weight: 200;
    padding-right: 2.5rem;
}

.oficinas .cajas .caja .imagenUno{
    width: 50%;
}

.oficinas .cajas .caja .imagenUno .titulo{
    position: absolute;
    padding: 1rem 3rem 3rem 2rem;
    color: var(--blanco);
    font-weight: 500;
    font-size: 3rem;
    text-shadow: var(--textShadow);
}

.oficinas .cajas .caja .imagenUno img{
    width: 100%;
    max-width: 50rem;
    border-radius: 0 2rem 2rem 0;
}

.oficinas .cajas .caja .textoDos{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.oficinas .cajas .caja .textoDos .titulo{
    width: 100%;
    max-width: 50rem;
    color: var(--segundo);
    font-size: 2rem;
    font-weight: 500;
    text-align: right;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.oficinas .cajas .caja .textoDos .descripcion{
    width: 100%;
    text-align: right;
    max-width: 50rem;
    font-size: 1.6rem;
    font-weight: 200;
    padding-left: 2.5rem;
}

.oficinas .cajas .caja .imagenDos{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.oficinas .cajas .caja .imagenDos .titulo{
    position: absolute;
    text-align: end;
    width: 100%;
    max-width: 50rem;
    padding: 1rem 3rem 3rem 2rem;
    color: var(--blanco);
    font-weight: 500;
    font-size: 3rem;
    text-shadow: var(--textShadow);
}

.oficinas .cajas .caja .imagenDos img{
    width: 100%;
    max-width: 50rem;
    border-radius: 2rem 0 0 2rem;
}

.oficinas .boton{
    text-align: center;
    margin-top: 5rem;
}

/* --------------------
Prensa
-------------------- */

.prensa{
    background-color: var(--fondo-azul);
    width: 80%;
    margin: auto;
    border-radius: 2rem;
    padding: 5rem 5%;
    box-shadow: var(--boxShadow);
}

.prensa h2{
    margin-bottom: 1rem;
}

.prensa h3{
    margin-bottom: 5rem;
}

.prensa swiper-container {
    width: 100%;
    height: 100%;
}

.prensa swiper-slide {
    text-align: center;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prensa swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
    margin-bottom: 6rem;
}

.prensa p{
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 3rem;
    text-align:  center;
    padding: 0;
}

.prensa .boton{
    margin: auto;
    text-align: center;
}

/* --------------------
Certificaciones
-------------------- */

.certificaciones{
    background-color: var(--blanco);
    width: 80%;
    margin: auto;
    border-radius: 2rem;
    padding: 5rem 5%;
    box-shadow: var(--boxShadow); 
}

.certificaciones h2{
    margin-bottom: 10rem;
}

.certificaciones-caja {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem;
}

.certificaciones .certificaciones-titulo{ 
    width: 80%;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.certificaciones .certificaciones-titulo h5{
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    max-width: 70ch;
}

.certificaciones .certificaciones-titulo p{
    margin-bottom: 1rem;
    max-width: 70ch;
}

.certificaciones .certificaciones-imagen{
    width: 20%;
}

.certificaciones .certificaciones-imagen img{
    width: 100%;
}

[data-animation="fade"]{
    opacity: 0;
    transition: var(--transitionsXL);
    --opacity: 1;
}

.unset{
    opacity: var(--opacity);
}

/* --------------------
Cuenta
-------------------- */

.container-cuenta{
    margin-bottom: 10rem;
}

.cuenta{
    background-color: var(--fondo-azul);
    width: 80%;
    margin: auto;
    border-radius: 2rem;
    padding: 5rem 5%;
    box-shadow: var(--boxShadow);
}  

.cuenta form{
    width: 80%;
    max-width: 50rem;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.cuenta select,
.cuenta .form-input {
    width: 100%;
    height: auto;
    border: solid var(--primero) .1rem !important;
    background-color: var(--blanco);
    border-radius: .5rem;
    padding: 1rem;
}

.cuenta label {
    font-size: 1.4rem;
    font-weight: 300;
}

.cuenta .check{
    display: flex;
}

.cuenta .check-input{
    margin-right: 1rem;
}

.check[type="checkbox" i]{
    background-color: #050505 !important;
}

.cuenta .check label{
    font-size: 1.2rem;
}

.cuenta .boton{
    text-align: center;
    margin-top: 5rem;
}

/* --------------------
Tablet / Mobile
-------------------- */
@media only screen and (max-width: 1199px) {

    /* --------------------
    Soluciones
    -------------------- */

    .container-soluciones{
        margin-top: 0;
    }

    .soluciones .cajas .caja{
        width: 35%;
        min-width: 35rem;
    }

    /* --------------------
    Inversores
    -------------------- */

    .container-inversores{
        margin-top: 0;
    }

    .inversores .cajas{
        width: 100%;
        height: calc(30vh);
        margin: 5rem auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* --------------------
    Patrimonio
    -------------------- */

    .patrimonio swiper-container {
        width: 80%;
        min-width: 70rem;
    }

    .patrimonio img {
        width: 100%;
    }

    /* --------------------
    Elegirnos
    -------------------- */

    .elegirnos{
        width: 80% !important;
    }

    /* --------------------
    Oficinas
    -------------------- */

    .container-oficinas{
        margin-top: 0;
    }

    /* --------------------
    Certificaciones
    -------------------- */

    .container-certificaciones{
        margin-top: 0;
    }

    .certificaciones-caja {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .certificaciones .certificaciones-titulo{ 
        width: 60%;
    }

    .certificaciones .certificaciones-titulo h5{
        margin-bottom: 1rem !important;
        text-align: center;
        margin: auto;
    }

    .certificaciones .certificaciones-titulo p{
        margin-bottom: 5rem !important;
        text-align: center;
        margin: auto;
    }

    .container-cuenta{
        margin-top: 0;
    }

}

/* --------------------
Mobile L
-------------------- */
@media only screen and (max-width: 840px){

    /* --------------------
    Cover
    -------------------- */
    .cover{
        width: 60%;
        margin-left: 10%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    /* --------------------
    Soluciones
    -------------------- */

    .container-soluciones{
        margin-top: 0;
    }

    .soluciones .cajas{
        flex-direction: column;
        align-items: center;
    }
    
    .soluciones .cajas .caja{
        width: 80%;
        max-width: 45rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
    }

    /* --------------------
    Elegirnos
    -------------------- */

    .elegirnos{
        width: 100% !important;
    }

}

/* --------------------
Mobile
-------------------- */
@media only screen and (max-width: 640px){

    /* --------------------
    Cover
    -------------------- */
    .cover{
        width: 80%;
        margin: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cover h1,
    .cover h3,
    .cover p{
        text-align: center;
    }
    
    .cover .boton{
        margin: 0 2rem;
        text-align: center;
    }

    /* --------------------
    Inversores
    -------------------- */
    .inversores .cajas{
        width: 100%;
        height: calc(45vh);
        margin: 5rem auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .inversores .cajas .caja{
        width: 100%;
        height: 70%;
    }
    
    .inversores .cajas .caja .imagen01{
        background-position: center;
        width: 100%;
        max-width: 35rem;
    }
    
    .inversores .cajas .cajaDos{
        display: none;
    }
    
    .inversores .cajas .cajaTres{
        height: 30%;
        display: flex;
    }
    
    .inversores .cajas .cajaTres ul{
        margin: auto;
    }

    .inversores .cajas .cajaTres ul li{
        list-style-position: inside;
        color: var(--tercero);
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    /* --------------------
    Patrimonio
    -------------------- */

    .patrimonio swiper-container{
        display: none;
    }
    
    .patrimonio .cajaDos{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    
    .patrimonio .imagen{
        display: flex;
        height: 20rem;
        width: 80%;
        margin: 4rem auto;
        background-image: url(../img/patrimonioUno.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 2rem 2rem 0 0;
    }
    
    .patrimonio ul{
        height: auto;
        width: 80%;
        margin: 0 auto;
    }
    
    .patrimonio ul li{
        color: var(--segundo);
        margin-bottom: 3rem;
        text-align: center;
    }
    
    .patrimonio .boton{
        margin: 0;
    }

    /* --------------------
    Elegirnos
    -------------------- */
    
    .elegirnos .titulo {
        margin-bottom: 6rem;
        text-align: center;
    }
    
    .elegirnos .content {
        margin: auto;
    }

    .elegirnos .autoplay-progress{
        display: none;
    }

    /* --------------------
    Oficinas
    -------------------- */

    .oficinas{
        background-color: var(--gris-tres);
        width: 80%;
        margin: auto;
        border-radius: 2rem;
        padding: 5rem 5%;
    }

    .oficinas .cajas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
    }
    
    .oficinas .cajas .caja{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    
    .oficinas .cajas .cajaDos{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .oficinas .cajas .caja .textoUno{
        width: 80%;
        margin: auto;
        text-align: center;
    }

    .oficinas .cajas .caja .textoUno .titulo{
        margin-top: 2rem;
        padding: 0;
    }
    
    .oficinas .cajas .caja .textoUno .descripcion{
        padding: 0;
    }

    .oficinas .cajas .caja .imagenUno .titulo{
        padding: 1rem 3rem 3rem 2rem;
    }
    
    .oficinas .cajas .caja .imagenUno{
        width: 80%;
        margin: auto;
    }
    
    .oficinas .cajas .caja .imagenUno img{
        border-radius: 2rem 2rem 0 0;
    }
    
    .oficinas .cajas .caja .textoDos{
        width: 80%;
        margin: auto;
        text-align: center;
    }
    
    .oficinas .cajas .caja .textoDos .titulo{
        margin-top: 2rem;
        text-align: center;
        padding: 0;
    }
    
    .oficinas .cajas .caja .textoDos .descripcion{
        padding: 0;
        text-align: center;
    }
    
    .oficinas .cajas .caja .imagenDos{
        width: 80%;
        margin: 3rem auto 0 auto;
        align-items: start;
    }
    
    .oficinas .cajas .caja .imagenDos .titulo{
        text-align: left;
        padding: 1rem 3rem 3rem 2rem;
    }

    .oficinas .cajas .caja .imagenDos img{
        width: 100%;
        max-width: 50rem;
        border-radius: 2rem 2rem 0 0;
    }

    /* --------------------
    Certificaciones
    -------------------- */

    .certificaciones .certificaciones-caja{
        margin-bottom: 4rem;
        height: auto;
        border-bottom: solid var(--primero) .1rem;
    }
    
    .certificaciones .ultimo{
        border-bottom: none;
        margin-bottom: 0;
    }

    .certificaciones h2{
        margin-bottom: 5rem;
    }

    .certificaciones .certificaciones-titulo{ 
        width: 80%;
        margin: 0;
        padding: 0;
    }
    
    .certificaciones .certificaciones-titulo h5{
        margin-bottom: 1rem;
        max-width: none;
    }
    
    .certificaciones .certificaciones-titulo p{
        margin-bottom: 1rem;
        max-width: none;
        margin-bottom: 0 !important;
    }
    
    .certificaciones .certificaciones-titulo .txt{
        margin: 0;
        padding: 0;
    }
    
    .certificaciones .certificaciones-imagen{
        width: 60%;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }

}