/* --------------------
Header
-------------------- */
.contenedor-header{
    background-image: url(../img/headerPartners.png);
    background-position: right top !important;
}

/* --------------------
Buscamos
-------------------- */

.container-buscamos{
    margin-top: 10rem;
}

.container-buscamos .buscamos{
    background-color: var(--blanco);
    width: 80%;
    margin: auto;
    border-radius: 2rem;
    padding: 5rem 5%;
}

.container-buscamos .buscamos p{
    max-width: 80ch;
    text-align: center;
    margin: auto;
}

/* --------------------
Destacados
-------------------- */

.container-destacados{
    margin-top: 10rem;
}

.container-destacados .destacados{
    background-color: var(--gris-cuatro);
    width: 80%;
    margin: auto;
    border-radius: 2rem;
    padding: 5rem 5%;
}

.destacados swiper-container {
    width: 80%;
    height: 35rem;
    max-width: 60rem;
  }

.destacados swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    font-weight: bold;
    border: solid var(--blanco) .2rem;
  }
  
  .destacados swiper-slide h3{
    font-size: 22px;
    width: 100%;
    height: 8rem;
    background-color: var(--blanco);
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
}

.destacados swiper-slide:nth-child(1n) {
    background-image: url(../img/destacados01.png);
    background-size: cover;
    background-position: bottom left;
}

.destacados swiper-slide:nth-child(2n) {
    background-image: url(../img/destacados02.png);
}

.destacados swiper-slide:nth-child(3n) {
    background-image: url(../img/destacados03.png);
}

.destacados swiper-slide:nth-child(4n) {
    background-image: url(../img/destacados04.png);
}

.destacados swiper-slide:nth-child(5n) {
    background-image: url(../img/destacados05.png);
}

/* --------------------
Bullets
-------------------- */

.container-bullets{
    margin-top: 10rem;
}

.container-bullets .bullets{
    background-color: var(--gris-tres);
    width: 80%;
    margin: auto;
    border-radius: 2rem;
    padding: 5rem 5%;
}

.container-bullets .bullets p{
    text-align: center;
    margin-top: 3rem;
}

.container-bullets .bullets .cajas{
    display: flex;
    justify-content: space-around;
}

.container-bullets .bullets .caja{
    text-align: center;
}

.container-bullets .bullets .caja h4{
    text-align: center;
}

.container-bullets .bullets .caja img{
    width: auto;
    height: 10rem;
    margin: 2rem 0;
}


/* --------------------
Ventajas
-------------------- */

.container-ventajas{
    margin-top: 10rem;
}

.container-ventajas .ventajas{
    background-color: var(--fondo-azul);
    width: 80%;
    margin: auto;
    border-radius: 2rem;
    padding: 5rem 5%;

}

.ventajas .contenedor{
    display: flex;
}

.ventajas .imagen{
    width: 50%;
    height: auto;
    background-image: url(../img/ventajas.png);
    background-position: center;
    background-size: cover;
    border-radius: 2rem 0 0 2rem;

}

.ventajas #image-list{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ventajas .lista{
    width: auto;
    margin: 0 0 0 3rem;
}

#image-list span{
    color: var(--quinto);
    font-size: 1.6rem;
    font-weight: 400;
    transition: var(--transitions);
    margin: 1.5rem 2rem;
}

.ventajas #image-list li .contLi{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.active span{
    transform: scale(1.1);
    color: #f28603 !important;
    font-weight: 500 !important;
    text-indent: 0;
}

.active span::before{
    content: "- ";
}

/* --------------------
Talentos
-------------------- */

.container-talentos{
    margin-top: 10rem;
}

.container-talentos .talentos{
    background-color: var(--gris-tres);
    width: 80%;
    margin: auto;
    border-radius: 2rem;
    padding: 5rem 5%;
}

.talentos .contenedor-cajas{
    display: flex;
    justify-content: space-evenly;
}

.talentos .contenedor-cajas .caja-01{
    width: 34%;
    background-color: var(--blanco);
    border-radius: 2rem 0 0 2rem;
}

.talentos .contenedor-cajas .caja-01 h3{
    margin: 2rem 0;
}

.talentos .contenedor-cajas .caja-01 .imagen{
    width: 100%;
    height: 15rem;
    background-image: url(../img/talentos.png);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.talentos .contenedor-cajas .caja-01 h4{
    margin: 2rem 0;
    text-align: center;
    font-weight: 300;
}

.talentos .contenedor-cajas .caja-01 .texto-01{
    margin: 1rem 0;
    text-align: center;
    color: var(--segundo);
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.talentos .contenedor-cajas .caja-02{
    width: 64%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.talentos .contenedor-cajas .caja-02 .cajita-01{
    height: 38%;
    margin-bottom: .5rem;
    border-radius: 0 2rem 0 0;
}

.talentos .contenedor-cajas .caja-02 .cajita-02{
    height: 58%;
    border-radius: 0 0 2rem 0;
}

.talentos .contenedor-cajas .caja-02 .cajita-01,
.talentos .contenedor-cajas .caja-02 .cajita-02{
    width: 100%;
    margin-left: 1%;
    background-color: var(--blanco);
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.talentos .contenedor-cajas .caja-02 .texto-02{
    margin: 1rem 0;
    text-align: left;
    color: var(--tercero);
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
}

.talentos .contenedor-cajas .caja-02 ul{
}

.talentos .contenedor-cajas .caja-02 ul li{
    font-size: 1.6rem;
    font-weight: 200;
    list-style: '- ';
    list-style-position: inside;
}