@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100;200;300;400;500;600;700;800;900&family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    overflow-x: hidden;
    /*
    font-family: 'Encode Sans SC', sans-serif;
    */
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    background-color: var(--gris);
}

:root {
    --azul-claro: #DEE9ED;
    --azul: #79A6B5;
    --azul-dos: #006D93;
    --verde-claro: #D2E4DA;
    --verde: #4A916A;
    --naranja: #F2C969;
    --gris-uno: #808080;
    --gris-dos: #58595B;
    --gris-tres: #231F20;
    --gris-op: #80808090;
    --blanco: #FFFFFF;

    --transition: ease-in-out 200ms;
}

h1{
    color: var(--verde);
    font-size: 2.2rem;
    font-weight: 600;
    text-align: left;
}

h2{
    font-size: 1.8rem;
    color: var(--azul);
    font-family: 'Encode Sans SC', sans-serif;
}

h3{
    font-size: 1.4rem;
    color: var(--azul-claro);
    font-weight: 300;
}

h4{
    font-size: 1.4rem;
    color: var(--azul);
    text-transform: uppercase;
    font-weight: 700;
}

span{
    color: var(--azul-claro);
    font-size: 1.4rem;
    font-weight: 300;
}

p{
    color: var(--azul-claro);
    font-size: 1.4rem;
    font-weight: 300;
}

a {
    color: var(--azul-claro);
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
}

.hide{
    display: none;
}

/*
Compartir
*/

.compartir-desktop{
    width: 3rem;
    height: 3rem;
    top: 8rem;
    right: 1.4rem;
    border: solid .1rem var(--naranja);
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    transition: var(--transitionUno);
    z-index: 999999999;
}

.compartir-desktop a{
    right: 0;
    background: none;
    border: none;
}

.compartir-desktop:hover{
    transform: scale(1.2);
}

.compartir-desktop a i{
    font-size: 1.2rem;
    color: var(--naranja);
}

.compartir-mobile{
    display: none;
}


/*
Header - Nav
*/

nav{
    width: 100vw;
    position: fixed;
    z-index: 9999999;
}

.container-nav{
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--gris-tres);
}

.cont-uno{
    width: 20%;
    text-align: center;
}

.cont-dos{
    width: 60%;
}

.cont-dos ul{
    display: flex;
    justify-content: space-around;
}

.cont-dos ul li a{
    color: var(--blanco);
    font-size: 1.3rem;
}

.cont-dos ul li a:hover{
    color: var(--azul);
    font-size: 1.6rem;
}

/*
Section
*/

.imagen-fondo{
    background-image: url(./img/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 9;
}

.container-all{
    width: 80%;
    z-index: 9999;
    position: relative;
    margin: 0 auto;
}

.datos{
    margin: 6rem auto 0 auto;
}

.container-contacto{
    display: flex;
    width: 100%;
    margin: auto;
    padding: 3vh 0;
    justify-content: space-between;
    align-items: stretch;
    z-index: 1;
}

.container-contacto .contacto{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-contacto .dos ul{
    text-align: right;
}

.container-contacto .contacto ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-contacto .contacto ul li{
    margin: 0;
    color: var(--azul-claro);
    overflow: hidden;
}

.container-contacto .foto{
    width: 20%;
}

.container-contacto img{
    width: 100%;
    margin: 0 auto;
    max-width: 20rem;
    border: solid var(--azul) .4rem;
    border-radius: 200rem;
}

/*
Redes
*/

.redes{
    display: flex;
    margin: 1rem auto;
}

.linea{
    width: 50%;
    margin: auto;
    border-bottom: solid var(--verde) .2rem;
    position: relative;
    z-index: 9999999999;
}

.container-redes{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.container-redes .icon{
    width: auto;
}

.container-redes .icon i{
    font-size: 2.2rem;
    margin: 1rem;
    color: var(--azul);
    transition: var(--transition);
}

.container-redes .icon i:hover{
    transform: scale(1.2);
    color: var(--azul-claro);
}

/*
Habilidades
*/

.habilidades{
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-habilidades{
    width: 20%;
    min-width: 19rem;
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.habilidad{
    display: flex;
    flex-direction: column;
    margin: 0 0 3rem 0;
    width: 9rem;
}

.habilidad span{
    color: var(--blanco);
}

.habilidad span .naranja{
    color: #FF5733;
}

.habilidad .html{
    color: #FF5733;
}

.habilidad .css{
    color: #2965f1;
}

.habilidad .js{
    color: #F0DB4F;
}

.container-habilidades .icon{
    width: auto;
    display: flex;
    align-items: baseline;
}
.container-habilidades .icon .circulos{
    display: flex;
    align-items: center;
    margin: 0 0 0 .2rem;
}

.container-habilidades .icon img{
    width: 2.8rem;
    margin: 0 0 .6rem 0;
}

.container-habilidades .circulos .lleno{
    width: 1rem;
    height: 1rem;
    margin: 0 .3rem;
    border-radius: 5rem;
    border: solid .1rem var(--azul-claro);
    background-color: var(--azul);
}

.container-habilidades .circulos .vacio{
    width: 1rem;
    height: 1rem;
    margin: 0 .3rem;
    border-radius: 5rem;
    border: solid .1rem var(--verde-claro);
    background-color: none;
}

.container-habilidades .title{
    width: 100%;
    text-align: center;
    margin: 0 0 2rem 0;
    text-transform: uppercase;
}

/*
Texto
*/


.texto{
    margin: 0 0 1rem 0;
}

.texto-line{
    width: 50%;
    margin: 0 0 4rem 0;
    height: auto;
    border-top: solid var(--verde) .2rem;
}

.texto-line-right{
    width: 50%;
    margin: 0 0 4rem 50%;
    height: auto;
    border-top: solid var(--verde) .2rem;
}

.texto h4{
    margin: 0 0 2rem 0;
}

.texto p{
    width: 70%;
    margin: 0 30% 0 0;
    text-align: justify;
}

.texto span {
    color: var(--azul);
    font-size: 1.6rem;
}

.texto strong {
    color: var(--verde);
    font-weight: 700;
    font-size: 1.2rem;
}

.right h4{
    text-align: right;
}

.right p{
    width: 70%;
    margin: 0 0 0 30%;
    text-align: right;
}


@media only screen and (max-width: 599px) and (min-width: 150px) {


    .container-nav{
        display: none;
    }

    .compartir-desktop{
        display: none;
    }

    .compartir-mobile{
        width: 2.6rem;
        height: 2.6rem;
        top: 2rem;
        right: 2rem;
        display: flex;
        border: solid .1rem var(--naranja);
        border-radius: 4rem;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 9999999999;
    }
    
    .compartir-mobile .btnCompartir{
        right: 0;
        background: none;
        border: none;
    }
    
    .compartir-mobile .btnCompartir i{
        font-size: 1rem;
        color: var(--naranja);
    }

    
}

