@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100;200;300;400;500;600;700;800;900&family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    overflow-x: hidden;
    /*
    font-family: 'Encode Sans SC', sans-serif;
    */
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    background-color: var(--gris);
}

:root {
    --azul-claro: #DEE9ED;
    --azul: #79A6B5;
    --azul-dos: #006D93;
    --verde-claro: #D2E4DA;
    --verde: #4A916A;
    --naranja: #F2C969;
    --gris-uno: #808080;
    --gris-dos: #58595B;
    --gris-tres: #231F20;
    --gris-op: #80808090;
    --blanco: #FFFFFF;

    --transition: ease-in-out 200ms;
}

h1{
    color: var(--verde);
    font-size: 2.2rem;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
    padding: 1rem 0;
}

h2{
    font-size: 2.6rem;
    color: var(--azul);
    font-family: 'Encode Sans SC', sans-serif;
}

h3{
    font-size: 2.6rem;
    text-decoration: underline 1rem;
    color: var(--azul-claro);
    font-weight: 200;
    text-align: center;
    font-family: 'Encode Sans SC', sans-serif;
    margin: 0 auto;
}

h4{
    font-size: 1.8rem;
    color: var(--azul);
    text-transform: uppercase;
    font-weight: 700;
}

h5{
    font-size: 1.8rem;
    color: var(--blanco);
    font-weight: 200;
    font-family: 'Encode Sans SC', sans-serif;
    text-align: center;
    margin: .5rem 0 1rem 0;
}

p,
span{
    color: var(--azul-claro);
    font-size: 1.6rem;
    font-weight: 300;
}

a {
    color: var(--verde-claro);
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
}

.hidden{
    display: none;
}

/*
Compartir
*/

.compartir-desktop{
    width: 3rem;
    height: 3rem;
    top: 8rem;
    right: 1.4rem;
    border: solid .1rem var(--naranja);
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    transition: var(--transitionUno);
    z-index: 999999999;
    display: none;
}

.compartir-desktop a{
    right: 0;
    background: none;
    border: none;
}

.compartir-desktop:hover{
    transform: scale(1.2);
}

.compartir-desktop a i{
    font-size: 1.2rem;
    color: var(--naranja);
}

.compartir-mobile{
    display: none;
}


/*
Header - Nav
*/

nav{
    width: 100vw;
    position: fixed;
    z-index: 999;
}

.container-nav{
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--gris-tres);
}

.cont-uno{
    width: 20%;
    text-align: center;
}

.cont-dos{
    width: 60%;
}

.cont-dos ul{
    display: flex;
    justify-content: space-around;
}

.cont-dos ul li a{
    color: var(--blanco);
    font-size: 1.3rem;
}

.cont-dos ul li a:hover{
    color: var(--azul);
    font-size: 1.6rem;
}

#contacto{
    padding-top: 10rem;
}

#habilidades{
    padding-top: 10rem;
}

#proyectos{
    padding-top: 10rem;
}

#descripcion{
    padding-top: 10rem;
}

#educacion{
    padding-top: 10rem;
}

#experiencia{
    padding-top: 10rem;
}

/*
Datos
*/

.imagen-fondo{
    background-image: url(./img/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 9;
}

.container-all{
    width: 80%;
    z-index: 99;
    position: relative;
    margin: 0 auto;
}

.datos{
    margin: 6rem auto;
}

.container-contacto{
    display: flex;
    width: 100%;
    margin: auto;
    padding: 3vh 0;
    justify-content: space-between;
    align-items: stretch;
}

.container-contacto .contacto{
    width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-contacto .dos ul{
    text-align: right;
}

.container-contacto .contacto ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-contacto .contacto ul li{
    margin: 0;
    color: var(--azul-claro);
    overflow: hidden;
}

.container-contacto .contacto ul li a{
    color: var(--naranja);
    transition: var(--transition);
}

.container-contacto .contacto ul li a:hover{
    color: var(--verde-claro);
    transform: scale(2);
}

.container-contacto .foto{
    width: 20%;
}

.container-contacto img{
    width: 100%;
    margin: 0 auto;
    max-width: 20rem;
    border: solid var(--azul) .4rem;
    border-radius: 200rem;
}

/*
Linea
*/

.linea{
    width: 50%;
    margin: 3rem auto 0 auto;
    border-bottom: solid var(--verde) .2rem;
    position: relative;
    z-index: 99;
}

/*
Redes
*/

.redes{
    display: flex;
    margin: 0 auto;
}


.container-redes{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.container-redes .icon{
    width: auto;
}

.container-redes .icon i{
    font-size: 3.2rem;
    margin: 1rem;
    color: var(--naranja);
    transition: var(--transition);
}

.container-redes .icon i:hover{
    transform: scale(1.2);
    color: var(--verde-claro);
}

/*
Habilidades
*/

.habilidades{
    margin: 4rem auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-habilidades{
    width: 20%;
    min-width: 19rem;
    margin: 2rem 3rem 0 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.habilidad{
    display: flex;
    flex-direction: column;
    margin: 0 0 3rem 0;
    width: 9rem;
}

.habilidad span{
    color: var(--blanco);
}

.habilidad span .naranja{
    color: #FF5733;
}

.habilidad .html{
    color: #FF5733;
}

.habilidad .css{
    color: #2965f1;
}

.habilidad .js{
    color: #F0DB4F;
}

.container-habilidades .icon{
    width: auto;
    display: flex;
    align-items: baseline;
    margin-right: 1rem;
}
.container-habilidades .icon .circulos{
    display: flex;
    align-items: center;
    margin: 0 0 0 0;
}

.container-habilidades .icon img{
    width: 2.8rem;
    margin: 0 0 .6rem 0;
}

.container-habilidades .circulos .lleno{
    width: 1rem;
    height: 1rem;
    margin: 0 .3rem;
    border-radius: 5rem;
    border: solid .1rem var(--azul-claro);
    background-color: var(--azul);
}

.container-habilidades .circulos .vacio{
    width: 1rem;
    height: 1rem;
    margin: 0 .3rem;
    border-radius: 5rem;
    border: solid .1rem var(--verde-claro);
    background-color: none;
}

.container-habilidades .title{
    width: 100%;
    text-align: center;
    margin: 0 0 2rem 0;
    text-transform: uppercase;
}


/*
Proyectos
*/

.container-proyectos{
    margin: 4rem auto 0 auto;
}

.proyectos .proyectos_caja{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.proyectos .proyectos_caja .proy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.proyectos .proyectos_caja .proy .proyecto{
    width: 15rem;
    height: 15rem;
    border-radius: 40rem;
    border: solid var(--verde) .3rem;
}

.proyectos .caja_uno,
.proyectos .caja_dos{
    margin-bottom: 4rem;
}

.proyectos .caja .proyectos_caja .proy .proyecto{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
}

.proyectos .caja .proyectos_caja .proy:hover{
    transform: scale(1.03);
}

.proyectos .caja_uno .proyectos_caja .proy .proy_01{
    background-image: url(./img/logo-acB.png);
}

.proyectos .caja_uno .proyectos_caja .proy .proy_02{
    background-image: url(./img/logo-bloc.png);
}

.proyectos .caja_uno .proyectos_caja .proy .proy_03{
    background-image: url(./img/logo-panelBloc.png);
}

.proyectos .caja_uno .proyectos_caja .proy .proy_04{
    background-image: url(./img/Astaldi_Blanco.png);
}

.proyectos .caja_uno .proyectos_caja .proy .proy_05{
    background-image: url(./img/hashtagmc.png);
}

.proyectos .caja_uno .proyectos_caja .proy .proy_06{
    background-image: url(./img/servicios.png);
}

.proyectos .caja_uno .proyectos_caja .proy .proy_07{
    background-image: url(./img/logo-rod.png);
}



.proyectos .caja_dos .proyectos_caja .proy .proy_01{
    background-image: url(./img/logo-chaB.png);

}
.proyectos .caja_dos .proyectos_caja .proy .proy_02{
    background-image: url(./img/);
}



.proyectos .caja_tres .proyectos_caja .proy .proy_01{
    background-image: url(./img/xd.png);
    
}
.proyectos .caja_tres .proyectos_caja .proy .proy_02{
    background-image: url(./img/logo-figma.png);
}

.proyectos .caja_tres .proyectos_caja .proy .proy_03{
    background-image: url(./img/logo-figma.png);
}

.proyectos .caja_tres .proyectos_caja .proy .proy_04{
    background-image: url(./img/logo-figma.png);
}

.proyectos .caja_tres .proyectos_caja .proy .proy_05{
    background-image: url(./img/xd.png);
}

/*
Texto
*/


.texto{
    margin: 0 0 1rem 0;
}

.texto-line{
    width: 50%;
    margin: 0;
    height: auto;
    border-top: solid var(--verde) .2rem;
}

.texto-line-right{
    width: 50%;
    margin: 0 0 4rem 50%;
    height: auto;
    border-top: solid var(--verde) .2rem;
}

.texto h4{
    margin: 0 0 2rem 0;
}

.texto p{
    width: 70%;
    margin: 0 30% 0 0;
    text-align: justify;
}

.texto span {
    color: var(--azul);
    font-size: 1.6rem;
}

.texto strong {
    color: var(--verde);
    font-weight: 700;
    font-size: 1.2rem;
}

.right h4{
    text-align: right;
}

.right p{
    width: 70%;
    margin: 0 0 0 30%;
    text-align: right;
}

.space{
    margin-bottom: 5rem;
}


@media only screen and (max-width: 799px) and (min-width: 150px) {


    .container-nav{
        display: none;
    }

    .compartir-desktop{
        display: none;
    }

    .compartir-mobile{
        width: 2.6rem;
        height: 2.6rem;
        top: 2rem;
        right: 2rem;
        display: flex;
        border: solid .1rem var(--naranja);
        border-radius: 4rem;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 9999999999;
    }
    
    .compartir-mobile .btnCompartir{
        right: 0;
        background: none;
        border: none;
    }
    
    .compartir-mobile .btnCompartir i{
        font-size: 1rem;
        color: var(--naranja);
    }

    .container-all{
        width: 80%;
        margin: 2rem auto 0 auto;
    }

    .container-contacto{
        display: flex;
        flex-direction: column;
        padding: 3vh 0;
        text-align: center;
        justify-content: space-around;
    }
    
    .container-contacto .contacto{
        width: 100%;
        order: 2;
    }

    .container-contacto .dos ul{
        text-align: center;
    }

    .container-contacto .contacto ul li{
        margin: .3rem;
    }

    .container-contacto .foto{
        width: 50%;
        margin: auto;
    }

    .container-contacto img{
        max-width: 17rem;
        order: 1;
    }

    /*
    Habilidades
    */

    .habilidades{
        margin: 4rem auto;
        display: flex;
        flex-direction: column;
    }

    .container-habilidades{
        width: 100%;
        min-width: 14rem;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .habilidad{
        display: flex;
        flex-direction: column;
        margin: 0 0 3rem 0;
        width: 10rem;
    }

    .container-habilidades .icon .circulos{
        display: flex;
        align-items: center;
        margin: 0 0 0 .2rem;
    }

    .container-habilidades .icon img{
        width: 2rem;
    }


    .container-habilidades .title{
        width: 100%;
        text-align: center;
        margin: 0 0 2rem 0;
        text-transform: uppercase;
    }

    /*
    Texto
    */

    .texto-line{
        margin: 0 auto 4rem auto;
    }

    .texto-line-right{
        margin: 0 auto 4rem auto;
    }

    .texto h4{
        text-align: center;
    }

    .texto p{
        margin: 0 auto 0 auto;
        text-align: justify;
    }

    .right h4{
        text-align: center;
    }

    .right p{
        margin: 0 auto 0 auto;
        text-align: justify;
    }

}

