/*Contacto ---------------*/

.sectionContacto{
    background-image: url(../img/contacto.png);
    background-position: center top;
    background-size: cover;
    width: 100vw;
    height: 40vh;
    min-height: 450px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sectionContacto h2{
    color: var(--blanco);
    margin: auto;
    margin: 80px 0 0 0;
}

/*Section Form ---------------*/

.circulo{
    width: 80vw;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.circuloIn{
    height: auto;
    width: auto;
    padding: 20px;
    margin: 20px;
    max-width: 100px;
    max-height: 100px;
    min-width: 60px;
    max-width: 70px;
    background-color: var(--morado);
    border-radius: 50px;
    transition: var(--transitionsLarge);
    box-shadow: var(--boxShadow);
}

.circuloIn:hover{
    transform: scale(1.1);
    background-color: var(--morado-claro);
}

.circuloIn .iconoCirculo{
    width: 30px;
    height: 30px;
    display: flex;
    fill: var(--blanco);
}

.contTitle {
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 30px auto;
    background-color: var(--morado-claro-op);
}

.contTitle h3 {
    padding: 20px 0 0 0;
}

.sectionForm form{
    width: 60%;
    margin: 0 auto 100px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--morado-claro-op);
    padding: 40px;
    border-radius: 5px;
}

.sectionForm label{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: auto;
}

.sectionForm span {
    color: var(--gris-oscuro);
    font-size: 1.4rem;
    padding: 0 0 2px 0;
}

.sectionForm input {
    height: 30px;
    border: solid var(--morado) 1px;
    border-radius: 3px;
    color: var(--gris-oscuro);
    padding: 2px 5px;
}

.sectionForm select {
    height: 30px;
    border: solid var(--morado) 1px;
    border-radius: 3px;
    color: var(--gris-oscuro);
    padding: 2px 5px;
    cursor: pointer;
}

.sectionForm .comentCont{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: auto;
}

.sectionForm .comentCont textarea {
    height: 60px;
    resize: none;
    border: solid var(--morado) 1px;
    border-radius: 3px;
    color: var(--gris-oscuro);
    padding: 2px 5px;
}

form .tycCont{
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
}

.tycCont input{
    width: 14px;
    cursor: pointer;
}

.tycCont span{
    padding: 0 5px;
}

.sectionForm button{
    margin: 20px auto;
}

.sectionForm a{
    font-size: 1.4rem;
    color: var(--verde-link);
}

/*Tablet -------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 1099px) and (min-width: 640px) {

    .sectionForm form{
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 0;
    }

    .contTitle {
        width: 80%;
    }
    
    .contTitle h3 {
        padding: 20px 0;
    }

    .sectionForm form label{
        width: 90%;
    }

    .sectionForm form input{
        width: 100%;
    }
    
    .sectionForm .comentCont{
        width: 90%;
    }

    .sectionForm .tycCont{
        width: 90%;
        display: flex;
        margin: auto;
    }
    
    .sectionForm .tycCont input{
        width: 15px;
        height: 15px;
        display: flex;
        margin: 0;
        padding: 0;
    }
    
    .sectionForm form button{
        width: 90%;
        max-width: 400px;
        min-width: 200px;
    }

}

/*Mobile -------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 639px) and (min-width: 1px) {
    
    .sectionForm form{
        width: 90%;
        flex-direction: column;
        padding: 0;
    }

    .contTitle {
        width: 90%;
    }
    
    .contTitle h3 {
        padding: 20px 0;
    }

    .sectionForm form label{
        width: 90%;
    }

    .sectionForm form input{
        width: 100%;
    }
    
    .sectionForm .comentCont{
        width: 90%;
    }

    .sectionForm .tycCont{
        width: 90%;
    }
    
    .sectionForm .tycCont input{
        width: 15px;
        height: 15px;
        display: flex;
        margin: 0;
        padding: 0;
    }

    .sectionForm .tycCont span{
        font-size: 1.2rem;
    }
    
    .sectionForm .tycCont a{
        font-size: 1.2rem;
    }
    
    .sectionForm form button{
        width: 80%;
        max-width: none;
        min-width: 300px;
    }

}