@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Maven Pro', sans-serif;
    overflow: hidden;

}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

:root {
    --blanco: #FFFFFF;
    --amarillo: #FFEA80;
    --verde: #C9D3B5;
    --azul: #E1EDED;
    --azul-dos: #C3DBDB;
    --azul-tres: #061A21;
    --azul-shadow: #C3DBDB20;
    --amarillo-shadow: #FFEA8020;

    --shadow: var(--azul-shadow) 1rem 1rem 1.5rem;
    --shadow-dos: var(--amarillo-shadow) 1rem 1rem 1.5rem;
}

.container-all{
    width: 100vw;
    height: 100vh;
    background-image: url(./fondo04.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*
    background-color: var(--color-cinco);
    */
}

.container {
    width: 94vw;
    height: 80vh;
    margin: 6vh auto 14vh auto;
    padding: 4vh 0;
    border: solid var(--azul) 2px;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: var(--shadow);
}

.compartir{
    width: 20%;
    margin: 0 0 0 80%;
}

.compartir .btnCompartir{
    right: 0;
    background: none;
    border: none;
}

.compartir .btnCompartir i{
    font-size: 2.2rem;
    color: var(--azul-tres);
    background: var(--azul);
    padding: 1.2rem;
    border-radius: 3rem;
}

.logo{
    width: 40%;
    margin: 10% auto 0 auto;
}

.logo img {
    width: 100%;
}

.foto {
    width: 40%;
    margin: 10% auto 0 auto;
    border-radius: 500px;
    border: solid var(--azul) 3px;
    padding: 5px 5px 2px 5px;
    box-shadow: var(--shadow);
}

.foto img {
    width: 100%;
    border-radius: 500px;
}

.nombre{
    width: 90%;
    margin: auto;
    text-align: center;
}

.nombre h1{
    color: var(--verde);
    margin: 0 0 2rem 0;
}

.nombre h2 {
    font-weight: 200;
    margin: 0 0 2rem 0;
    color: var(--azul-dos);
}

.nombre ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.nombre ul li {
    font-size: 1.6rem;
    font-weight: 200;
    border-radius: 2rem;
    color: var(--blanco);
    line-height: 2.4rem;
    text-shadow: var(--shadow);
}

.nombre ul li::after {
    padding: 0 1rem;
    color: var(--amarillo);
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    font-family: 400;
    content: "\f121 ";
    text-shadow: var(--shadow-dos);
}

.nombre ul .final::after {
    content: none;
}

.contacto{
    width: 90%;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.circulo {
    width: auto;
}

.circulo i{
    padding: 1rem 2rem;
    font-size: 2.6rem;
    color: var(--azul-dos);
    text-shadow: var(--shadow);
}


@media only screen and (min-width: 460px) {
    .container-all{
        display: none;
    }
}