@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Estilos para normalización */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    background-color: var(--blanco);
}

:root {
    --negro: #020202;
    --negro-dos: #2A2A2A;

    --gris: #808080;
    --gris-dos: #A9A9A9;
    --gris-tres: #D2D2D2;
    --gris-cuatro: #F2F2F2;

    --blanco: #FFFFFF;
    --blanco-op: #FFFFFFEE;

    --azul: #2272FF;

    --transition: ease-in-out 200ms;

    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos generales */

h1 {
    font-weight: 700;
    font-size: 3rem;
    color: var(--negro-dos);
}

h2 {
    font-weight: 700;
    font-size: 2.6rem;
    color: var(--azul);
}

h3 {
    font-weight: 700;
    font-size: 2.6rem;
    color: var(--negro-dos);
}

h4 {
    font-weight: 400;
    font-size: 3.4rem;
    color: var(--negro-dos);
}

h5 {
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--negro-dos);
}

p {
    font-weight: 200;
    font-size: 1.6rem;
    color: var(--negro-dos);
}

a{
    text-decoration: none;
}

button {
    padding: .4rem 3rem !important;
}

/* Estilos genéricos */
.shadow-p {
    box-shadow: var(--shadow);
}

.row {
    margin-top: 5rem;
}

/* Division de secciones */
.line-division {
    width: 70vw;
    height: .1rem;
    border-radius: 5rem;
    background-color: var(--gris-tres);
    margin: 7rem auto;
}

.line-division-intern {
    width: 750vw;
    height: .1rem;
    border-radius: 5rem;
    background-color: var(--gris-tres);
    margin: 3em auto;
}

/* Estilos personalizados */

/* HEADER */
.container-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-no-dynamic-text {
    min-width: 25rem;
    max-width: 32rem;
    margin: auto;
}

.container-dynamic-text {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    position: relative;
}

.dynamic-text {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    min-height: 6rem;
}

.dynamic-text::after {
    content: "|";
    margin-left: 0px;
    opacity: 1;
    font-weight: 400;
    animation: blink 1s step-start infinite;
}

.hide-cursor::after {
    opacity: 0;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/* Estilo de la imagen */
.header-img {
    width: 60vw !important;
    max-width: 20rem;
    margin: 2rem auto;
}

/* Breakpoints */

/* Mobile (0px - 576px) */
@media (min-width: 0) and (max-width: 576px) {}

/* Tablet (577px - 992px) */
@media (min-width: 577px) and (max-width: 992px) {
    .container-no-dynamic-text {
        width: 40vw !important;
        margin: auto;
        min-width: 25rem;
    }

    .container-dynamic-text {
        width: 40vw !important;
        margin: auto;
        min-width: 25rem;
    }

    .header-img {
        max-width: 26rem;
        margin: 1rem auto 3rem auto !important;
    }
}

/* Desktop (993px - 1200px) */
@media (min-width: 993px) and (max-width: 1200px) {
    #header {
        margin-top: 10rem !important;
    }

    .container-header {
        flex-direction: row !important;
        align-items: end !important;
        justify-content: end !important;
    }

    .container-no-dynamic-text {
        width: calc(100% - 2rem) !important;
        margin-left: 2rem;
        min-width: 25rem;
    }

    .container-dynamic-text {
        width: calc(100% - 2rem) !important;
        margin-left: 2rem;
        min-width: 25rem;
        justify-content: start !important;
    }

    .experience-text {
        width: calc(100% - 2rem) !important;
        margin-left: 2rem;
        max-width: 50rem !important;
    }

    .header-img {
        display: flex !important;
        max-width: 28rem;
        margin: 1rem 2rem 3rem auto !important;
    }
}

/* XL (1201px en adelante) */
@media (min-width: 1201px) {
    #header {
        margin-top: 10rem !important;
    }

    .container-header {
        flex-direction: row !important;
        align-items: end !important;
        justify-content: end !important;
    }

    .container-no-dynamic-text {
        width: calc(100% - 2rem) !important;
        margin-left: 2rem;
        min-width: 25rem;

    }

    .container-dynamic-text {
        width: calc(100% - 2rem) !important;
        margin-left: 2rem;
        min-width: 25rem;
        justify-content: start !important;

    }

    .experience-text {
        width: calc(100% - 2rem) !important;
        margin-left: 2rem;
        max-width: 60rem !important;

    }

    .header-img {
        display: flex !important;
        max-width: 32rem;
        margin: 1rem 2rem 3rem auto !important;
    }
}

/* PARALLAX HORIZONTAL */
.parallax-section {
    padding: 0 !important;
    position: relative;
    overflow: hidden;
}

.parallax-container {
    position: relative;
    width: 100vw;
    left: 0vw;
    height: 400px;
    /* Se ajustará con media queries */
    overflow: hidden;
    transform: rotate(5deg);
    transform-origin: center;
}

.parallax-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateX(0);
    transition: transform 0.1s linear;
}

.parallax-section-1 .parallax-image {
    left: -70%;
}

.parallax-section-2 {
    margin-top: 2rem;
}

.image-top {
    background-image: url('./src/banner-left.png');
}

.image-bottom {
    background-image: url('./src/banner-right.png');
}

/* --- BREAKPOINTS --- */

/* Mobile (0px - 576px) */
@media (min-width: 0) and (max-width: 576px) {

    .parallax-container {
        width: 110vw;
        left: -5vw;
        height: 450px;
        /* Mayor altura para pantallas grandes */
        transform: rotate(5deg);
        /* border: solid purple 3px; */
    }

    .parallax-section-1 .parallax-image {
        width: 200%;
        /* Más ancho para cubrir el área */
        left: -100%;
    }

    .parallax-section-2 {
        margin-top: 0rem;
    }

    .parallax-section-2 .parallax-image {
        width: 200%;
        /* Más ancho para cubrir el área */
        left: -0%;
    }
}

/* Tablet (577px - 992px) */
@media (min-width: 577px) and (max-width: 992px) {
    .parallax-container {
        width: 110vw;
        left: -5vw;
        height: 450px;
        /* Mayor altura para pantallas grandes */
        transform: rotate(5deg);
        /* border: solid pink 3px; */
    }

    .parallax-section-1 .parallax-image {
        width: 140%;
        /* Más ancho para cubrir el área */
        left: -40%;
    }

    .parallax-section-2 {
        margin-top: 5rem;
    }

    .parallax-section-2 .parallax-image {
        width: 140%;
        /* Más ancho para cubrir el área */
        left: -0%;
    }
}

/* Desktop (993px - 1200px) */
@media (min-width: 993px) and (max-width: 1200px) {
    .parallax-container {
        width: 110vw;
        left: -5vw;
        height: 600px;
        /* Mayor altura para pantallas grandes */
        transform: rotate(5deg);
        /* border: solid blue 3px; */
    }

    .parallax-section-1 .parallax-image {
        width: 100%;
        /* Más ancho para cubrir el área */
        left: 0;
    }

    .parallax-section-2 {
        margin-top: 15rem;
    }

    .parallax-section-2 .parallax-image {
        width: 100%;
        /* Más ancho para cubrir el área */
        left: 0%;
    }
}

/* XL (1201px en adelante) */
@media (min-width: 1201px) {
    .parallax-container {
        width: 110vw;
        left: -5vw;
        height: 700px;
        /* Mayor altura para pantallas grandes */
        transform: rotate(5deg);
        margin: 10rem 0;
    }

    .parallax-section-1 .parallax-image {
        width: 100%;
        /* Más ancho para cubrir el área */
        left: 0;
    }

    .parallax-section-2 {
        margin-top: 15rem;
    }

    .parallax-section-2 .parallax-image {
        width: 100%;
        /* Más ancho para cubrir el área */
        left: 0%;
    }
}

/* PROTOTYPES */

.container-prototypes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5rem auto 2rem auto !important;
    padding: 2rem 0;
}

.container-info-proto {
    margin: 2rem auto 14rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container-prototypes h3 {
    text-align: center;
    font-weight: 500;
}

.container-prototypes button {
    text-align: center;
    font-weight: 500;
    margin-top: 2rem;
}

.container-proto {
    margin-top: 2rem;
    min-width: 20rem;
    max-width: 90rem;
    height: 30vh;
    max-height: 55rem !important;
    min-height: 35rem !important;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img-proto {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}


/* --- BREAKPOINTS --- */

/* Mobile (0px - 576px) */
@media (min-width: 0) and (max-width: 576px) {
    .container-proto {
        height: 60vh;
        max-height: 36rem !important;
        min-height: 20rem !important;
    }
}

/* Tablet (577px - 992px) */
@media (min-width: 577px) and (max-width: 992px) {
    .container-proto {
        height: 40vh;

        max-height: 80rem !important;
        min-height: 30rem !important;
    }
}

/* Desktop (993px - 1200px) */
@media (min-width: 993px) and (max-width: 1200px) {
    .container-proto {
        height: 26vh;

        max-height: 60rem !important;
        min-height: 30rem !important;
    }

}

/* XL (1201px en adelante) */
@media (min-width: 1201px) {

    .container-proto {
        height: 40vh;

        max-height: 90rem !important;
        min-height: 30rem !important;
    }

    .container-prototypes {
        justify-content: space-between;
    }
}


/* FIGMA */
.figma-section {
    background-color: var(--blanco-op);
    padding: 2rem 0;
}

.figma-section iframe {
    max-width: 100% !important;
    box-shadow: var(--shadow);
    margin: 1rem 2rem 2rem 0rem !important;
    border-radius: 1rem;

}

.iframe-wrapper {
    position: relative;
    width: 100% !important;
    padding-top: 56.25%;
    overflow: hidden;
    box-shadow: var(--shadow);
    margin: 1rem 0;
    border-radius: 8px;
}

.figma-section h4 {
    padding-top: 5rem !important;
}

.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* Botón flotante */
.floating-btn {
    position: fixed;
    top: 5rem;
    left: 5rem;
    z-index: 1000;
    background-color: var(--negro);
    color: white;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.floating-btn:hover {
    background-color: var(--negro-dos);
    transform: scale(1.1);
}

.floating-btn i {
    font-size: 1.5rem;
}


/* Breakpoints para Responsividad */

/* Mobile (0px - 576px) */
@media (min-width: 0) and (max-width: 576px) {

    /* .figma-section {
        border: solid red 2px;
    } */

    .figma-section p {
        font-size: 1rem;
    }

    .iframe-wrapper {
        padding-top: 75%;
        margin: 1rem 0.5rem;
        height: calc(90vh + 2rem) !important;
    }

    .figma-section iframe {
        height: calc(90vh + 2rem) !important;
    }

    .floating-btn {
        top: 3rem;
        left: 2rem;
    }

}

/* Tablet (577px - 992px) */
@media (min-width: 577px) and (max-width: 992px) {
    /* .figma-section {
        border: solid blue 2px;
    } */

    .iframe-wrapper {
        padding-top: 62.5%;
        /* Proporción intermedia */
        margin: 1rem 1rem;
        height: calc(70vh + 2rem) !important;
    }

    .figma-section iframe {
        height: calc(70vh + 2rem) !important;
    }
}

/* Desktop (993px - 1200px) */
@media (min-width: 993px) and (max-width: 1200px) {

    /* .figma-section {
        border: solid purple 2px;
    } */

    .iframe-wrapper {
        padding-top: 56.25%;
        height: calc(60vh + 2rem) !important;
    }

    .figma-section iframe {
        height: calc(60vh + 2rem) !important;
    }
}

/* XL (1201px en adelante) */
@media (min-width: 1201px) {

    /* .figma-section {
        border: solid pink 2px;
    } */

    .iframe-wrapper {
        padding-top: 50%;

        padding: 0 !important;
        margin: 1.5rem 3rem;
        height: calc(60vh + 3rem) !important;
    }

    .figma-section iframe {
        height: calc(60vh + 3rem) !important;
    }
}

/* SKILLS */
.skill-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: start;
    position: relative;
}

.skill-item {
    flex: 1 1 calc(33.33% - 1.5rem);
    min-width: 200px;
    display: flex;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
}

.skill-container::after {
    content: "";
    flex: 1 1 calc(33.33% - 1.5rem);
    min-width: 200px;
    height: 0;
    visibility: hidden;
}

.skill-icon {
    font-size: 2.6rem;
    color: var(--gris);
    transition: color 0.3s ease-in-out;
    flex-shrink: 0;
}

.skill-icon:hover {
    color: var(--azul);
}

/* Mobile (0px - 576px) */
@media (min-width: 0) and (max-width: 576px) {
    .skill-item {
        flex: 1 1 100%;
        /* Una columna */
    }

    .skill-container::after {
        flex: 1 1 100%;
        /* Ghost items del mismo tamaño */
    }
}

/* Tablet (577px - 992px) */
/*  and (max-width: 992px) */
@media (max-width: 577px) {
    .skill-item {
        flex: 1 1 calc(50% - 1.5rem);
        /* Dos columnas */
    }

    .skill-container::after {
        flex: 1 1 calc(50% - 1.5rem);
        /* Ghost items del mismo tamaño */
    }
}

/* Desktop (993px - 1200px) */
@media (min-width: 993px) and (max-width: 1200px) {}

/* XL (1201px en adelante) */
@media (min-width: 1201px) {}


/* CONTACTO */
#contacto h3 {
    color: var(--gris-oscuro);
    font-weight: bold;
    margin-bottom: 2rem;
}

/* Información de Contacto */
#contacto .fw-bold {
    color: var(--gris-oscuro);
}

#contacto a,
#contacto p {
    color: var(--gris);
}

#contacto a:hover {
    color: var(--azul);
}

/* Íconos de Redes Sociales */
.contact-icon {
    font-size: 2rem;
    color: var(--gris);
    transition: color 0.3s ease-in-out;
}

.contact-icon:hover {
    color: var(--azul);
}

/* Contact Links */
.contact-link {
    color: var(--gris);
    transition: color 0.3s ease-in-out;
}

.contact-link:hover {
    color: var(--azul);
}

/* Slider */
.carousel-item {
    transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    opacity: 1;
    visibility: visible;
}

.carousel-item-next:not(.carousel-item-start),
.carousel-item-prev:not(.carousel-item-end),
.carousel-item:not(.active) {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s ease-in-out;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%; /* Centrado vertical */
    transform: translateY(calc(-50%));
    background: none;
    border: none;
    z-index: 10;
    cursor: pointer;
}

.carousel-control-prev i,
.carousel-control-next i {
    font-size: 2rem;
    color: white;
    transition: transform 0.3s ease;
}

.carousel-control-prev:hover i,
.carousel-control-next:hover i {
    transform: scale(1.2);
}

.proyects-section img {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 400px;
    object-fit: cover;
    width: 100%;
    margin: 2rem 0 4rem 0 !important;
}

.proyects-section .col-11 {
    padding-left: 20px;
    padding-right: 20px;
}


/* Info */
.section-title{
    margin: 10rem auto 5rem auto;
}
.container {
    margin: 0 auto;
}

.content-list {
    list-style-type: disc;
    padding: 2rem 0;
}

.content-list li{
    padding: 1rem 0;
}

.content-block {
    margin: 4rem auto;
    padding: 4rem 0;
    border: none;
}

.left-aligned {
    text-align: left;
}

.right-aligned {
    text-align: right;
}

/* Mobile (0px - 576px) */
@media (min-width: 0) and (max-width: 576px) {
    .content-block {
        margin: 2rem auto;
        padding: 1.5rem;
    }

    .left-aligned,
    .right-aligned {
        float: none;
        width: 100%;
        text-align: left;
    }
}

/* Tablet (577px - 992px) */
@media (min-width: 577px) and (max-width: 992px) {
    .content-block {
        margin: 3rem auto;
        padding: 2rem;
    }

    .left-aligned {
        float: left;
        width: 100%;
        text-align: left;
    }

    .right-aligned {
        float: right;
        width: 100%;
        text-align: left;
    }
}

/* Desktop (993px - 1200px) */
@media (min-width: 993px) and (max-width: 1200px) {
    .left-aligned {
        float: left;
        width: 70%;
        margin-right: 2rem;
    }

    .right-aligned {
        float: right;
        width: 70%;
        margin-left: 2rem;
    }
}

/* XL (1201px en adelante) */
@media (min-width: 1201px) {
    .left-aligned {
        float: left;
        width: 60%;
        margin-right: 2rem;
    }

    .right-aligned {
        float: right;
        width: 60%;
        margin-left: 2rem;
    }
}
