@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Estilos para normalización */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    background-color: var(--blanco);
}

:root {
    --negro: #020202;
    --negro-dos: #2A2A2A;

    --gris: #808080;
    --gris-dos: #A9A9A9;
    --gris-tres: #D2D2D2;
    --gris-cuatro: #F2F2F2;

    --blanco: #FFFFFF;
    --blanco-op: #FFFFFFEE;

    --azul: #2272FF;

    --transition: ease-in-out 200ms;

    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos generales */

h1 {
    font-weight: 700;
    font-size: 3rem;
    color: var(--negro-dos);
}

h2 {
    font-weight: 700;
    font-size: 2.6rem;
    color: var(--azul);
}

h3 {
    font-weight: 700;
    font-size: 2.6rem;
    color: var(--negro-dos);
}

h4 {
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--negro-dos);
}

h5 {
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--negro-dos);
}

p {
    font-weight: 200;
    font-size: 1.6rem;
    color: var(--negro-dos);
}

button {
    padding: .4rem 3rem !important;
}

/* Estilos genéricos */
.shadow-p {
    box-shadow: var(--shadow);
}

/* Division de secciones */
.line-division {
    width: 70vw;
    height: .1rem;
    border-radius: 5rem;
    background-color: var(--gris-tres);
    margin: 7rem auto;
}

.line-division-intern {
    width: 750vw;
    height: .1rem;
    border-radius: 5rem;
    background-color: var(--gris-tres);
    margin: 3em auto;
}

/* Estilos personalizados */

/* HEADER */
.container-no-dynamic-text {
    min-width: 25rem;
}

.container-dynamic-text {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 45rem;
    position: relative;
}

.dynamic-text {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    min-height: 6rem;
    font-size: 2rem;
}

.dynamic-text::after {
    content: "|";
    margin-left: 0px;
    opacity: 1;
    font-weight: 400;
    animation: blink 1s step-start infinite;
}

.hide-cursor::after {
    opacity: 0;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* PARALLAX HORIZONTAL */
.parallax-section {
    padding: 5rem 0 !important;
    position: relative;
    overflow: hidden;
}

.parallax-container {
    position: relative;
    width: 120vw;
    left: -10vw;
    height: 400px;
    overflow: hidden;
    transform: rotate(5deg);
    transform-origin: center;
}

.parallax-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateX(0);
    transition: transform 0.1s linear;
}

.parallax-section-1 .parallax-image {
    left: -70%;
}

.parallax-section-2 {
    margin-top: 2rem;
}

.image-top {
    background-image: url('./src/banner-left.png');
}

.image-bottom {
    background-image: url('./src/banner-right.png');
}

/* FIGMA */
.figma-section {
    background-color: var(--blanco-op);
}

.figma-section h3,
.figma-section h4 {
    margin-top: 2rem;
}

.figma-section iframe {
    max-width: 100%;
    box-shadow: var(--shadow);
    margin: 1rem 2rem 2rem 2rem;
}

/* Skills - Contenedor */
.skill-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.skill-item {
    flex: 1 1 30%;
    min-width: 200px;
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.skill-icon {
    font-size: 2.6rem;
    color: var(--gris);
    transition: color 0.3s ease-in-out;
    flex-shrink: 0;
}

.skill-icon:hover {
    color: var(--azul);
}