*, *:before, *:after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* Menu */

.menu {
  z-index: 9999999999;
  position: fixed;
  margin: 0;
  padding: 0;
  outline: 0;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*
  background-color: #ffffff;
  box-shadow: 0 10px 10px 0 #00000020;
  */
}

.logo {
  color: #ffffff;
  font-size: 25px;
  padding: 0 40px;
  font-weight: 600;
  transition: all ease-in-out 300ms;
  /*
  color: #db6380;
  */
}

.logo:hover {
  transform: scale(1.03);
  color: #ed9dba;
  cursor: pointer;
}

.menu_items {
  display: flex;
  list-style: none;
  padding: 0 80px 0 0;
}

.menu_items li {
  padding: 0 5px;
}

.menu_items li a {
  padding: 20px 20px;
  text-decoration: none;
  font-size: 16px;
  display: block;
  text-transform: uppercase;
  color: #ffffff;
  transition: all ease-in-out 300ms;
  /*
  color: #000000;
  */
}

.menu_items li a:hover {
  color: #db6380;
  
}

.menu_items  li a.active {
  color: #db6380;
  transform: scale(1);
  font-weight: 600;
  border-radius: 5px;
  /*
  color: #ffffff;
  background-color: #db6380;
  */
}

.btn_menu {
  display: none;
}

.menu_center {
  text-align: center;
}

.menu_icons {
  font-size: 26px;
}

.menu_ultimo {
  border-radius: 0 0 5px 5px;
}

nav ul ul {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all ease-in-out 400ms;
}

nav ul li:hover > ul {
  visibility: visible;
  opacity: 1;
}

nav ul ul li {
  border-left: solid #ffffff 1px;
  position: relative;
  margin: 0;
  width: 200px;
  float: none;
  display: list-item;
}

nav ul ul ul li{
  position: relative; 
  top: -40px;
  left: 175px;
}

.fa-angle-right {
  padding-left: 20px;
  font-size: 15px;
  align-items: center;
}

ul.show {
  top: 60px;
}

/* Scroll -----------------------------------------------------------------------------------*/

header.abajo .menu {
  background-color: #ffffff;
  box-shadow: 0 10px 10px 0 #00000020;
  transition: all ease-in 600ms;
}

header.abajo .logo {
  color: #db6380;
  transition: all ease-in 400ms;
}

header.abajo .logo:hover {
  color: #ed9dba;
  transition: all ease-in 400ms;
}

header.abajo .menu_items li a {
  color: #000000;
  transition: all ease-in 400ms;
}

header.abajo .menu_items li a:hover {
  color: #db6380; 
  transition: all ease-in 400ms;
}

header.abajo .menu_items li a.active {
  color: #ffffff;
  font-weight: 300;
  background-color: #db6380;
  transition: all ease-in 400ms;
}

header.abajo .menu-linea {
  border-bottom: solid #ffffff 2px;
}

header.abajo .menu-linea:hover {
  border-bottom: solid #ed9dba 2px;
}

header.abajo nav ul li a {
  transition: all ease-in 400ms;
}

header.abajo .menu_items ul li a {
  background-color: #ffffff;

}

header.abajo nav ul ul li {
  border: none;
}

@media screen and (max-width: 952px) {

  .menu {
    height: 60px;
    align-items: center;
  }
  
  .menu_items {
    position: fixed;
    width: 100vw;
    margin: 0;
    height: calc(100vh - 60px);
    top: -100vh;
    background-color: #ed9dba;
    text-align: center;
    transition: all ease-in-out 400ms;
    flex-direction: column;
  }
  
  .menu_items li {
    color: #ffffff;
    margin: 0;
  }
  
  .menu_items li:hover {
    background: none;
    font-size: 16px;
  }
  
  .menu_items li a {
    font-weight: 400;
    color: #ffffff;
    background-color: #ed9dba;
    transition: all ease-in-out 400ms;
  }
  
  .menu_items li a:hover {
    transform: scale(1.04);
  }
  
  .menu_items li a.active {
    border-radius: 0;
    transform: scale(1);
  }
  
  .logo {
    font-size: 25px;
    padding-left: 35px;
  }
  
  .btn_menu {
    padding-right: 30px;
    font-size: 25px;
    cursor: pointer;
    display: inline-flex;
    color: #ffffff;
  }
  
  nav ul {
    display: none;
  }

  header.abajo .menu {
    background-color: #ed9dba;
    transition: all ease-in 600ms;
  }

  header.abajo .logo {
    color: #ffffff;
    transition: all ease-in 400ms;
  }

  header.abajo .logo:hover {
    color: #ffffff;
    transform: scale(1);
  }

  header.abajo .menu_items li a {
    color: #ffffff;
    transition: all ease-in 400ms;
  }
  
  header.abajo .menu_items li a:hover {
    color: #7d2c6f; 
    transition: all ease-in 400ms;
  }

  header.abajo .menu_items li a.active {
    color: #7d2c6f;
    font-weight: 600;
    background-color: #ed9dba;
    transition: all ease-in 400ms;
  }
  
}

@media screen and (max-width: 858px) and (orientation: landscape) {
  .menu_items li{
    margin: 5px 0 0 0;
  }

  .menu_items {
    overflow: scroll;
    height: calc(100% - 65px);
  }

}

/* Body */

body {
  width: 100%;
  background-color: #f2f2f230;
  font-family: 'Raleway', sans-serif;
  /* 
  font-family: "Montserrat", sans-serif;
  font-family: 'Tiro Tamil', serif;
  color: #dfc9e2
  color: #a99cc8
  color: #ed9dba
  color: #c35cad
  color: #7d2c6f
  color: #fdcdbd
  color: #db6380
  */
}

section {
  width: 100%;
  height: auto;
  padding: 120px 0 0 0;
}

/* Textos -------------------------------------------------------------------------------------- */

h1 {
  color: #ffffff;
  font-size: 60px;
  text-align: center;
  font-family: 'Tiro Tamil', serif;
}

h2 {
  font-size: 40px;
  font-weight: 600;
  margin: 0 5% 50px 5%;
  text-align: center;
  text-transform: uppercase;
  color: #c35cad;
  color: #000000;
  color: #7d2c6f;
}

h3 {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  color: #7d2c6f;
}

p {
  font-size: 15px;
}

/* Movil Textos */

@media screen and (max-width: 952px) {
  
  h1 {
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    font-family: 'Tiro Tamil', serif;
  }
  
  h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 0 5% 50px 5%;
    text-align: center;
    text-transform: uppercase;
    color: #7d2c6f;
  }
  
  h3 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    text-align: left;
    text-transform: uppercase;
    color: #7d2c6f;
  }
}

/* Botones ------------------------------------------------------------------------------- */

.btn-info-caja {
  width: auto;
  height: 40px;
  margin: 0 0 0 10px;
  padding: 0 10px;
  font-size: 14px;
  text-align: center;
  border-radius: 14px;
  border: none;
  text-decoration: none;
  color: #ffffff; 
  background-color: #ed9dba; 
  transition: all ease-in-out 400ms;
  cursor: pointer;
}

.btn-info-caja:hover {
  color: #db6380;
  background: none; 
  transform: scale(1.02); 
  border: solid #db6380 1px;
}

.btn-info-caja2 {
  width: 30px;
  height: 30px;
  margin: 5px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  
  border: none;
  color: #000000;
  background: none; 
  transition: all ease-in-out 400ms;
  cursor: pointer;
}

.btn-info-caja2:hover {
  color: #db6380;
  transform: scale(1.3); 
}

.btn-info-promo {
  width: auto;
  height: 40px;
  margin: 0 0 0 10px;
  padding: 0 10px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #7d2c6f;
  border: solid #7d2c6f 1px;
  border-radius: 14px;
  
  transition: all ease-in-out 400ms;
  cursor: pointer;
}


/* Inicia pag web XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* Slider --------------------------------------------------------------------------- */

.texto-cambia {
  color: #ed9dba;
  text-transform: uppercase;
}

.texto-mom {
  color: #ffffff;
  font-size: 80px;
}

.titulo {
  width: 80%;
  padding: 0 0 0 10%;
  color: #ffffff;
  position: absolute;
  top: 35vh;
}

.text-shadow {  
  text-shadow: 5px 5px 5px #00000040;
}

.section__slider {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 100vh;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: all ease-in-out 2s;
}

.slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.navigation-manual {
  position: absolute;
  width: 100%;
  margin-top: -80px;
  display: flex;
  justify-content: center;
}
 
.manual-btn {
  border: 2px solid #ffffff;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
} 

.manual-btn:hover {
  background: #ed9dba;
}

#radio1:checked ~ .first {
  margin-left: 0;
}  

#radio2:checked ~ .first {
  margin-left: -20%;
}  

#radio3:checked ~ .first {
  margin-left: -40%;
}  

#radio4:checked ~ .first {
  margin-left: -60%;
}  

.navigation-auto {
  position: absolute;
  width: 100%;
  margin-top: calc(100vh - 80px);
  display: flex;
  justify-content: center;
}

.navigation-auto div {
  border: 2px solid #ffffff;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #ed9dba;
  transition: all ease-in-out 800ms;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #ed9dba;
  transition: all ease-in-out 800ms;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #ed9dba;
  transition: all ease-in-out 800ms;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #ed9dba;
  transition: all ease-in-out 800ms;
}

/* Movil Slider */

@media screen and (max-width: 952px) {
    
  .texto-cambia {
      color: #ed9dba;
      text-transform: uppercase;
  }
  
  .texto-mom {
      color: #ffffff;
      font-size: 50px;
  }
  
  .titulo {
      width: 80%;
      padding: 0 0 0 10%;
      color: #ffffff;
      position: absolute;
      top: 35vh;
  }

  .manual-btn {
    border: 1.5px solid #ffffff;
    padding: 4px;
    border-radius: 3px;
    cursor: pointer;
    transition: all ease-in-out 200ms;
  }

  .navigation-auto div {
    border: 1.5px solid #ffffff;
    padding: 4px;
    border-radius: 3px;
    cursor: pointer;
  }
  
}


/* Cuadros ------------------------------------------------------------------------------------------ */

.cuadros {
  display: flex;
  width: 100%;
  padding: 0 10vw;
  align-items: center;
}

.cuadros-img-1 {
  width: 80%;
  margin: 0 10%;
  object-fit: cover;
}

.cuadros-img-2 {
  width: 90%;
  margin: 0 5%;
}

.cuadros-img-3 {
  width: 80%;
  margin: 0 10%;
}


/* Promociones ------------------------------------------------------------------------------------------ */

.cajas {
  display: flex;
  width: 100%;
  padding: 0 8%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.caja {
  width: auto;
  margin: 20px 0;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 15px 15px 15px 0#00000010;
}

.separacion-caja {
  padding: 5px 15px 10px 15px;
}

.info-promo {
  position: absolute;
  color: #ffffff;
  background-color: red;
  padding: 8px;
  margin: 10px;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 3px 3px 3px 0 #00000010;
}

.info-img {
  max-width: 300px;
  height: 200px;
  border-radius: 5px 5px 0 0;
  background-size: cover;
}

.info-img:hover {
  cursor: pointer;
}

.info-producto {
  margin: 10px 0 0 0;
}

.info-principal {
  max-width: 300px;
  max-height: 250px;
}

.info-precio {
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  color: #db6380;
  font-family: 'Tiro Tamil', serif;
  
}

.info-stock {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  text-align: left;
  color: #a99cc8;
  font-family: "Montserrat", sans-serif;
}

/* 
font-family: 'Raleway', sans-serif;
font-family: 'Tiro Tamil', serif;
font-family: "Montserrat", sans-serif;
color: #000000;
color: #dfc9e2;
color: #fdcdbd;
color: #ed9dba;
color: #db6380;
color: #c35cad;
color: #7d2c6f;
color: #a99cc8;
*/

.info-botones {
  width: 100%;
  margin: 0 0 10px 0;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.info-carrito {
  margin: 0 10px;
}

.img-1 {
  background-image: url(img/producto1_001.jpg);
}

.img-1:hover {
  background-image: url(img/producto1_002.jpg);
}

.img-2 {
  background-image: url(img/producto2_001.jpg);
}

.img-2:hover {
  background-image: url(img/producto2_002.jpg);
}

.img-3 {
  background-image: url(img/producto3_001.jpg);
}

.img-3:hover {
  background-image: url(img/producto3_002.jpg);
}

.img-4 {
  background-image: url(img/producto4_001.jpg);
}

.img-4:hover {
  background-image: url(img/producto4_002.jpg);
}


/* Nuevos articulos */
.img-5 {
  background-image: url(img/nuevo1_001.jpg);
}

.img-5:hover {
  background-image: url(img/nuevo1_002.jpg);
}

.img-6 {
  background-image: url(img/nuevo2_001.jpg);
}

.img-6:hover {
  background-image: url(img/nuevo2_002.jpg);
}

.img-7 {
  background-image: url(img/nuevo3_001.jpg);
}

.img-7:hover {
  background-image: url(img/nuevo3_002.jpg);
}

.img-8 {
  background-image: url(img/nuevo4_001.jpg);
}

.img-8:hover {
  background-image: url(img/nuevo4_002.jpg);
}





