@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;

}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    background-color: var(--gris);
}

/* ----------
Fonts
---------- */

h1{
    font-family: 'Playfair Display', serif;
}

h3{
    color: #162A62;
    font-size: 3rem;
}


/* ----------
Generales
---------- */

:root{
    --transition: ease-in-out all 300ms;
    --sombra: #00000070 0rem 0rem 1rem;
}

.linea{
    width: 70vw;
    border-bottom: solid #F28700 .2rem;
    margin: 0 auto;
}

section{
    width: 100%;
    height: auto;
    padding: 8rem 0;
}

/* ----------
Header
---------- */

.contenedor-header{
    width: 100%;
    height: 70vh;
    padding: 10rem 0;
    background-image: url(./img/ICONOINV.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contenedor-header .logo{
    width: 40rem;
    height: 10rem;
    background-image: url(./img/logoAC.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.contenedor-header .texto{
    text-align: center;
    color: #ffffff;
}

.contenedor-header .boton{
    padding: 1rem 3rem;
    overflow: visible;
}

.contenedor-header .boton .link-principal{
    overflow: visible;
    padding: 1rem 3rem;
    border-radius: .5rem;
    transition: var(--transition);
    color: #ffffff;
    background-color: #F28700;
    text-decoration: none;
    box-shadow: var(--sombra);
}

.contenedor-header .boton .link-principal:hover{
    padding: 1.2rem 3.2rem;
}

/* ----------
Contenedores
---------- */

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: visible;
}

.contenedor .boton{
    overflow: visible;
}

.contenedor .boton .imagen{
    width: 80rem;
    height: 17rem;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: visible;
    transition: var(--transition);
}

.contenedor a{
    color: #F28700;
    text-decoration: none;
    border-bottom: solid #F28700 .2rem;
    transition: var(--transition);
}

.contenedor a i{
    font-size: 1.4rem;
    color: #F28700;
    transition: var(--transition);
}

.contenedor .boton .imagen:hover{
    transform: scale(1.03);
}

.contenedor .texto{
    width: 80rem;
    text-align: center;
}

.contenedor .boton{
    padding: 1.2rem 3.2rem;
    overflow: visible;
}

.contenedor .boton .link-principal{
    overflow: visible;
    padding: 1rem 3rem;
    border-radius: .5rem;
    transition: var(--transition);
    color: #ffffff;
    background-color: #F28700;
    text-decoration: none;
    box-shadow: var(--sombra);
}

.contenedor .boton .link-principal:hover{
    padding: 1.2rem 3.2rem;
}

.contenedor .boton-conoce{
    margin-bottom: 2rem;
    border-bottom: none;
    transition: var(--transition);
}

.contenedor .segundo{
    margin-bottom: 0rem;
}

.contenedor .boton-conoce span{
    text-decoration: underline;
    transition: var(--transition);
}

.contenedor .boton-conoce:hover span{
    margin-right: 2rem;
}

.contenedor .boton-conoce:hover{
    transform: translateX(1rem);
}

/* ----------
Contenedor Uno
---------- */
.seccion-uno{
    padding-top: 4rem;
    margin-top: 0;
}

.cont-uno .boton .imagen{
    margin-bottom: 2rem;
    background-image: url(./img/datos.png);
}

/* ----------
Contenedor Dos
---------- */

.cont-dos .boton .imagen{
    margin-top: 2rem;
    background-image: url(./img/logos.png);
}

/* ----------
Contenedor Tres
---------- */

.contenedor .btn{
    text-align: center;
}

.contenedor .cajas{
    width: 90rem;
    display: flex;
    justify-content: space-evenly;
    margin: 5rem 0;
}

.contenedor .cajas .caja{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor .cajas .caja span{
    font-family: 'Playfair Display', serif;
    color: #F28700;
    font-size: 4rem;
    font-weight: 900;
}

.contenedor .cajas .caja .icono{
    width: 9rem;
    height: 9rem;
    margin-bottom: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.contenedor .cajas .caja .icon-01{
    background-image: url(./img/icono_rend_01.png);
}

.contenedor .cajas .caja .icon-02{
    background-image: url(./img/icono_rend_02.png);
}

/* ----------
Contenedor Cuatro
---------- */

.cont-cuatro .boton .imagen{
    margin-top: 2rem;
    background-image: url(./img/bancos.png);
}

/* ----------
Contenedor Cinco
---------- */

.cont-cinco .boton .imagen{
    margin-top: 2rem;
    background-image: url(./img/partners.png);
}

/* ----------
Contenedor Seis
---------- */

.cont-seis .texto p{
    margin-bottom: 4rem;
}

/* ----------
Footer
---------- */

footer{
    background-color: #162A62;
    width: 100%;
    padding: 6rem 2rem;
}

footer .caja ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .caja ul li{
    color: #ffffff;
    margin: 1rem 0;
    transition: var(--transition);
    text-align: center;
}

footer .caja ul li a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
}

footer .caja ul li:hover{
    transform: scale(1.03);
}

footer .caja ul .noScale:hover{
    transform: scale(1);
}

/* ----------
Info Final
---------- */

.infoFinal{
    width: 70rem;
    margin: 4rem auto;
}

.infoFinal p{
    font-size: 1.4rem;
}

@media only screen and (max-width: 799px) and (min-width: 600px) {
    
    .contenedor-header{
        height: 100vh;
    }
    
    .contenedor-header .logo{
        width: 70%;
    }
    
    .contenedor .boton{
        width: 100%;
    }

    .contenedor .boton .imagen{
        width: 100%;
        height: 15rem;
    }

    .contenedor .texto{
        width: 90%;
        text-align: center;
    }

    .infoFinal{
        width: 90%;
    }

}

@media only screen and (max-width: 599px) and (min-width: 1px) {

    .contenedor-header{
        height: 100vh;
    }

    .contenedor-header .logo{
        width: 70%;
    }

    .contenedor-header .texto{
        width: 90%;
    }
    
    .contenedor .boton{
        width: 100%;
    }

    .contenedor .boton .imagen{
        width: 100%;
        height: 10rem;
    }

    .contenedor .texto{
        width: 90%;
        text-align: center;
    }

    .contenedor .cajas{
        width: 60rem;
    }

    .infoFinal{
        width: 90%;
    }
}