/* ----------------------------------------
Comprar consultas
---------------------------------------- */

.compraConsul th{
    width: 33.3%;
    margin: auto;
}

.compraConsul .cantidad{
    width: auto;
    height: auto;
    padding: 0 .5rem;
}

.compraConsul .cantidad::after{
    content: "Consulta";
}

.compraConsul .cantidad span{
    padding: 0 1.2rem;
    border: solid var(--primero) .1rem;
    border-radius: .5rem;
}

.compraConsul .comprar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.compraConsul .comprar a{
    margin: 0 1rem;
    padding: .3rem 2rem;
    text-decoration: none;
    color: var(--blanco);
    background-color: var(--primero);
    border-radius: .5rem;
    transition: var(--transitions);
}

.compraConsul .comprar a:hover{
    transform: scale(1.03);
}
