/* ----------------------------------------
Checkbox first
---------------------------------------- */

.cont-label-first {
    display: flex;
    align-items: center;
    position: relative;
    height: 1.5rem;
    min-width: 1.5rem;
    padding: 0 .2rem;
    margin: .5rem 0 .1rem 0;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.cont-label-first input {
    display: none;
}

.cont-label-first .checkmark{
    position: absolute;
    top: .2rem;
    left: .3rem;
    height: 1.2rem;
    width: 1.2rem;
    background-color: var(--gris);
    border: solid var(--blanco) .1rem;
    border-radius: .3rem;
}

.cont-label-first:hover input ~ .checkmark {
    background-color: var(--quinto);
}
  
.cont-label-first input:checked ~ .checkmark {
    background-color: var(--blanco);
}
  
.cont-label-first .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.cont-label-first input:checked ~ .checkmark:after {
    display: block;
}
  
.cont-label-first .checkmark:after {
    left: .3rem;
    top: .1rem;
    width: .2rem;
    height: .5rem;
    border: solid var(--primero);
    border-width: 0 .2rem .2rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* ----------------------------------------
Checkbox
---------------------------------------- */
.cont-label {
    position: relative;
    height: 1.5rem;
    min-width: 1.5rem;
    padding: 0 .2rem;
    margin: .5rem 0 .1rem 0;
    cursor: pointer;
    font-size: 2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.cont-label input {
    display: none;
}
  
.checkmark{
    position: absolute;
    top: .7rem;
    left: .3rem;
    height: 1.2rem;
    width: 1.2rem;
    background-color: var(--gris);
    border: solid var(--primero) .1rem;
    border-radius: .3rem;
}
  
.cont-label:hover input ~ .checkmark {
    background-color: var(--quinto);
}
  
.cont-label input:checked ~ .checkmark {
    background-color: var(--primero);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.cont-label input:checked ~ .checkmark:after {
    display: block;
}
  
.cont-label .checkmark:after {
    left: .3rem;
    top: .1rem;
    width: .2rem;
    height: .5rem;
    border: solid white;
    border-width: 0 .2rem .2rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}