@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    font-family: 'Bitter', serif;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* --------------------
Variables 
-------------------- */

    $verde: #1E5F66;
    $verde-claro: #36997C;
    $verde-op: #1E5F6650;
    $azul: #95D4E1;
    $azul-op: #95D4E150;
    $amarillo: #FED72A;
    $blanco: #ffffff;
    $negro: #000000;
    $gris: #95D4E115;

    $negro-op: #00000020;

    $shadowText: #00000020 2px 2px 2px;
    $shadowBox: #00000019 10px 10px 15px;

    $radius: 2rem 0 2rem 0;
    $radiusDos: 1rem !important;

    $transitions: all ease-in-out 200ms;
    $transitionsLarge: all ease-in-out 400ms;
    $transitionsXLarge: all ease-in-out 800ms;

/* --------------------
BG
-------------------- */
.bg-primary{
    background-color: #000000 !important;
}

.bg-gris{
    background-color: $gris !important;
}

.bg-azul{
    background-color: $azul !important;
}

/* Títulos y textos ---------------------------------------------------------------------------------------------------*/

.carousel .carrusel {
    color: $blanco;
    text-transform: uppercase;
    border-radius: 1rem;
    font-size: 4rem;
    text-align: left;
    padding: 0 8rem;
    text-shadow: $shadowText;
}

body h1 {
    font-family: 'Bitter', serif;
    color: $verde-claro;
    font-size: 3.8rem;
    text-decoration: underline $amarillo .3rem;
    text-shadow: $shadowText;
    text-transform: uppercase;
}

body h2 {
    font-family: 'Bitter', serif;
    color: $azul;
    font-size: 3.6rem;
    text-decoration: underline $amarillo .3rem !important;
    text-shadow: $shadowText;
}

body h3 {
    color: $negro;
    font-size: 2.6rem;
    font-weight: 700;
}

body h4 {
    color: $verde;
    font-size: 2.2rem;
    font-weight: 400;
}

body h5 {
    font-family: 'Bitter', serif;
    color: $verde;
    font-size: 2.4rem;
    text-decoration: underline $amarillo .3rem !important;
    text-shadow: $shadowText;
    padding: 1rem 0;
}

body h6 {
    color: $blanco;
    text-transform: uppercase;
    border-radius: 1rem;
    font-size: 4rem;
    text-align: left;
    padding: 0 8rem;
    text-shadow: $shadowText;
}

p {
    color: $negro;
    font-size: 1.6rem;
    text-align: left;
}

a {
    text-decoration: none;
    color: $verde-claro;
    font-size: 2rem;
}

.carrusel-home span {
    color: $blanco;
    border-radius: 10px;
    font-size: 1.8rem;
    padding: 0 80px;
    text-shadow: $shadowText;
    text-align: left;
}

/* --------------------
Secciones
-------------------- */

.section-container{
    padding: 12rem 0;
}

/* --------------------
Navbar 
-------------------- */

.navbar {
    padding: .6rem 6rem !important;
}

.navbar img {
    width: 20rem;
    height: auto;
}

.navbar .active{
    border-bottom: $amarillo solid 1px;
    font-weight: 600;
}

.nav-item {
    font-size: 1.4rem;
    font-size: 1.4rem;
    font-weight: 300;
}

.nav-item ul{
    border-bottom: solid $amarillo .2rem !important;
}

.nav-item ul li a{
    font-size: 1.4rem;
    font-weight: 300;
}

/* Carrusel ---------------------------------------------------------------------------------------------------*/

.carousel button {
    opacity: 100%;
    width: 5%;
}

.carousel button:hover {
    opacity: 100%;
}

.carousel-item {
    height: 80vh;
}

.carousel-item img {
    height: 100%;
}

.img-one,
.img-two,
.img-three {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-one {
    background-image: url(./img/header-1.jpg);
}

.img-two {
    background-image: url(./img/header-2.jpg);
}

.img-three {
    background-image: url(./img/header-3.jpg);
}

.carousel-indicators {
    transform: translateY(-5rem);
}

.carousel-caption {
    background-color: $azul;
    border-radius: $radius;
    transform: translateY(-5rem);
}

.carrusel-home span {
    color: $blanco;
    font-size: 1.8rem;
    padding: 1rem 8rem;
    text-shadow: $shadowText;
    text-align: left;
}

/* Pleca amarilla ---------------------------------------------------------------------------------------------------*/

.pleca {
    background-color: $amarillo;
    padding: 10px 0;
    height: auto;
    border-radius: 0 100px 100px 0;
    transform: translateY(-5rem);
}

.pleca p {
    color: $verde;
    margin: 20px 10% 20px 10%;
}

.pleca a {
    text-decoration: none;
    color: $verde-claro;
}

.pleca a:hover {
    color: $verde-claro;
    font-weight: 500;
}

.wa-icon {
    margin: 0 0 0 20px;
    font-size: 2rem;
}

/* --------------------
Normalización secciones
-------------------- */

.tarjetas {
    justify-content: center;
}

.boton{
    width: auto;
    margin: 2rem auto 0 auto;
    padding: .5rem 2rem;
    font-size: 1.6rem;
    color: $blanco;
    background-color: $verde-claro;
    text-decoration: none;
    text-align: center;
    border-radius: 3rem;
    transition: $transitions;
    border: solid $verde-claro .2rem;
    box-shadow: $shadowBox;
}

.boton:hover{
    background-color: $verde;
    border: solid $amarillo .2rem;
}

/* --------------------
Actividades del mes 
-------------------- */

.card-body h3,
.card-body h4,
.card-body p{
    padding: .8rem .5rem;
}

.card-actividades{
    box-shadow: $shadowBox;
    padding: 1rem 0 3rem 0;
    border: solid $verde-claro 1px !important;
    border-radius: $radiusDos;
}

/* --------------------
Programas
-------------------- */

.card-programas{
    border-radius: $radiusDos;
    box-shadow: $shadowBox;
    padding: 0 0 3rem 0;
    border: solid $verde 1px !important;
}

.card-programas img{
    border-radius: 1rem 1rem 0 0;
}

/* --------------------
Logros
-------------------- */

.card-logros{
    border-radius: 10px !important;
    padding: 0 0 3rem 0;
    box-shadow: $shadowBox;
    border: solid $verde-claro 1px !important;
}

.card-logros .in-img{
    width: 200px;
    height: 200px;
    margin:  2rem auto 0 auto;
    box-shadow: $shadowBox;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-logros .img-1{
    background-image: url(./img/imgCuadrada1.png) !important;
}

.card-logros .img-2{
    background-image: url(./img/imgCuadrada2.png) !important;
}

.card-logros .img-3{
    background-image: url(./img/imgCuadrada3.png) !important;
}

/* --------------------
Colabora con nosotros
-------------------- */

.card-colabora{
    border-radius: 10px !important;
    box-shadow: $shadowBox;
    padding: 0 0 40px 0;
    border: solid $verde 1px !important;
}

.card-colabora img{
    border-radius: 1rem 1rem 0 0;
}

/* --------------------
Eventos
-------------------- */

.carousel-item {
    transition: $transitionsLarge !important;
    height: auto;
}

.carousel-item .imagen-slide{
    border-radius: 1rem 1rem 0 0 !important;
}

.carousel button {
    opacity: 1;
    width: 5%;
}


/* --------------------
Quién es Hannah Arendt
-------------------- */

.hannah .imagen{
    width: auto;
}

.hannah img{
    width: 100%;
    box-shadow: $shadowBox;
    border-radius: $radius;
}

.hannah .texto{
    max-width: 70rem;
}

/* ------------------------------ 
Título Actividades
------------------------------ */
@media only screen and (max-width: 1200px) and (min-width: 992px){
    .actividades h2{
        transform: translateY(-5rem);
    }
}

/* --------------------
Tablet
-------------------- */

@media only screen and (max-width: 992px) and (min-width: 576px) {

    /* --------------------
    Textos
    -------------------- */
    
    .carousel .carrusel {
        font-size: 3.6rem;
    }

    body h1 {
        font-size: 3.2rem;
    }

    body h2 {
        font-size: 3rem;
    }

    body h3 {
        font-size: 2.6rem;
    }

    body h4 {
        font-size: 2.2rem;
    }

    body h5 {
        font-size: 2.4rem;
    }

    body h6 {
        font-size: 4rem;
    }

    p {
        font-size: 1.6rem;
    }

    a {
        font-size: 1.8rem;
    }

    .carrusel-home span {
        font-size: 2rem;
    }
    
    .titulo {
        margin: 1rem 0 3rem 0;
    }

    
    /* --------------------
    Secciones
    -------------------- */
    
    .section-container{
        padding: 5rem 0;
    }

    /* ------------------------------ 
    Navbar
    ------------------------------ */
    
    .navbar .collapse{
        justify-content: center;
    }

    /* ------------------------------ 
    Quién es Hannah Arendt
    ------------------------------ */

    .actividades h2{
        transform: translateY(0);
    }
    
    /* ------------------------------ 
    Quién es Hannah Arendt
    ------------------------------ */

    .hannah .imagen{
        width: auto;
    }
    
    .hannah .imagen img{
        width: 100%;
    }
    
}

/* ------------------------------ 
Mobile
------------------------------ */
@media only screen and (max-width: 576px){

    .carousel .carrusel {
        font-size: 2.4rem;
        padding: 0 .5rem;
        text-align: center;
    }

    body h1 {
        font-size: 2.6rem;
    }
    
    body h2 {
        font-size: 2.4rem;
    }

    body h3 {
        font-size: 2rem;
    }

    body h4 {
        font-size: 1.8rem;
    }

    body h5 {
        font-size: 1.8rem;
    }

    body h6 {
        font-size: 2.2rem;
        padding: 0 .5rem;
        text-align: center;
    }

    p {
        font-size: 1.4rem;
    }

    a {
        font-size: 1.4rem;
    }

    .carrusel-home span {
        font-size: 1.4rem;
        padding: 2rem .5rem;
        text-align: center;
    }
    
    .titulo {
        margin: 1rem 0 3rem 0;
    }

    
    /* --------------------
    Secciones
    -------------------- */
    
    .section-container{
        padding: 5rem 0;
    }

    /* ------------------------------ 
    Navbar
    ------------------------------ */
    
    .navbar .collapse{
        justify-content: center;
    }

    /* ------------------------------ 
    Carousel
    ------------------------------ */

    .carousel-indicators {
        transform: translateY(-1rem);
    }

    .carousel-caption {
        transform: translateY(-1rem);
    }
    
    /* ------------------------------ 
    Pleca
    ------------------------------ */
    
    .pleca {
        padding: 10px 0;
        border-radius: .5rem;
        transform: translateY(-1rem);
    }

    /* ------------------------------ 
    Quién es Hannah Arendt
    ------------------------------ */

    body h2{
        text-decoration: underline $amarillo .3rem !important;
    }

    .actividades h2{
        transform: translateY(0);
    }
    
    /* ------------------------------ 
    Quién es Hannah Arendt
    ------------------------------ */

    .hannah .imagen{
        width: auto;
    }
    
    .hannah .imagen img{
        width: 100%;
    }
    
}