@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  font-family: "Bitter", serif;
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* --------------------
Variables 
-------------------- */
/* --------------------
BG
-------------------- */
.bg-primary {
  background-color: #000000 !important;
}

.bg-gris {
  background-color: rgba(149, 212, 225, 0.0823529412) !important;
}

.bg-azul {
  background-color: #95D4E1 !important;
}

/* Títulos y textos ---------------------------------------------------------------------------------------------------*/
.carousel .carrusel {
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 1rem;
  font-size: 4rem;
  text-align: left;
  padding: 0 8rem;
  text-shadow: rgba(0, 0, 0, 0.1254901961) 2px 2px 2px;
}

body h1 {
  font-family: "Bitter", serif;
  color: #36997C;
  font-size: 3.8rem;
  -webkit-text-decoration: underline #FED72A 0.3rem;
          text-decoration: underline #FED72A 0.3rem;
  text-shadow: rgba(0, 0, 0, 0.1254901961) 2px 2px 2px;
  text-transform: uppercase;
}

body h2 {
  font-family: "Bitter", serif;
  color: #95D4E1;
  font-size: 3.6rem;
  -webkit-text-decoration: underline #FED72A 0.3rem !important;
          text-decoration: underline #FED72A 0.3rem !important;
  text-shadow: rgba(0, 0, 0, 0.1254901961) 2px 2px 2px;
}

body h3 {
  color: #000000;
  font-size: 2.6rem;
  font-weight: 700;
}

body h4 {
  color: #1E5F66;
  font-size: 2.2rem;
  font-weight: 400;
}

body h5 {
  font-family: "Bitter", serif;
  color: #1E5F66;
  font-size: 2.4rem;
  -webkit-text-decoration: underline #FED72A 0.3rem !important;
          text-decoration: underline #FED72A 0.3rem !important;
  text-shadow: rgba(0, 0, 0, 0.1254901961) 2px 2px 2px;
  padding: 1rem 0;
}

body h6 {
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 1rem;
  font-size: 4rem;
  text-align: left;
  padding: 0 8rem;
  text-shadow: rgba(0, 0, 0, 0.1254901961) 2px 2px 2px;
}

p {
  color: #000000;
  font-size: 1.6rem;
  text-align: left;
}

a {
  text-decoration: none;
  color: #36997C;
  font-size: 2rem;
}

.carrusel-home span {
  color: #ffffff;
  border-radius: 10px;
  font-size: 1.8rem;
  padding: 0 80px;
  text-shadow: rgba(0, 0, 0, 0.1254901961) 2px 2px 2px;
  text-align: left;
}

/* --------------------
Secciones
-------------------- */
.section-container {
  padding: 12rem 0;
}

/* --------------------
Navbar 
-------------------- */
.navbar {
  padding: 0.6rem 6rem !important;
}

.navbar img {
  width: 20rem;
  height: auto;
}

.navbar .active {
  border-bottom: #FED72A solid 1px;
  font-weight: 600;
}

.nav-item {
  font-size: 1.4rem;
  font-size: 1.4rem;
  font-weight: 300;
}

.nav-item ul {
  border-bottom: solid #FED72A 0.2rem !important;
}

.nav-item ul li a {
  font-size: 1.4rem;
  font-weight: 300;
}

/* Carrusel ---------------------------------------------------------------------------------------------------*/
.carousel button {
  opacity: 100%;
  width: 5%;
}

.carousel button:hover {
  opacity: 100%;
}

.carousel-item {
  height: 80vh;
}

.carousel-item img {
  height: 100%;
}

.img-one,
.img-two,
.img-three {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-one {
  background-image: url(./img/header-1.jpg);
}

.img-two {
  background-image: url(./img/header-2.jpg);
}

.img-three {
  background-image: url(./img/header-3.jpg);
}

.carousel-indicators {
  transform: translateY(-5rem);
}

.carousel-caption {
  background-color: #95D4E1;
  border-radius: 2rem 0 2rem 0;
  transform: translateY(-5rem);
}

.carrusel-home span {
  color: #ffffff;
  font-size: 1.8rem;
  padding: 1rem 8rem;
  text-shadow: rgba(0, 0, 0, 0.1254901961) 2px 2px 2px;
  text-align: left;
}

/* Pleca amarilla ---------------------------------------------------------------------------------------------------*/
.pleca {
  background-color: #FED72A;
  padding: 10px 0;
  height: auto;
  border-radius: 0 100px 100px 0;
  transform: translateY(-5rem);
}

.pleca p {
  color: #1E5F66;
  margin: 20px 10% 20px 10%;
}

.pleca a {
  text-decoration: none;
  color: #36997C;
}

.pleca a:hover {
  color: #36997C;
  font-weight: 500;
}

.wa-icon {
  margin: 0 0 0 20px;
  font-size: 2rem;
}

/* --------------------
Actividades
-------------------- */
.actividades h2 {
  transform: translateY(-6rem);
}

/* --------------------
Normalización secciones
-------------------- */
.tarjetas {
  justify-content: center;
}

.boton {
  width: auto;
  margin: 2rem auto 0 auto;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  color: #ffffff;
  background-color: #36997C;
  text-decoration: none;
  text-align: center;
  border-radius: 3rem;
  transition: all ease-in-out 200ms;
  border: solid #36997C 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.0980392157) 10px 10px 15px;
}

.boton:hover {
  background-color: #1E5F66;
  border: solid #FED72A 0.2rem;
}

/* --------------------
Actividades del mes 
-------------------- */
.card-body h3,
.card-body h4,
.card-body p {
  padding: 0.8rem 0.5rem;
}

.card-actividades {
  box-shadow: rgba(0, 0, 0, 0.0980392157) 10px 10px 15px;
  padding: 1rem 0 3rem 0;
  border: solid #36997C 1px !important;
  border-radius: 1rem !important;
}

/* --------------------
Programas
-------------------- */
.card-programas {
  border-radius: 1rem !important;
  box-shadow: rgba(0, 0, 0, 0.0980392157) 10px 10px 15px;
  padding: 0 0 3rem 0;
  border: solid #1E5F66 1px !important;
}

.card-programas img {
  border-radius: 1rem 1rem 0 0;
}

/* --------------------
Logros
-------------------- */
.card-logros {
  border-radius: 10px !important;
  padding: 0 0 3rem 0;
  box-shadow: rgba(0, 0, 0, 0.0980392157) 10px 10px 15px;
  border: solid #36997C 1px !important;
}

.card-logros .in-img {
  width: 200px;
  height: 200px;
  margin: 2rem auto 0 auto;
  box-shadow: rgba(0, 0, 0, 0.0980392157) 10px 10px 15px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-logros .img-1 {
  background-image: url(./img/imgCuadrada1.png) !important;
}

.card-logros .img-2 {
  background-image: url(./img/imgCuadrada2.png) !important;
}

.card-logros .img-3 {
  background-image: url(./img/imgCuadrada3.png) !important;
}

/* --------------------
Colabora con nosotros
-------------------- */
.card-colabora {
  border-radius: 10px !important;
  box-shadow: rgba(0, 0, 0, 0.0980392157) 10px 10px 15px;
  padding: 0 0 40px 0;
  border: solid #1E5F66 1px !important;
}

.card-colabora img {
  border-radius: 1rem 1rem 0 0;
}

/* --------------------
Eventos
-------------------- */
.carousel-item {
  transition: all ease-in-out 400ms !important;
  height: auto;
}

.carousel-item .imagen-slide {
  border-radius: 1rem 1rem 0 0 !important;
}

.carousel button {
  opacity: 1;
  width: 5%;
}

/* --------------------
Quién es Hannah Arendt
-------------------- */
.hannah .imagen {
  width: auto;
}

.hannah img {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.0980392157) 10px 10px 15px;
  border-radius: 2rem 0 2rem 0;
}

.hannah .texto {
  max-width: 70rem;
}

/* ------------------------------ 
Título Actividades
------------------------------ */
@media only screen and (max-width: 1200px) and (min-width: 992px) {
  .actividades h2 {
    transform: translateY(-5rem);
  }
}
/* --------------------
Tablet
-------------------- */
@media only screen and (max-width: 992px) and (min-width: 576px) {
  /* --------------------
  Textos
  -------------------- */
  .carousel .carrusel {
    font-size: 3.6rem;
  }
  body h1 {
    font-size: 3.2rem;
  }
  body h2 {
    font-size: 3rem;
  }
  body h3 {
    font-size: 2.6rem;
  }
  body h4 {
    font-size: 2.2rem;
  }
  body h5 {
    font-size: 2.4rem;
  }
  body h6 {
    font-size: 4rem;
  }
  p {
    font-size: 1.6rem;
  }
  a {
    font-size: 1.8rem;
  }
  .carrusel-home span {
    font-size: 2rem;
  }
  .titulo {
    margin: 1rem 0 3rem 0;
  }
  /* --------------------
  Secciones
  -------------------- */
  .section-container {
    padding: 5rem 0;
  }
  /* ------------------------------ 
  Navbar
  ------------------------------ */
  .navbar .collapse {
    justify-content: center;
  }
  /* ------------------------------ 
  Quién es Hannah Arendt
  ------------------------------ */
  .actividades h2 {
    transform: translateY(0);
  }
  /* ------------------------------ 
  Quién es Hannah Arendt
  ------------------------------ */
  .hannah .imagen {
    width: auto;
  }
  .hannah .imagen img {
    width: 100%;
  }
}
/* ------------------------------ 
Mobile
------------------------------ */
@media only screen and (max-width: 576px) {
  .carousel .carrusel {
    font-size: 2.4rem;
    padding: 0 0.5rem;
    text-align: center;
  }
  body h1 {
    font-size: 2.6rem;
  }
  body h2 {
    font-size: 2.4rem;
  }
  body h3 {
    font-size: 2rem;
  }
  body h4 {
    font-size: 1.8rem;
  }
  body h5 {
    font-size: 1.8rem;
  }
  body h6 {
    font-size: 2.2rem;
    padding: 0 0.5rem;
    text-align: center;
  }
  p {
    font-size: 1.4rem;
  }
  a {
    font-size: 1.4rem;
  }
  .carrusel-home span {
    font-size: 1.4rem;
    padding: 2rem 0.5rem;
    text-align: center;
  }
  .titulo {
    margin: 1rem 0 3rem 0;
  }
  /* --------------------
  Secciones
  -------------------- */
  .section-container {
    padding: 5rem 0;
  }
  /* ------------------------------ 
  Navbar
  ------------------------------ */
  .navbar .collapse {
    justify-content: center;
  }
  /* ------------------------------ 
  Carousel
  ------------------------------ */
  .carousel-indicators {
    transform: translateY(-1rem);
  }
  .carousel-caption {
    transform: translateY(-1rem);
  }
  /* ------------------------------ 
  Pleca
  ------------------------------ */
  .pleca {
    padding: 10px 0;
    border-radius: 0.5rem;
    transform: translateY(-1rem);
  }
  /* ------------------------------ 
  Quién es Hannah Arendt
  ------------------------------ */
  body h2 {
    -webkit-text-decoration: underline #FED72A 0.3rem !important;
            text-decoration: underline #FED72A 0.3rem !important;
  }
  .actividades h2 {
    transform: translateY(0);
  }
  /* ------------------------------ 
  Quién es Hannah Arendt
  ------------------------------ */
  .hannah .imagen {
    width: auto;
  }
  .hannah .imagen img {
    width: 100%;
  }
}/*# sourceMappingURL=estilos.css.map */