/* ---------------
Soluciones
--------------- */

.sectionCartelera {
    background-color: var(--morado-claro-op);
    margin-top: 8rem;
    padding: var(--spaceSection);
}

.sectionCartelera .cartelera{
    width: 100%;
    margin: auto;
}

.sectionCartelera .cartelera h2{
    text-align: center;
    margin-bottom: 4rem;
}

.sectionCartelera .cartelera h3{
    text-align: center;
}

.sectionCartelera .cartelera .caja_tarjetas{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5rem;
    overflow: visible;
}

.sectionCartelera .cartelera .caja_tarjetas .tarjeta{
    width: 30%;
    padding: 1rem 0 5rem 0;
}

.sectionCartelera .cartelera .caja_tarjetas .tarjeta .tarjeta_in{
    padding: 0;
    margin-bottom: 0;

    overflow: visible;
}

.sectionCartelera .cartelera .caja_tarjetas .tarjeta .tarjeta_in .contenedorTarjeta {
    width: 100%;
    height: 58rem;
}

.sectionCartelera .cartelera .caja_tarjetas .tarjeta .tarjeta_in .contenedorTarjeta .tarjeta{
    width: auto;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.sectionCartelera .cartelera .caja_tarjetas .tarjeta .tarjeta_in .boton_func{
    position: absolute;
    border: solid var(--blanco) .2rem;
    transform: translate(5rem, -8rem);
  }

.sectionCartelera .cartelera .caja_tarjetas .tarjeta .tarjeta_nota{
    font-size: 1.2rem;
    margin-top: 1rem;
    text-align: center;
    font-style: italic;
}

.sectionCartelera .cartelera .caja_tarjetas .tarjeta .tarjeta_in .contenedorTarjeta .tj_01{
    background-image: url(../img/Anecdotas-Villa.jpg);
}
  
.sectionCartelera .cartelera .caja_tarjetas .tarjeta .tarjeta_in .contenedorTarjeta .tj_02{
    background-image: url(../img/Cartel-MoiraFINAL.jpg);
}
  
.sectionCartelera .cartelera .caja_tarjetas .tarjeta .tarjeta_in .contenedorTarjeta .tj_03{
    background-image: url(../img/Cartel_Expo_Méxicoantiguo.jpg);
}
  
.sectionCartelera .cartelera .caja_tarjetas .tarjeta .tarjeta_in .contenedorTarjeta .tj_04{
    background-image: url(../img/Cineclub.jpg);
}

/* ---------------
Tablet
--------------- */
  
@media only screen and (max-width: 1099px) and (min-width: 640px) {
  
    /* ---------------
    Seccion
    --------------- */
    
    
}

/* ---------------
Mobile
--------------- */

@media only screen and (max-width: 639px) and (min-width: 1px) {
    
    /* ---------------
    Seccion
    --------------- */
  
  }