/* ---------------
BG 2
--------------- */

.background{
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: center;
  overflow: visible;
}

.bg{
  width: 100%;
  max-width: 172.5rem;
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: visible;
  z-index: -1000;
}

.bg_02{
  height: 50rem;
  transform: translateY(-50rem);
  
  background-image: url(../img/inicio_fondo_02.png);
}

.bg_03{
  height: 70rem;
  transform: translateY(-38rem);
  
  background-image: url(../img/inicio_fondo_03.png);
}

/* ---------------
Header abajo
--------------- */

.headerInicio.abajo {
  background-color: var(--negro);
  box-shadow: var(--boxShadow);
}

.headerInicio.abajo ul li a {
  color: var(--blanco);
}

.headerInicio.abajo ul li a:hover {
  color: var(--secundario);
  cursor: pointer;
}

.headerInicio.abajo #selected {
  color: var(--secundario);
}

.headerInicio.abajo #selected:hover {
  cursor: default;
}

.headerInicio.abajo .containerMenu .logo{
  background-image: url(../img/logo_SJC_blanco.png);
}

/* ---------------
Header Inicio
--------------- */

.headerInicio {
  position: fixed;
  z-index: 9999;
  transition: var(--transitionsLarge);
}

.headerInicio #selected {
  text-decoration: underline;
  font-weight: 700;
  color: var(--secundario);
}

.headerInicio #selected:hover {
  cursor: default;
}

.headerInicio .containerMenu {
  width: auto;
  max-width: 150rem;
  margin: auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: uppercase;
}

.headerInicio .containerMenu .logo{
  width: 18rem;
  height: 6rem;
  margin: 0 .5rem;
  background-image: url(../img/logo_SJC_blanco.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: var(--transitions);
}

.headerInicio .containerMenu .logo:hover{
  transform: scale(1.02);
  cursor: pointer;
}

.headerInicio .containerMenu ul {
  display: flex;
  justify-content: space-around;
}

.headerInicio .containerMenu ul li {
  margin: 0 1rem;
  padding: 1rem;
  font-size: 1.4rem;
  list-style: none;
}

.headerInicio .containerMenu a {
  color: var(--blanco);
  text-decoration: none;
  font-weight: 500;
  transition: var(--transitions);
}

.headerInicio .containerMenu a:hover {
  color: var(--secundario);
  cursor: pointer;
}

.headerInicio .menuIcon {
  font-size: 2.8rem;
  color: var(--blanco);
}

/* ---------------
Banner
--------------- */

.seccionBanner {
  width: 100vw;
  height: 90vh;
  max-height: 90rem;
  min-height: 700px;
  background: url(../img/inicio_fondo_header.png);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;

  transition: var(--transitionsXLarge);
}

.seccionBanner .contenedorBanner{
  width: 100%;
}

.seccionBanner .contenedorBanner .texto {
  width: 60vw;
  min-width: 450px;
  margin: 25rem 5vw 0 10vw;
  padding: 0 0 0 0;
  overflow: visible;
  transition: var(--transitionsLarge);
}

.seccionBanner .contenedorBanner .texto  h1 {
  color: var(--blanco);
}

.seccionBanner .contenedorBanner .texto p {
  color: var(--blanco);
  font-size: 2rem;
  margin: 50px 0;
}

.seccionBanner .contenedorBanner .texto span {
  color: var(--secundario);
  font-size: 2.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.seccionBanner .contenedorBanner .texto .btnanim {
  animation: move-vector 3s linear infinite;
  margin-left: 0;
}

.seccionBanner .contenedorBanner .texto.abajo{
  opacity: 0;
  transform: translateX(-200px);
}

.seccionBanner .contenedorBanner .vid.abajo{
  opacity: 0;
  transform: translateX(200px);
}

.seccionBanner .contenedorBanner .carrusel_img.abajo{
  opacity: 0;
  transform: translateX(200px);
}

.seccionBanner.abajo{
  opacity: 0;
  transform: translateY(-150px);
}

/* ---------------
Cartelera
--------------- */

.seccionCartelera {
  background-color: var(--morado-claro-op);
  padding: var(--spaceSection);
}

.seccionCartelera .contenedorFunciones {
  width: 100%;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: hidden;
}

.seccionCartelera .contenedorCartelera .carteleraTitle{
  text-align: center;
}

.seccionCartelera .contenedorCartelera .carteleraTitle p{
  margin: 1rem auto 0 auto;
  text-align: center;
}


/* ---------------
Lightbox
--------------- */

.lightbox{
  position: fixed;
  min-width: 70rem;
  z-index: 9999999999999999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.lightbox.active{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gris-op);
}

.lightbox.active img{
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox__close{
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 50%;
  color: var(--blanco);
  background-color: var(--negro);
  border: solid var(--blanco) .1rem;
}

.seccionCartelera .contenedorFunciones .contenedor_lightbox {
  width: 30%;
  min-width: 28rem;
  max-width: 50rem;
  margin: 3rem auto 0 auto;
  padding: 1rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  transition: var(--transitions);
  filter: grayscale(40%);
  overflow: visible;
}

.seccionCartelera .contenedorFunciones .contenedor_lightbox:hover{
  transform: scale(1.03);
  filter: grayscale(0%);
}

.seccionCartelera .contenedorFunciones .contenedor_lightbox img{
  width: 100%;
  box-shadow: var(--boxShadow);
}



/* ---------------
Consulta
--------------- */

.seccionContacto {
  width: 100vw;
  margin: 4rem auto 5rem auto;
  padding: var(--spaceSection);
}

.seccionContacto .contenedorContacto h2,
.seccionContacto .contenedorContacto h3 {
  text-align: center;
  margin-bottom: 2rem;
}

.seccionContacto .contenedorContacto .contenedorForm {
  width: 100%;
  margin: 5rem auto 0 auto;
  padding: 0;
}

.seccionContacto .contenedorContacto .contenedorForm form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 1rem;
  padding: 2rem 0;
  background-color: var(--blanco);
}

.seccionContacto .contenedorContacto .contenedorForm label {
  width: 23%;
  margin: .5rem 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.seccionContacto .contenedorContacto .contenedorForm span {
  width: fit-content;
  font-size: 1.3rem;
  color: var(--azul);
  margin-left: 1rem;
  padding: 0 .5rem;
  background-color: var(--blanco);

  transform: translateY(.5rem);
  z-index: 99;
}

.seccionContacto .contenedorContacto .contenedorForm input {
  width: 100%;
  height: 4rem;
  border-radius: 3px;
  padding: 0 1.5rem;
  color: var(--negro);
  border: solid var(--negro) .15rem;
  
  transform: translateY(-.5rem);
  z-index: 9;
}

.seccionContacto .contenedorContacto .contenedorForm .contenedor-boton {
  width: auto;
  overflow: visible;
}

/* ---------------
Mapa
--------------- */

.seccionMapa {
  width: 100vw;
  margin: 4rem auto 5rem auto;
  padding: var(--spaceSection);
}

.seccionMapa .contenedorMapa{
  display: flex;
  justify-content: center;
  height: 35rem;
  overflow: hidden;
}

.seccionMapa .contenedorMapa .mapa{
  overflow: hidden;
  width: 60%;
}

.seccionMapa .contenedorMapa .texto{
  width: 30%;
  padding-left: 2rem;
}

.seccionMapa .contenedorMapa .mapa iframe{
  width: 100%;
  height: 100%;
  border-radius: 1rem 0 0 1rem;
}

.seccionMapa .contenedorMapa .texto p{
  margin-top: 2rem;
}

.seccionMapa .contenedorMapa .texto a{
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--negro);
  transition: var(--transitions);
}

.seccionMapa .contenedorMapa .texto a:hover{
  color: var(--secundario);
}


/* Mobile, Tablet (Vertical) y Tablet (Horizontal) */
@media only screen and (min-width: 1px) and (max-width: 1024px) {

}

/* --------------------
Mobile y Tablet (Vertical)
-------------------- */
@media only screen and (min-width: 1px) and (max-width: 728px){

  /* ---------------
  BG 2
  --------------- */

  .bg_02{
    height: 65rem;
    transform: translateY(-60rem);
    
    background-image: url(../img/inicio_fondo_02.png);
  }

  .bg_03{
    height: 70rem;
    transform: translateY(-38rem);
    
    background-image: url(../img/inicio_fondo_03.png);
  }

  /* ---------------
  Banner
  --------------- */

  .seccionBanner {
    height: 100vh;
    height: 100%;
    min-height: 1px;
  }

  .seccionBanner .contenedorBanner {
    width: 100%;
    height: 100vh;
    max-width: none;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .seccionBanner .contenedorBanner .texto {
    width: 90%;
    height: 70vh;
    min-width: 45px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .seccionBanner .contenedorBanner .texto h1{
    margin: 0 0 2rem 0;

  }
  .seccionBanner .contenedorBanner .texto p {
    margin: 2rem;
  }

  .seccionBanner .contenedorBanner .texto span {
    font-size: 2.4rem;
    margin: 0;
  }

  .seccionBanner .contenedorBanner .texto .btnanim {
    margin: 1rem auto 0 auto;
  }

  /* ---------------
  Lightbox
  --------------- */

  .lightbox{
    min-width: 10rem;
  }

  .lightbox.active img{
    width: 90%;
    height: auto;
  }

  /* ---------------
  Consulta
  --------------- */

  .seccionContacto {
    width: 100vw;
    margin: 5rem auto;
    padding: 0;
  }

  .seccionContacto .contenedorContacto .contenedorForm form {
    display: flex;
    flex-direction: column;
  }

  .seccionContacto .contenedorContacto .contenedorForm label {
    width: 90%;
  }

  .seccionContacto .contenedorContacto .contenedorForm .contenedor-boton {
    width: auto;
    margin: 2rem 0 1rem 0;
    overflow: visible;
  }

  /* ---------------
  Mapa
  --------------- */

  .seccionMapa {
    width: 100vw;
    margin: 0 auto;
  }
  
  .seccionMapa .contenedorMapa{
    height: fit-content;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  
  .seccionMapa .contenedorMapa .mapa{
    height: 30rem;
    width: 100%;
    overflow: hidden;
    margin-top: 3rem;
  }
  
  .seccionMapa .contenedorMapa .texto{
    width: 100%;
    padding-left: 2rem;
    text-align: center;
  }

}

/*  DesktopSM  */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {

}

/*  Tablet (Tablet Horizontal) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* ---------------
  Banner
  --------------- */

  .seccionBanner {
    height: 100vh;
    height: 100%;
    min-height: 1px;
  }

  .seccionBanner .contenedorBanner {
    width: 100%;
    height: 100vh;
    max-width: none;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .seccionBanner .contenedorBanner .texto {
    width: 80%;
    height: 70vh;
    min-width: 45px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .seccionBanner .contenedorBanner .texto h1,
  .seccionBanner .contenedorBanner .texto p {
    margin: 1rem;
  }
  
  .seccionBanner .contenedorBanner .texto span {
    font-size: 2.4rem;
  }

  .seccionBanner .contenedorBanner .texto .btnanim {
    margin: 1rem auto 0 auto;
  }

}

/*  Original (Tablet Vertical) */
@media only screen and (min-width: 426px) and (max-width: 768px) {
  /* body{
      border: solid blue 2px;
  } */
}


/*  Mobile  */
@media only screen and (min-width: 1px) and (max-width: 425px) {
  /* body{
      border: solid pink 2px;
  } */
}

