@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;

}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

:root {
    --transitions: all ease-in-out 300ms;
}

h1{
    color: #ffffff;
    font-size: 3.6rem;
    font-weight: 400;
}

h2{
    color: #2BA2AF;
    font-size: 3.2rem;
    font-weight: 600;
    margin: 0 0 5rem 0;
    text-transform: uppercase;
}

h3{
    color: #162A62;
    font-size: 2.4rem;
    font-weight: 500;
    text-align: center;
    margin: 7rem 0 5rem 0;
    text-transform: uppercase;
}

h4{
    color: #162A62;
    font-size: 2.4rem;
    font-weight: 400;
    text-align: center;
    margin: 7rem 0 5rem 0;
    text-transform: uppercase;
}

p{
    font-size: 1.6rem;
    font-weight: 300;
    margin: 0 0 2rem 0;
}

ul {
    list-style: none;
}

li{
    color: #000000;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0 0 2rem 0;
}

/* ----------------------------------------
Container Logo
---------------------------------------- */

.containerLogo{
    width: 100vw;
    height: 10rem;
    position: fixed;
    background-color: #ffffff00;
    transition: var(--transitions);
    z-index: 999;
}

.containerLogo .logo{
    background-image: url(../img/logoAC.png);
    width: 30rem;
    padding: 1rem 2rem;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.activecontainerLogo{
    background-color: #162A62;
}

/* ----------------------------------------
Header
---------------------------------------- */

header{
    background-image: url(../img/fondo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container{
    width: 70vw;
    height: 30vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    min-height: 30rem;
}

header span{
    color: #f28603;
    font-size: 4.6rem;
    text-transform: uppercase;
    font-weight: 600;
}

header p{
    color: #ffffff;
    font-size: 1.6rem;
}

header a{
    text-decoration: none;
    font-size: 1.6rem;
    padding: .6rem 3rem;
    margin: 0 .6rem;
    font-weight: 300;
    transform: translateX(-.6rem);
    color: #ffffff;
    border-radius: .2rem;
    border: solid #BAE8E300 .2rem;
    background-color: #2BA2AF;
    transition: var(--transitions);
}

header a:hover{
    transform: scale(1.05);
    border: solid #BAE8E3 .2rem;
}

/* ------------------------------
Buscamos
------------------------------ */

.containerBuscamos{
    padding: 10rem 0 0 0;
    background-color: #ffffff;
}

.containerBuscamos .texto{
    padding: 0 4rem 10rem 4rem;
    width: 100%;
    min-width: 80rem;
    max-width: 180rem;
    margin: auto;
}

.containerBuscamos .texto p{
    margin: 0 4rem;
    padding: 0 0 .5rem 0;
    max-width: 100ch;
}

#image-list{
    width: 100%;
    padding: 10rem 4rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #162A62;
}

.lista{
    width: 80%;
    min-width: 85rem;
    max-width: 120rem;
    margin: auto;
    padding: 0 4rem;
}

.image-style {
    width: auto;
    height: 100px;
    height: 40px;
    transition: all 0.5s ease;
    opacity: 30%;
    /* display: none; */
}

.active .image-style{
    height: 100px;
    display: flex;
    margin: auto;
    opacity: 100%;
}

#image-list span{
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 400;
    transition: var(--transitions);
}

#image-list li .contLi{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#image-list .contImg{
    width: 200px;
    text-align: center;
}

.active span{
    color: #f28603 !important;
    font-size: 1.8rem !important;
    font-weight: 500 !important;
    text-indent: 2rem;
}

.active span::before{
    content: "- ";
}

.active span::after{
    content: " -";
}

.containerBuscamos .perfil{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.containerBuscamos .perfil img{
    width: 30%;
    margin: 2rem auto 0 auto;
}

.containerBuscamos .cartera{
    display: flex;
    justify-content: space-around;
}

/* ------------------------------
Ventajas
------------------------------ */


.containerVentajas{
    padding: 7rem 0 0 0;
}

.containerVentajas .texto{
    padding: 0 4rem 7rem 4rem;
    width: 100%;
    min-width: 80rem;
    max-width: 180rem;
    margin: auto;
}

.containerVentajas .texto ul{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.containerVentajas .texto li{
    width: 20rem;
    height: auto;
    min-height: 12rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    border-radius: 0;
    border-bottom: solid #BAE8E3 .2rem;
}

.containerVentajas .texto ul li #ventajasHover .ventajasImagen img,
.containerVentajas .texto ul li #ventajasHoverDos .ventajasImagen img,
.containerVentajas .texto ul li #ventajasHoverTres .ventajasImagen img,
.containerVentajas .texto ul li #ventajasHoverCuatro .ventajasImagen img,
.containerVentajas .texto ul li #ventajasHoverCinco .ventajasImagen img,
.containerVentajas .texto ul li #ventajasHoverSeis .ventajasImagen img,
.containerVentajas .texto ul li #ventajasHoverSiete .ventajasImagen img,
.containerVentajas .texto ul li #ventajasHoverOcho .ventajasImagen img{
    transition: var(--transitions);
}

.estiloInicial {
    color: #000000;
    display: flex;
    flex-direction: column;
    cursor: default;
}
  
.estiloInicial .ventajasTexto{
    color: #707070;
}

.estiloInicial .ventajasImagen img{
    width: auto;
    height: 10rem;
    text-align: center;
    opacity: 30%;
    margin: auto;
}

.estiloHover {
    color: #000000;
    display: flex;
    flex-direction: column;
    margin: 0;
    cursor: default;
}

.estiloHover .ventajasImagen img{
    width: auto;
    height: 12rem;
    opacity: 100%;
}

.containerVentajas .texto .ultimo{
    border: solid #BAE8E300 1px !important;
}

/* ------------------------------
Talentos
------------------------------ */

.containerTalentos{
    padding: 7rem 0 0 0;
    background-color: #ffffff;
}

.containerTalentos .texto{
    padding: 0 4rem 7rem 4rem;
    width: 100%;
    min-width: 80rem;
    max-width: 180rem;
    margin: auto;
}
.containerTalentos .texto .parrafoTres{
    text-align: center;
    font-size: 2.2rem;
    margin: 3rem 0 0 1rem;
    font-weight: 600;
    color: #f28603;
}

.talentos{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 5rem;
}

.containerTalentos .talentos .icon{
    width: 45%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    padding: 3rem;
    border-bottom: solid #162A62 .2rem;
}

.containerTalentos .talentos .icon .i{
    width: 20rem;
    height: 15rem;
    margin: 2rem auto 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/talentos001.png);
}

.containerTalentos .talentos .comisiones{
    width: 45%;
    height: auto;
    margin: 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 3rem;
    border-bottom: solid #162A62 .2rem;
}

.containerTalentos .talentos h3{
    margin: 0;
    color: #162A62;
}

.containerTalentos .talentos .comisiones .i{
    width: 20rem;
    height: 15rem;
    margin: 2rem auto 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/talentos002.png);
}

.containerTalentos .talentos .ayudamos{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 3rem;
    border-bottom: solid #162A62 .2rem;
}

.containerTalentos .talentos .ayudamos h3{
    width: auto;
    margin: 0 auto;
}

.containerTalentos .talentos .ayudamos #slider {
    width: auto;
    height: 10rem;
    margin: 0;
    border: none;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.containerTalentos .talentos .ayudamos #slider .slider-text {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 2.2rem;
    margin: 0 0 0 1rem;
    padding: 3rem 0 0 0;
    font-weight: 600;
    color: #f28603;
}

.containerTalentos .talentos .ayudamos #slider-controls {
    display: flex;
    justify-content: center;
}

.containerTalentos .talentos .ayudamos #slider-controls button{
    background-color: #ffffff;
    border: none !important;
    display: flex;
    align-items: center;
}

.containerTalentos .talentos .ayudamos #slider-controls #prevBtn{
    padding-right: 5rem;
    font-size: 2.4rem;
    color: #f28603;
    transition: var(--transitions);
}

.containerTalentos .talentos .ayudamos #slider-controls #nextBtn{
    padding-left: 5rem;
    font-size: 2.4rem;
    color: #f28603;
    transition: var(--transitions);
}

.containerTalentos .talentos .ayudamos #slider-controls #prevBtn:hover{
    font-size: 3rem;
}

.containerTalentos .talentos .ayudamos #slider-controls #nextBtn:hover{
    font-size: 3rem;
}

.containerTalentos .talentos .ayudamos .i{
    width: 20rem;
    height: 15rem;
    margin: 2rem auto 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/talentos003.png);
}

/* ------------------------------
Registro
------------------------------ */

.containerRegistro{
    padding: 7rem 0 0 0;
    background-color: #162A62;
}

.containerRegistro .texto{
    padding: 0 4rem 7rem 4rem;
    width: 100%;
    min-width: 80rem;
    max-width: 180rem;
    margin: auto;
}

.containerRegistro .texto h2,
.containerRegistro .texto p{
    text-align: center;
    color: #ffffff;
}

.containerRegistro .texto .formRegistro{
    width: 100%;
    margin: 5rem auto 0 auto;
    padding: 3rem;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: #ffffff;
}

.containerRegistro .texto .formRegistro input::-webkit-input-placeholder {
    color: #707070;
    font-size: 1rem;
}

.containerRegistro .texto form fieldset input:focus {
    background-color: none !important;
    color: none;
    outline: none;
}

.containerRegistro .texto form fieldset input {
    background-color: none !important;
    color: none;
    outline: none;
}

.containerRegistro .texto .formRegistro fieldset{
    width: 100%;
    margin: 0 0 1rem 0;
    padding: .3rem 1rem;
    color: #162A62;
    border: solid #2BA2AF .1rem;
    border-radius: .5rem;
    background-color: none;
}

.containerRegistro .texto .formRegistro legend{
    width: auto;
    margin: 0;
    padding: 0 .5rem;
    border-radius: .5rem .5rem 0 0;
    color: #162A62;
    background-color: none;
}

.containerRegistro .texto .formRegistro label{
    width: 100%;
    margin: auto;
    color: #162A62;
}

.containerRegistro .texto .formRegistro input{
    width: 100%;
    margin: auto;
    color: #162A62;
    border: none;
    background-color: none;
}

.containerRegistro .texto .formRegistro .checkbox{
    width: fit-content;
    margin: 0;
    display: flex;
}

.containerRegistro .texto .formRegistro .checkbox input{
    padding: 0;
    margin: 0;
}

.containerRegistro .texto .formRegistro .checkbox span{
    width: 5rem;
    text-align: center;
    padding: 0;
    margin: 0;
}

.containerRegistro .texto .formRegistro input[type="file"] {
    font-size: 1rem;
}

.containerRegistro .texto .formRegistro .formBoton {
    margin: auto;
    padding: .5rem 2rem;
}

.containerRegistro .texto .formRegistro .news {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: .5rem 0 0 ;
}

.containerRegistro .texto .formRegistro .checkbox {
    margin: 0 .5rem 0 0;
}

.containerRegistro .texto .formRegistro input[type="submit"] {
    width: 100%;
    text-decoration: none;
    font-size: 1.6rem;
    padding: .6rem 3rem;
    font-weight: 300;
    color: #ffffff;
    border-radius: .2rem;
    border: solid #BAE8E300 .2rem;
    background-color: #2BA2AF;
    transition: var(--transitions);
}

.containerRegistro .texto .formRegistro input[type="submit"]:hover {
    transform: scale(1.05);
    border: solid #BAE8E3 .2rem;
}

.formRegistro:focus{ 
    background-color: transparent; 
    border-bottom: 3px solid #000000 !important;
    font-size: 3rem;
}

/* ------------------------------
Footer
------------------------------ */

footer {
    background-color: #252B2F;
    padding: 5rem 10rem;
    text-align: center;
}

.containerFooter{
    display: flex;
    justify-content: space-around;
}

.containerFooter .container{
    width: 30%;
    margin: 4rem 2rem;
    padding: 0 1rem;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
}

.containerFooter .container .title{
    color: #ffffff;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.containerFooter .container .title .weight{
    font-weight: 400;
}

.containerFooter .container .subtitle{
    color: #ffffff;
    font-size: 2rem;
    text-transform: uppercase;
}

.containerFooter .container p{
    color: #ffffff;
    font-size: 1.6rem;
    margin: 2rem 0;
    padding: 0 3rem 0 0;
}

.containerFooter .container form{
    width: 70%;
    margin: 1rem 0;
    padding: 0;
    background-color: none;
    border-radius: .5rem;
    height: auto;
    display: flex;
    align-items: center;
}

.containerFooter .container fieldset{
    width: 100%;
    margin: 1rem 0 1rem 0;
    padding: 0 0 0 1rem;
    background-color: #ffffff;
    border: solid #BAE8E3 .1rem;
    border-radius: .5rem;
    height: 4rem;
    display: flex;
}

.containerFooter .container label{
    border: none;
    text-align: left;
}

.containerFooter .container input{
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: left;
    border: none;
}

.containerFooter .container .newsBoton{
    width: 22%;
    padding: 1rem 2rem;
    margin: 0;
    text-align: left;
    border: none;
    background-color: none;
}

.containerFooter .container .newsBoton input[type="submit"]{
    color: #00000000;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 2.5rem;
    text-align: left;
    border: none;
    background-color: #ffffff00;
    background-image: url(../img/send.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: var(--transitions);
}

.containerFooter .container .newsBoton input[type="submit"]:hover{
    background-image: url(../img/sendHover.png);
    transform: scale(1.02);
}

.containerFooter .container .redes{
    width: 40%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.containerFooter .container .redes li{
    transition: var(--transitions);
    border-radius: 5rem;
    background-color: #2BA2AF;
    padding: 1.2rem 1rem 1rem 1.5rem;
    width: 5rem;
    height: 5rem;
    margin: 1rem;
}

.containerFooter .container .redes li:hover{
    transform: scale(1.03);
    background-color: #2BA2AFCC;
}

.containerFooter .container .redes li a{
    text-decoration: none;
}

.containerFooter .container .redes li i{
    color: #ffffff;
    font-size: 2rem;
}

.containerFooter .container ul{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.containerFooter .container ul li{
    color: #ffffff;
    display: flex;
    align-items: center;
}

.containerFooter .container ul li i{
    color: #2BA2AF;
    padding: 0 1rem 0 0;
}

.containerFooter .container ul li a{
    color: #BAE8E3;
}

.containerFooter .container .mapa{
    width: 100%;
    height: 20rem;
    margin: 3rem 0 0 0;
    background-image: url(../img/mapa.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.containerFooter .container .mapaDos{
    width: 100%;
    height: 20rem;
    margin: 3rem 0 0 0;
    background-image: url(../img/mapaDos.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


/* ----------------------------------------
Tablet & Mobile
---------------------------------------- */
@media only screen and (max-width: 1299px){

    h1{
        font-size: 2.6rem;
    }

    h2{
        font-size: 2.6rem;
        text-align: center;
    }

    h3{
        font-size: 2.2rem;
    }

    p{
        font-size: 1.6rem;
    }

    .containerLogo{
        display: none;
    }

    /* ----------------------------------------
    Header
    ---------------------------------------- */

    header span{
        color: #f28603;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 600;
    }

    /* ------------------------------
    Buscamos
    ------------------------------ */

    .containerBuscamos{
        padding: 5rem 0 0 0;
    }
    
    .containerBuscamos .texto{
        padding: 0 0 5rem 0;
        width: 80%;
        min-width: auto;
        max-width: auto;
        margin: auto;
    }

    .containerBuscamos .texto p{
        margin: 0;
        padding: 0 0 .5rem 0;
        max-width: auto;
        text-align: center;
    }

    #image-list{
        width: 100%;
        padding: 5rem 0;
        height: auto;
        display: flex;
    }

    .lista{
        width: 80%;
        min-width: auto;
        max-width: auto;
        margin: auto;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .image-style{
        margin: 2rem auto 0 auto;
    }

    .active .image-style{
        height: 60px;
        display: flex;
        margin: 2rem auto 0 auto;
        opacity: 100%;
    }

    #image-list li{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    #image-list li .contLi{
        width: 80%;
        flex-direction: column;
        text-align: center;
    }

    #image-list .contImg{
        width: 100px;
        text-align: center;
    }

    .active span{
        color: #f28603 !important;
        font-size: 1.4rem !important;
        font-weight: 500 !important;
        text-indent: 0;
    }

    .containerBuscamos .perfil{
        flex-wrap: wrap;
    }
    
    .containerBuscamos .perfil li{
        width: 30%;
        min-width: 25rem;
    }

    .containerBuscamos .perfil img{
        width: 60%;
        margin: 2rem auto 0 auto;
    }

    /* ------------------------------
    Ventajas
    ------------------------------ */
    
    .containerVentajas{
        padding: 0;
    }

    .containerVentajas .texto{
        padding: 5rem 0;
        width: 80%;
        min-width: auto;
        max-width: auto;
        margin: auto;
    }

    .containerVentajas .texto ul{
        width: 100%;
        flex-wrap: wrap;
        gap: .2rem;
    }

    .estiloInicial .ventajasTexto{
        color: #000000;
    }

    .estiloInicial .ventajasImagen img{
        opacity: 100%;
        height: 7rem;
        margin: auto;
    }

    .estiloHover .ventajasImagen img{
        width: auto;
        height: 7rem;
        opacity: 100%;
    }

    .containerVentajas .texto .ultimo{
        display: none;
    }   

    /* ------------------------------
    Talentos
    ------------------------------ */

    .containerTalentos{
        padding: 5rem 0;
    }

    .containerTalentos .texto{
        padding: 0;
        width: 80%;
        min-width: auto;
        max-width: auto;
        margin: auto;
    }

    .talentos{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .containerTalentos .talentos .icon{
        width: 100%;
        padding: 1rem;
    }

    .containerTalentos .talentos .icon .i{
        width: 12rem;
        height: 10rem;
        margin: 1rem auto 0 auto;
    }

    .containerTalentos .talentos .comisiones{
        width: 100%;
        padding: 1rem;
    }

    .containerTalentos .talentos .comisiones .i{
        width: 12rem;
        height: 10rem;
        margin: 1rem auto 0 auto;
    }

    .containerTalentos .talentos .ayudamos{
        width: 100%;
        border-bottom: none;
        padding: 1rem 1rem 0 1rem;
    }

    .containerTalentos .talentos .ayudamos .i{
        width: 12rem;
        height: 10rem;
        margin: 1rem auto 0 auto;
    }

    .containerTalentos .texto .parrafoTres{
        font-size: 1.6rem;
        margin: 2rem 0;
    }

    .containerTalentos .talentos h3{
        width: 100%;
        font-size: 1.8rem;
    }

    .containerTalentos .talentos .ayudamos #slider .slider-text {
        font-size: 1.6rem;
        margin: 2rem 0;
    }

    .containerTalentos .talentos .ayudamos #slider-controls #prevBtn{
        font-size: 2rem;
        padding-right: 10rem;
        
    }
    
    .containerTalentos .talentos .ayudamos #slider-controls #nextBtn{
        font-size: 2rem;
        padding-left: 10rem;
    }

    /* ------------------------------
    Registro
    ------------------------------ */

    .containerRegistro{
        padding: 5rem 0;
    }

    .containerRegistro .texto{
        padding: 0;
        width: 80%;
        min-width: auto;
        max-width: auto;
        margin: auto;
    }
    
    /* ------------------------------
    Footer
    ------------------------------ */

    footer {
        padding: 5rem 0;
    }

    .containerFooter{
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .containerFooter .container{
        width: 100%;
        margin: 4rem 0;
        padding: 0;
        color: #ffffff;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }

    .containerFooter .container form{
        width: 100%;
    }

    .containerFooter .container .redes{
        width: 100%;
        margin-top: 2rem;
    }

    .containerFooter .container .redes li{
        padding: 1rem .5rem .5rem 1.2rem;
        width: 4rem;
        height: 4rem;
        margin: auto;
    }

    .containerFooter .container .redes li i{
        color: #ffffff;
        font-size: 1.6rem;
    }

    .containerFooter .container ul p{
        width: auto;
        text-align: left;
    }

    .containerFooter .container ul li i{
        width: 4rem;
        font-size: 1.4rem;
    }
    
    .containerFooter .container ul li p{
        width: auto;
        font-size: 1.4rem;
    }
    
   
    
}

/* ----------------------------------------
Tablet
---------------------------------------- */
@media only screen and (max-width: 1299px) and (min-width: 640px) {



}

/* ----------------------------------------
Mobile
---------------------------------------- */
@media only screen and (max-width: 639px){

    h1{
        font-size: 2.8rem;
        text-align: center;
    }
    
    p{
        text-align: center;
    }
    
    /* ----------------------------------------
    Header
    ---------------------------------------- */
    
    header{
        width: 100vw;
        height: auto;
    }

    header .container{
        width: 80vw;
        height: auto;
        min-height: 50rem;
    }
    
    
    header span{
        font-size: 3.2rem;
        font-weight: 600;
        text-align: center;
    }

    header a{
        margin: 0 auto;
        font-weight: 300;
        transform: translateX(0);
    }


}






