@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Maven Pro', sans-serif;
    overflow-x: hidden;

}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    background-color: var(--gris);
}

/* -------------------------
Colores
------------------------- */

:root {
    --primario: ##CE112D;
    --primarioHover: #;
    --secundario: #53565A;
    --secundarioHover: #;
    --terciario: #C9C9C8;
    --terciarioHover: #;
    --link: #;
    
    --sans-serif: 'Maven Pro', sans-serif;
    --serif: 'Source Serif Pro', serif;

    --transitions: all ease-in-out 300ms;
    --transitionsLarge: all ease-in-out 600ms;
    --transitionsXLarge: all ease-in-out 1200ms;

    --textShadow: #0000001A .2rem .2rem .1rem;
    --boxShadow: #0000001A .4rem .4rem .6rem;
}

/* -------------------------
Elementos
------------------------- */