@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    background-color: var(--grisTres);
}

/* -------------
Colores
------------- */

:root {

    --principal: #2E2C69;
    --secundario: #038DA1;
    --terciario: #283B7F;
    --vinculo: #FF8000;
    --blanco: #FFFFFF;
    --negro: #0A0A0A;
    --gris: #707070;
    --grisDos: #D0D0D0;
    --grisTres: #EEEEEE;
    
    --principal-op: #8280A5;
    --secundario-op: #4FAFBD;
    --secundario-op-dos: #DDEBED;
    --vinculo-op: #FFA64D;

    --font-principal: 'Open Sans', sans-serif;
    --font-secundaria: 'Cormorant Garamond', serif;

    --transitions: all ease-in-out 300ms;
    --transitionsLarge: all ease-in-out 600ms;
    --transitionsXLarge: all ease-in-out 1200ms;

    --textShadow: #0000001A .2rem .2rem .1rem;
    --boxShadow: #0000001A .4rem .4rem .6rem;

    --spaceSection: 10rem 0;
    --spaceDown: 0 0 5rem 0;
}

/* -------------
Elementos
------------- */

.shadow {
    text-shadow: #0000001A .2rem .2rem .1rem;
}

.shadowBox {
    box-shadow: #0000001A .4rem .4rem .6rem;
}

/* -------------
Textos
------------- */

h1 {
    font-size: 3.6rem;
    color: var(--principal);
    font-family: var(--font-principal);
}

h2 {
    font-size: 2.8rem;
    color: var(--principal);
    font-weight: 600;
    text-transform: uppercase;
}

h3 {
    font-size: 2.4rem;
    color: var(--negro);
    font-weight: 400;
}

h4 {
    font-size: 2.2rem;
    color: var(--principal);
    font-weight: 600;
    text-transform: uppercase;
}

h5 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: var(--secundario);
}

h6 {
    font-size: 2rem;
    color: var(--negro);
    font-weight: 400;
}

p{
    font-size: 1.6rem;
    color: var(--negro);
    max-width: 90ch;
}

/* -------------
Botones
------------- */

.btnPrim {
    width: fit-content;
    margin-top: 2rem;
    cursor: pointer;
    overflow: visible;
    box-shadow: var(--boxShadow);
    transition: var(--transitions);
}

.primary {
    width: 5rem;
    height: 5rem;
    background-color: var(--secundario);
    border-radius: 50rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.primary:hover {
    width: 10rem;
    height: 5rem;
}

.primary:hover::after {
    font-family: "Font Awesome 5 Free";
    color: var(--blanco);
    content: "\f061";
    padding: 2rem;
    font-size: 1.6rem;
    font-weight: 900;
    text-decoration: none;
}

.primary a{
    padding: 2rem;
    text-decoration: none;
    color: var(--blanco);
    font-size: 1.6rem;
}

.boton {
    width: fit-content;
    padding: 1.4rem 5rem;
    margin-top: 2rem;
    cursor: pointer;
    overflow: visible;
    box-shadow: var(--boxShadow);
    transition: var(--transitions);
}

.secondary {
    width: fit-content;
    margin: auto;
    background-color: var(--secundario);
    border-radius: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.secondary:hover {
    transform: scale(1.03);
}

.secondary a{
    padding: 0;
    text-decoration: none;
    color: var(--blanco);
    font-size: 1.6rem;
}

.terciary {
    margin: 0;
    padding: 7px 70px;
    border-radius: 5px;
    min-width: 250px;
    max-width: 300px;
    text-decoration: none;
    background-color: var(--morado);
    color: var(--blanco);
    font-size: 1.6rem;
}

.terciary:hover {
    transform: scale(1.02);
}

.cta {
    width: fit-content;
    margin: auto;
    background-color: var(--vinculo);
    border-radius: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.cta:hover {
    transform: scale(1.03);
}

.cta a{
    padding: 0;
    text-decoration: none;
    color: var(--blanco);
    font-size: 1.6rem;
}

/* -------------
Boton up
------------- */

.botonUp{
    margin: 0;
    padding: 0;
    right: 0;
    position: fixed;
    right: 10px;
    bottom: 0;
    z-index: 9999;
    animation: move-up 3s linear infinite;
    transition: var(--transitionsXLarge);
}

.botonUpS{
    width: 45px;
    height: 60px;
    margin: 0;
    padding: 2px 10px 5px 10px;
    border-radius: 50px;
    background-color: var(--principal);
    border: solid 1px var(--blanco);
    box-shadow: var(--boxShadow);
}
.botonUpS .st0{
    stroke: var(--blanco);
    fill: none;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

/* -------------
Menú
------------- */

header{
    width: 100vw;
}

.header {
    position: fixed;
    z-index: 9999;
    transition: var(--transitionsLarge);
    background-color: var(--terciario);
}

.header #selected {
    text-decoration: underline;
    font-weight: 700;
    color: var(--secundario-op);
}

.header #selected:hover {
    cursor: default;
}

.header .containerMenu {
    width: auto;
    margin: auto;
    max-width: 150rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
}

.header .containerMenu .logo{
    width: 13rem;
    height: 8rem;
    background-image: url();
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: var(--transitions);
}

.header .containerMenu .logo:hover{
    transform: scale(1.02);
}

.header .containerMenu ul {
display: flex;
justify-content: space-around;
}

.header .containerMenu ul li {
margin: 0 1rem;
padding: 1rem;
font-size: 1.4rem;
list-style: none;
}

.header .containerMenu a {
color: var(--secundario-op-dos);
text-decoration: none;
font-weight: 500;
transition: var(--transitions);
}

.header .containerMenu a:hover {
color: var(--secundario-op);
}

.header .menuIcon {
font-size: 2.8rem;
color: var(--blanco);
}

.header .menuIcon:hover {
font-size: 3rem;
}

/* -------------
Scroll
------------- */

.desaparece{
    opacity: 0.5;
    transition: var(--transitionsLarge);
}

.transform_upD{
    opacity: 0;
    transform: translateY(40%);
    transition: var(--transitionsLarge);
}

.transform_up{
    opacity: 0;
    transform: translateY(10%);
    transition: var(--transitionsLarge);
}

.transform_down{
    opacity: 0;
    transform: translateY(-10%);
    transition: var(--transitionsLarge);
}

.transform_left{
    opacity: 0;
    transition: var(--transitionsLarge);
    transform: translateX(10%);
}

.transform_right{
    opacity: 0;
    transition: var(--transitionsLarge);
    transform: translateX(-10%);
}

.aparece{
    opacity: 1;
    transform: none;
}

/* -------------
Secciones
------------- */

.contenedor{
    width: 90%;
    max-width: 150rem;
    min-width: 110rem;
    margin: auto;
    /* border: solid red 1px; */
}

/* -------------
Footer
------------- */

.containerFooter {
    width: 100%;
    height: auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-evenly;
    background-color: #313131;
}

.footerCaja {
    width: 20%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.footerCaja .titulo-caja {
    font-size: 2rem;
    color: var(--secundario-op);
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
}

.footerCaja .titulo-mex {
    font-size: 1.8rem;
    color: var(--secundario);
    font-weight: 600;
    text-align: left;
}

.footerCaja img {
    width: 80%;
    max-width: 200px;
    margin: auto;
}

.footerCaja ul {
    text-align: left;
}

.footerCaja li {
    display: flex;
    margin: 10px auto;
    padding: 10px 10px;
}

.footerCaja a {
    color: var(--blanco);
    text-decoration: none;
    font-weight: 100;
    font-size: 1.4rem;

    display: flex;
}

.footerCaja a:hover {
    color: var(--secundario-op-dos);
    transform: scale(1.02);
}

.footerCaja i {
    width: 4rem;
    color: var(--secundario-op);
}

.footerMex {
    text-align: left;
}

.footerLinea {
    border-bottom: solid var(--blanco) 1px;
    border-radius: 2px;
    margin: 0 0 20px 0;
}

.footerRedes {
    display: flex;
    justify-content: space-evenly;
}

.footerRedes i {
    color: var(--secundario-op-dos);
    font-size: 2.4rem;
}

/* 
.footerRedes i:hover {
    color: var(--vinculo-op);
}
 */

@keyframes move-vector {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes move-up {
    0% {
        transform: translateY(0);
    }
    
    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

/*Tablet & Mobile--------------------------------------------------------------*/
@media only screen and (max-width: 1199px) {

    :root{
        --spaceSection: 50px 0;
        --spaceDown: 0 0 40px 0;
    }

    /*Menu---------------------------------------------------------------------*/

    .bars__menu {
        width: 34px;
        padding: 4px 7px;
        height: 30px;
        border-radius: 4px;
        cursor: pointer;
        position: fixed;
        top: 40px;
        right: -5px;
        transform: translate(-50%, -50%);
        overflow: visible;
        z-index: 99999;
        background-color: var(--blanco-op);
    }

    .bars__menu span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--morado);
        margin: 4px 0 0 0;
        border-radius: 1px;
        transform-origin: 0px 100%;
        transition: var(--transitions);
    }

    .activeline1__bars-menu {
        transform: rotate(47deg) translate(0px, -1px);
    }

    .activeline2__bars-menu {
        opacity: 0;
        margin-left: -30px;
    }

    .activeline3__bars-menu {
        transform: rotate(-47deg) translate(0px, 2.5px);
    }

    /*Menu hide---------------------------------------------------------------*/

    .logoBloc {
        display: none;
    }

    /*Header menu-------------------------------------------------------------*/

    header {
        width: 60vw;
        height: 100vh;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: var(--blanco-menu);
        transition: var(--transitionsLarge);
        transform: translateX(1100px);
        z-index: 9;
        position: fixed;
    }

    .headerInicio {
        width: 60vw;
    }

    .headerInicio .containerMenu ul li a{
        color: var(--morado);
    }
    
    
    
    header #selected {
        text-decoration: underline;
        font-weight: 600;
    }

    .containerMenu {
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .containerMenu ul {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .containerMenu ul li {
        padding: 20px 0;
    }

    .activecontainerMenu {
        transform: translateX(0);
    }

    .headerX .onlyMobile{
        display: NONEflex;
    }

    /*Boton Up -----------------------------------------------------------------------*/

    .botonUp{
        left: calc(50vw - 18px);
    }

    .botonUpS{
        width: 36px;
        height: 50px;
        padding: 2px 6px 5px 6px;
    }

    .botonUpS .st0{
        stroke: var(--blanco);
        fill: none;
        stroke-width: 3;
        stroke-linecap: round;
        stroke-miterlimit: 10;
    }

    /*Cuenta ----------------------------------------------------------------------*/

    .cuentaCuadro {
        width: 80%;
        max-width: 700px;
        background-color: var(--morado-claro-op);
    }

    .cuentaCuadro h5 {
        color: var(--morado);
    }

    .cuentaDentro:hover {
        transform: none;
        cursor: auto;
    }

    .cuentaDentro{
        display: none;
    }
    
    .cuentaDentroDos{
        display: flex;
        margin: auto;
        text-align: center;
        display: flex;
        align-items: center;
        margin: 20px auto;
        cursor: default;
    }

    .cuentaDentroCollapse {
        width: 90%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .cuentaDentroCollapse form{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .cuentaDentroCollapse label{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 8px 0;
    }

    .cuentaDentroCollapse span {
        color: var(--negro);
        font-size: 1.2rem;
        padding: 0 0 2px 0;
        text-align: left;
    }
    
    .cuentaDentroCollapse input {
        font-size: 1.2rem;
        height: 30px;
        border: solid var(--morado) 1px;
        border-radius: 3px;
        color: var(--gris-oscuro);
        padding: 2px 5px;
    }

    .cuentaDentroCollapse .tycCuenta {
        width: 100%;
        flex-direction: row;
        align-items: center;
        min-width: 350px;
    }
    
    .cuentaDentroCollapse .tycCuenta input {
        width: 14px;
        cursor: pointer;
    }
    
    .cuentaDentroCollapse .tycCuenta span {
        padding: 0 5px;
    }
    
    .cuentaDentroCollapse a {
        font-size: 1.4rem;
        color: var(--verde-link);
    }
    
    .cuentaDentroCollapse button {
        width: 94%;
        margin: 10px 3%;
        max-width: none;
    }
    

    /*Footer-------------------------------------------------------------------*/

    .containerFooter {
        width: 100vw;
        padding: 50px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: var(--gris-oscuro);
    }

    .footerCaja {
        width: 80%;
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
    }
    
    .footerCaja h3 {
        text-align: center;
    }
    
    .footerCaja ul{
        text-align: center;
    }
    
    .footerCaja ul{
        display: flex;
        flex-direction: column;
    }
    
    .footerCaja .footerRedes{
        display: flex;
        flex-direction: row;
    }
    
    .footerRedes i {
        color: var(--blanco);
        font-size: 3.4rem;
    }

    .footerLineaDos {
        width: 80%;
        margin: 20px 0;
        border-radius: 2px;
        border: solid var(--blanco) 1px;
    }

    /*Headers de pags-------------------------------------------------------------*/

    .sectionHeaderPags {
        width: 100vw;
        height: 100vh;
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .sectionHeaderPags .text {
        width: 80vw;
        min-width: 400px;
        max-width: 800px;
        margin: 40px auto;
        padding: 40px 0;
        border-radius: 5px;
        background-color: var(--blanco-op);
        text-align: center;
    }

    .sectionHeaderPags h2 {
        color: var(--blanco);
    }

    .sectionHeaderPags p {
        width: 80%;
        min-width: 300px;
        margin: 0 auto 20px auto;
        text-align: justify;
    }
}

/* Mobile--------------------------------------------------------------*/
@media only screen and (max-width: 640px){

    /*Textos --------------------*/

    h1 {
        font-size: 3.0rem;
    }

    h2 {
        font-size: 2.4rem;
        color: var(--azul);
        font-weight: 500;
        text-transform: uppercase;
    }

    h3 {
        font-size: 2rem;
        color: var(--azul);
        font-weight: 500;
    }

    h4 {
        font-size: 3.8rem;
        color: var(--blanco);
        font-weight: 400;
        font-family: var(--serif);
    }

    h5 {
        font-size: 1.8rem;
        color: var(--blanco);
        font-weight: 500;
    }

    h6 {
        font-size: 1.6rem;
        color: var(--blanco);
        font-weight: 300;
        font-family: var(--serif);
    }

    p {
        font-size: 1.6rem;
    }

    li {
        font-size: 1.4rem;
    }

    /*Botones --------------------------------------------------------*/

    .primary {
        min-width: none;
        max-width: none;
        font-size: 1.4rem;
    }
    
    .secondary {
        min-width: none;
        max-width: none;
        font-size: 1.4rem;
    }
    
    .terciary {
        min-width: none;
        max-width: none;
        font-size: 1.4rem;
    }
    
    /* Header--------------------------------------------------------------*/
    
    .headerMenu {
        width: 100vw;
    }
    
    /* Cuenta--------------------------------------------------------------*/
    
    .cuentaCuadro {
        width: 90%;
        padding: 0 3%;
        max-width: 700px;
        background-color: var(--morado-claro-op);
    }

    .cuentaTexto{
        width: 76%;
    }

    /* Section Header Pags--------------------------------------------------------------*/
    
    .sectionHeaderPags {
        width: 100vw;
        height: 100vh;
        min-height: 100px;
        max-height: none;
        padding: 0;
        justify-content: center;
    }
    
    .sectionHeaderPags .text {
        width: 90vw;
        min-width: 100px;
        max-width: none;
        margin: 20px auto;
        padding: 20px;
    }
    
    .sectionHeaderPags h2 {
        color: var(--blanco);
        margin: 0 0 40px 0;
    }
    
    .sectionHeaderPags p {
        width: 90%;
        min-width: 100px;
        margin: 30px auto 30px auto;
        text-align: center;
    }
    
    .sectionHeaderPags .boton {
        width: 90%;
        margin: 20px auto 30px auto;
    }

    /*Elemento "Verifica RUAL" en menú------------------------------------------------------------------*/

    .headerInicio .containerMenu .menuMob li .onlyMobile{
        display: flex;
        color: var(--blanco);
        font-weight: 500;
        padding: 5px 10px;
        background-color: var(--azul);
        border: solid var(--azul) 2px;
        border-radius: 5px;
        margin: 60px 0;
    }
    
    .headerX .containerMenu .menuMob li .onlyMobile{
        display: flex;
        color: var(--blanco);
        font-weight: 500;
        padding: 5px 10px;
        background-color: var(--azul);
        border: solid var(--azul) 2px;
        border-radius: 5px;
        margin: 60px 0;
    }
    
}