.main-nav {
    margin: 10px 0 0 0;
    padding: 10px;
    list-style: none;
    background-color: #13a4a4;
}

.main-nav__item {
    display: inline-block;
}

.main-nav__item a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
}

.main-nav__item a:hover {
    color: blue;
}

.main-nav__item a:active {
    color: red;
}

.main-nav__item a::after {
    content: "..";
}