@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--blanco);

    font-family: "Montserrat", serif !important;
    font-optical-sizing: auto !important;
    font-style: normal !important;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

}

:root {
    --azul: #142F77;

    --negro: #020202;
    --negro-dos: #2A2A2A;

    --gris: #808080;
    --gris-dos: #A9A9A9;

    --blanco: #FFFFFF;
    --blanco-dos: #FFFFFFEE;

    --transition: ease-in-out 200ms;

    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


    --liquid: #2E6B8F;
}

h1 {
    color: var(--blanco) !important;
    font-size: 16rem !important;
    text-transform: uppercase !important;
    font-weight: 800 !important;
    margin-bottom: 6rem !important;
}

h2 {
    color: var(--blanco) !important;
    font-size: 6rem !important;
    text-transform: uppercase !important;
    font-weight: 800 !important;
    margin-bottom: 1rem !important;
}

h5 {
    color: var(--blanco) !important;
    font-size: 3rem !important;
    text-transform: uppercase !important;
}

p {
    font-size: 1.6rem;
    color: var(--blanco) !important;
}

a {
    font-size: 1.6rem;
}

li {
    color: var(--blanco);
    font-size: 2rem;
}

section {
    padding: 5rem 0;
}

/* NAV */

nav {
    background-color: var(--blanco);
}

.nav-text {
    font-size: 1.6rem;
}

.navbar-brand img {
    min-width: 4rem;
    height: auto;
}

/* VIDEO */

.video {
    min-height: calc(100vh - 5rem) !important;
    background-color: var(--azul) !important;
    margin-top: 4rem !important;
}


/* SERVICIOS */
.servicios {
    min-height: 100vh !important;
    background-color: var(--azul) !important;
}

.servicios .cont-cards {
    display: flex;
    flex-direction: row;
}

.servicios .cont-cards div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicios .cont-cards .icono {
    width: 8rem;
    height: 8rem;
    border-radius: 10rem;
    transform: translateY(2rem);
}

.servicios p {
    color: var(--blanco);
    font-size: 3rem;
    text-transform: uppercase;
}

/* PROYECTOS */
.proyectos {
    background-color: var(--azul) !important;
}

.proyectos .carousel-item .cont-carousel {
    width: 80%;
    margin: 8rem auto;
    display: flex;
    justify-content: center;
}

.proyectos .card {
    width: 25%;
    margin: 0 1.5rem;
    background-color: var(--azul);
}

.proyectos .card p {
    color: var(--blanco);
}

/* FLUJO */
.flujo {
    background-color: var(--azul) !important;
}

.flujo .img-flujo-uno,
.flujo .img-flujo-dos {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flujo .img-flujo-uno {
    background-image: url(./img/puntoDeVenta.png);

}

.flujo .img-flujo-dos {
    background-image: url(./img/puntoDeVenta.png);
}

.flujo .cont-flujo {
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin: 2.5rem auto;
}

/* PROYECTOS */

.proyectos-dos {
    background-color: var(--azul) !important;
}

.cont-proyecto {
    margin: 0 auto 18em auto !important;
}

.img-proyecto {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.proy-01 {
    background-image: url(./img/puntoDeVenta.png);
}

.proyectos-dos ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 30rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.proyectos-dos li {
    width: calc(50% - 2.5rem);
    margin: .5rem 0 .5rem 1rem;
}

.galeria-proyectos {
    margin-top: 5rem !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.proy-01-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 16rem;
    width: 20%;
}

.proy-01-img-01 {
    background-image: url(./img/puntoDeVenta.png);
}

/* FOOTER */

footer {
    background-color: var(--negro-dos);
}

.cont-footer {
    margin: 4rem auto !important;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

.footer-redes {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.cont-footer ul {
    text-decoration: none !important;
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

.cont-footer ul li {
    text-decoration: none !important;
}

.cont-footer ul a {
    text-decoration: none !important;
    display: flex;
    justify-content: start;
    align-items: center;
}

.cont-footer ul li i {
    font-size: 3rem;
    margin: .5rem 1.5rem;
    color: var(--blanco);
    text-decoration: none !important;
}

.cont-footer ul li p {
    padding: 0 !important;
    margin: 0 !important;
}


/* LIQUID */

.cont-copy {
    background-color: var(--gris);
}

.cont-int-copy {
    margin: 2rem auto 1.5rem auto !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont-int-copy p,
.cont-int-copy a {
    padding: 0 !important;
    margin: 0 !important;
}

.cont-int-copy p {
    margin-right: 3rem !important;
}

.cont-int-copy a {
    text-decoration: none;
    color: var(--blanco) !important;
    font-weight: 300;

    display: flex;
    justify-content: start;
    align-items: center;
}

.cont-int-copy a span {
    color: var(--blanco) !important;
    font-size: 3rem;
    font-weight: 600;
}

.cont-int-copy .logo-liquid {
    height: 10rem;
    width: auto;
    margin-left: 3rem;
    transition: ease-in-out 200ms;

    .st0 {
        fill: none;
        stroke: #FFFFFF;
        stroke-width: 3.1046;
        stroke-miterlimit: 10;
    }

    .st1 {
        fill: #FFFFFF;
    }

    .st2 {
        fill: none;
        stroke: #FFFFFF;
        stroke-width: 0.3105;
        stroke-linecap: round;
        stroke-miterlimit: 10;
    }

}



.cont-int-copy .logo-liquid:hover {

    transform: scale(1.12);
    transition: ease-in-out 200ms;

    .st0 {
        fill: none;
        stroke: var(--liquid);
        stroke-width: 3.1046;
        stroke-miterlimit: 10;
    }

    .st1 {
        fill: var(--liquid);
    }

    .st2 {
        fill: none;
        stroke: var(--liquid);
        stroke-width: 0.3105;
        stroke-linecap: round;
        stroke-miterlimit: 10;
    }

}

.cont-liquid {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.liquid-contacto {
    font-size: 2rem;
    transition: ease-in-out 200ms;
}

.liquid-contacto:hover {
    color: var(--liquid) !important;
    font-size: 2.2rem;
    font-weight: 600;
    transition: ease-in-out 200ms;
}