@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}
a{
    text-decoration:underline;
    color: #1e5f66;
}
/*menu principal*/
.menu{
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    color: #1e5f66;
    text-transform: uppercase;
}
.hipervinculo{
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    color: #1e5f66;
}
.texbanner{
    font-family: 'Noto Sans';
    font-size: 20px;
    text-align: left;
    color: #1e5f66;
}
.h1{
    font-family: 'Bitter';
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    color: #69B5BD;
    text-transform: uppercase;
}
/*actividades*/
.fechas2{
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #000000;
    text-shadow: 2px 2px 2px #828282;
}
.fechas1{
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #000000;
    text-shadow: 4px 4px 4px #82828290;
}
.evento{
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    color: #1E5F66;
}
.infoevento{
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 14px;
    text-align: left;
    color: #000000;
}
.texboto{
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    background-color: #36997c;
    border-radius: 50px;
    width: 160px;
}
/*programas*/
.texto1{
    font-family: 'Noto Sans';
    font-size: 16px;
    text-align: left;
    color: #000000;
}
.h3{
    font-family: 'Bitter';
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    color: #69B5BD;
}
.infopaneles{
    font-family: 'Noto Sans';
    font-size: 14px;
    text-align: left;
    color: #000000;
}
.h2{
    font-family: 'Bitter';
    font-weight: 700;
    font-size: 22px;
    text-align: left;
    color: #69B5BD;
    text-transform: uppercase;
}
/*footer*/
.enlace{
    font-family: 'Noto Sans';
    font-size: 16px;
    text-align: center;
    color: #1E5F66;
    text-transform: uppercase;

}
.redes{
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    color: #1E5F66;
    text-transform: uppercase;
}
/*...*/
.tituloh1{
    font-family: 'Bitter';
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #69B5BD;
    text-transform: uppercase;
}
.h32{
    font-family: 'Bitter';
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    color: #69B5BD;
}
.texto2{
    font-family: 'Noto Sans';
    font-size: 16px;
    text-align: left;
    color: #1E5F66;
}
.texto3{
    font-family: 'Noto Sans';
    font-size: 16px;
    text-align: center;
    color: #000000;
}
/*...*/
#bullet1{
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 48px;
    text-align: left;
    color: #7af6f5;
}
#bullet2{
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 48px;
    text-align: left;
    color: #2e9f9e;
}
#bullet3{
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 48px;
    text-align: left;
    color: #1f4444;
}
.texto4{
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    color: #000000;
}
#cita{
    font-family: 'Noto Sans';
    font-weight: 700;
    font-style: italic;
    font-size: 22px;
    text-align: left;
    color: #828282;
}
